{% extends "finale_base.html" %}
{% block title %}Financial Lightweight Editor - Setup{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
				containerChanged();
				gridster = $(".gridster ul").gridster({
					widget_margins: [10, 10],
					widget_base_dimensions: [340, 340],
					resize: {
						enabled: true,
						max_size: [4, 4],
						min_size: [1, 1]
					}
				}).data('gridster');
{% endblock %}
{% block headeroptions %}
<script>
	var currentItem = 0;
	var emptyWidget = "<li><div class='form-group'>&nbsp;</div><div class='form-group'><label for='title_%%index%%' class='control-label col-lg-2'>Title</label><div class='col-lg-9'><input name='title_%%index%%' id='title_%%index%%' type='text' class='form-control' placeholder='Input block title here'/></div></div><div class='form-group'><label for='type_%%index%%' class='control-label col-lg-2'>Type</label><div class='col-lg-9'><select id='type_%%index%%' name='type_%%index%%' class='form-control'></select></div></div><div class='form-group' id='content_%%index%%'></div></li>";
	var gridster;

	var allFieldsInformation;
	var allFields;
	var singleFields;
	var multipleFields;

	var blockData = {};

	function onCallError(e) {
		alert(e.status);
	}

	function containerFieldsSaved(e) {

	}

	function saveLayout() {
		var gridsterLayout = gridster.serialize();
		var toSave = {"layout": gridsterLayout, "data": blockData};
		var containerSetup = {}
		containerSetup.type = $("#containerType").val();
		containerSetup.information = toSave;
		var updateForm = new FormData();
		updateForm.append('container_setup', JSON.stringify(containerSetup));
		updateForm.append('item',urlParams['item']);
		updateForm.append('type',urlParams['type']);
		updateForm.append('render_name','view');
		$.ajax({
			url: '/container_setup_save.html',
			type: 'POST',
			data: updateForm,
			processData: false,
			contentType: false,
			success: containerFieldsSaved,
			error: onCallError
		});
	}

	function onForeignClick(index, fieldName) {
		var target = "#fieldsList_" + index + " > ";
		$(target + ".sub-" + fieldName).toggleClass("hidden");
	}

	function onFieldClick(index, fieldName) {
		var target = "#fieldsList_" + index + " > ";
		var key = index.toString();
		if (!blockData.hasOwnProperty(index)) {
			blockData[key] = [];
		}
		if (fieldName.indexOf(".")!==-1) {
			var mainField = fieldName.substring(0, fieldName.indexOf("."));
			var subField = fieldName.substring(fieldName.indexOf(".") + 1);
			var fullField = mainField + '.' + subField;
			$(".main-" + mainField + ".multiple-master").removeClass("list-group-item-warning");

			if ($(".main-" + subField + ".sub-" + mainField + ".list-group-item-info").length===1) {
				blockData[key].push(fullField);
			} else {
				blockData[key].splice(blockData[key].indexOf(fullField), 1);
			}
			$(".main-" + subField + ".sub-" + mainField).toggleClass("list-group-item-success");
			$(".main-" + subField + ".sub-" + mainField).toggleClass("list-group-item-info");
			if ($(".sub-" + mainField + ".list-group-item-success").length>0) {
				$(".main-" + mainField + ".multiple-master").addClass("list-group-item-warning");
			}
		} else {
			if ($(target + ".main-" + fieldName + ":not(.multiple-master)").hasClass("list-group-item-success")) {
				blockData[key].splice(blockData[key].indexOf(fieldName), 1);
			} else {
				blockData[key].push(fieldName);
			}
			$(target + ".main-" + fieldName + ":not(.multiple-slave)").toggleClass("list-group-item-success");
		}

	}

	function changeType(index) {
		var selectedType = $("#type_" + index).val();
		$("#content_" + index).empty();
		var htmlToAppend = "";
		if (selectedType=="LAYOUT_OBJECT_TYPE_SINGLES") {
			htmlToAppend += "<div id='fieldsList_" + index + "' class='list-group col-lg-offset-1 col-lg-10 pre-scrollable' style='height: 200px;'>";
			$.each(singleFields, function(valueIndex, value) {
				if (allFieldsInformation[value].type.lastIndexOf("FIELD_TYPE_", 0)===0) {
					htmlToAppend += '<a class="list-group-item main-' + value + '" onclick="onFieldClick(' + index + ',\'' + value + '\')">' + value + '</a>';
				} else {
					htmlToAppend += '<a class="list-group-item multiple-master main-' + value + '" onclick="onForeignClick(' + index + ',\'' + value + '\')">' + value + '</a>';

					var subCurrentList = [];
					$.each(allFieldsInformation[value].fields, function(subIndex, subValue) {
						subCurrentList.push(subIndex);
					});
					subCurrentList.sort();
					$.each(subCurrentList, function (subIndex, subValue) {
						htmlToAppend += '<a class="list-group-item list-group-item-info multiple-slave hidden main-' + subValue + ' sub-' + value + '" onclick="onFieldClick(' + index + ',\'' + value + '.' + subValue + '\')">' + subValue + '</a>';
					});

				}
			});
			htmlToAppend += "</div>";
		}
		$("#content_" + index).append(htmlToAppend);
	}
	
	function addWidget() {
		gridster.add_widget.apply(gridster, [emptyWidget.replaceAll('%%index%%', currentItem),1,1]);
		var index = currentItem;
		$("#type_" + currentItem).load("/static/templates/layout_object_type_select_en.html", function() {
			changeType(index);
		});
		$("#type_" + currentItem).attr('onchange','changeType(' + currentItem + ')');
		
		currentItem = currentItem + 1;
	}

	function fieldsLoaded(e) {
		allFieldsInformation = e.result;
		for (var index=currentItem-1;index>=0;index--) {
			gridster.remove_widget($('.gridster li').eq(index));
		}
		currentItem = 0;
		allFields = [];
		singleFields = [];
		multipleFields = [];

		$.each(e.result, function(index, value) {
			allFields.push(index);
		});
		allFields.sort();
		$.each(allFields, function(index, value) {
			if (e.result[value].type.lastIndexOf("FIELD_TYPE_", 0)===0) {
				singleFields.push(value);
			} else {
				if (e.result[value].type==='ForeignKey') {
					singleFields.push(value);
				} else {
					multipleFields.push(value);
				}
			}
		});
	}

	function containerChanged() {
		initialLoad = true;
		var fieldsForm = new FormData();
		fieldsForm.append('container_type', $("#containerType").val());
		$.ajax({
			url: '/object_fields_get.html',
			type: 'POST',
			data: fieldsForm,
			processData: false,
			contentType: false,
			success: fieldsLoaded,
			error: onCallError
		});
	}

</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">Details page definition</h1>
	  			<p class="lead">Define the information and layout of the details page.<br/>
			</div>
		</div>
		<div class="row">
			<select class="form-control no-enter" id="containerType" name="containerType" onchange="containerChanged()">
				{% with value='' %}
					{% include selection_template %}
				{% endwith %}
			</select>
			<b
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<button class="btn btn-default col-lg-3" type="button" data-placement="bottom" title="Create a new widget to the current layout" onclick="addWidget()">Add</button>
			<button class="btn btn-default col-lg-offset-6 col-lg-3" type="button" data-placement="bottom" title="Save the current layout" onclick="saveLayout()">Save</button>
		</div>
		<div class="row">
			<form class="form-horizontal" role="form">
				<div id="layoutGrid" class="gridster col-lg-12">
					<ul id="layoutGridContent">
					</ul>
				</div>
			</form>
		</div>
{% endblock %}