{% extends "finale_base.html" %}
{% block title %}Financial Lightweight Editor - Setup{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
				containerChanged();
				gridster = $(".gridster ul").gridster({
					widget_margins: [10, 10],
					widget_base_dimensions: [340, 340],
					resize: {
						enabled: true,
						max_size: [4, 4],
						min_size: [1, 1]
					}
				}).data('gridster');
{% endblock %}
{% block headeroptions %}
<script>
	var currentItem = 0;
	var emptyWidget = "<li><div class='form-group'>&nbsp;</div><div class='form-group'><label for='title_%%index%%' class='control-label col-lg-2'>Title</label><div class='col-lg-9'><input name='title_%%index%%' id='title_%%index%%' type='text' class='form-control' placeholder='Input block title here'/></div></div><div class='form-group'><label for='type_%%index%%' class='control-label col-lg-2'>Type</label><div class='col-lg-9'><select id='type_%%index%%' name='type_%%index%%' class='form-control'></select></div></div><div class='form-group' id='content_%%index%%'></div></li>";
								
								
	var gridster;

	var allFieldsInformation;
	var allFields;
	var singleFields;
	var multipleFields;

	function onCallError(e) {
		alert(e.status);
	}

	function changeType(index) {

	}
	
	function addWidget() {
		gridster.add_widget.apply(gridster, [emptyWidget.replaceAll('%%index%%', currentItem),1,1]);
		$("#type_" + currentItem).load("/static/templates/layout_object_type_select_en.html", function() {
			$("#type_" + currentItem).attr('onclick','changeType(' + index + ')');
		});
		
		currentItem = currentItem + 1;
	}

	function fieldsLoaded(e) {
		allFieldsInformation = e.result;
		allFields = [];
		singleFields = [];
		multipleFields = [];

		$.each(e.result, function(index, value) {
			allFields.push(index);
		});
		allFields.sort();
		$.each(allFields, function(index, value) {
			if (e.result[value].type.lastIndexOf("FIELD_TYPE_", 0)===0) {
				singleFields.push(value);
			} else {
				if (e.result[value].type==='ForeignKey') {
					singleFields.push(value);
				} else {
					multipleFields.push(value);
				}
			}
		});
	}

	function containerChanged() {
		initialLoad = true;
		var fieldsForm = new FormData();
		fieldsForm.append('container_type', $("#containerType").val());
		$.ajax({
			url: '/object_fields_get.html',
			type: 'POST',
			data: fieldsForm,
			processData: false,
			contentType: false,
			success: fieldsLoaded,
			error: onCallError
		});
	}

</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">Details page definition</h1>
	  			<p class="lead">Define the information and layout of the details page.<br/>
			</div>
		</div>
		<div class="row">
			<select class="form-control no-enter" id="containerType" name="containerType" onchange="containerChanged()">
				{% with value='' %}
					{% include selection_template %}
				{% endwith %}
			</select>
			<b
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<button class="btn btn-default col-lg-3" type="button" data-placement="bottom" title="Create a new widget to the current layout" onclick="addWidget()">Add</button>
		</div>
		<div class="row">
			<form class="form-horizontal" role="form">
				<div id="layoutGrid" class="gridster col-lg-12">
					<ul id="layoutGridContent">
					</ul>
				</div>
			</form>
		</div>
{% endblock %}