{% extends "finale_base.html" %}
{% load universe_tags %}
{% block title %}Financial Lightweight Editor - Backtest wizard{% endblock %}
{% block headeroptions %}
		<script>
			$(document).ready(function () {
				$(".btn").not('#comment').tooltip();
				$(".no-enter").keydown( function(e) {
					if (e.keyCode == 13) {
						e.preventDefault();
					}
				});
				$("#fromDate").datepicker({ dateFormat: "yy-mm-dd" });
				$("#toDate").datepicker({ dateFormat: "yy-mm-dd" });
				$("#organicDate").datepicker({ dateFormat: "yy-mm-dd" });
				$("#reweight").change(function(e) {
					alert(e.value);
					if (e.value) {
						$(".organic").attr("class","");
					} else {
						$(".organic").attr("class","hidden");
					}
				});
				$("#gotoStepTwo").click(function(e) {
					e.preventDefault();
					$("#step-one").collapse("toggle");
					$("#step-two").collapse("toggle");
					return false; // IE
				});

				$("#gotoStepThree").click(function(e) {
					e.preventDefault();
					$("#step-two").collapse("toggle");
					$("#step-three").collapse("toggle");
					return false; // IE
				});
				
				$(".weight-field").keydown( function(e) {
					if (e.keyCode==13) {
						e.preventDefault();
					} else {
						if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
							return;
						}
						if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
							e.preventDefault();
						}
					}
				});
				checkAllSteps();
				updateTotalAllocation();
			});

			function executeGotoStepTwo(e) {
				alert("ttsts");
				e.preventDefault();
				return false;
			}

			function updateTotalAllocation() {
				var total = 0.0;
				$(".weight-field").each(function() {
					total += Number($(this).val());
				});
				$("#totalAllocation").val(total);
				checkStepTwo();
			}

			function checkAllSteps() {
				var completed = checkStepOne() && checkStepTwo() && checkStepThree();
				if (completed) {
					$("#launchButton").attr("class","btn btn-success col-lg-12");
				} else {
					$("#launchButton").attr("class","btn btn-success col-lg-12 disabled");
				}
				return completed;
			}

			function checkStepOne() {
				if ($("#backtestName").val() && $("#fromDate").val()) {
					$("#gotoStepTwo").attr("class","btn btn-success col-lg-offset-10 col-lg-1");
					return true;
				} else {
					$("#gotoStepTwo").attr("class","btn btn-success col-lg-offset-10 col-lg-1 disabled");
					return false;
				}
			}

			function checkStepTwo() {
				var allocation = Number($("#totalAllocation").val());
				if ($("#backtestName").val() && $("#fromDate").val() && allocation>0 && allocation<=100) {
					$("#gotoStepThree").attr("class","btn btn-success col-lg-offset-10 col-lg-1");
					return true;
				} else {
					$("#gotoStepThree").attr("class","btn btn-success col-lg-offset-10 col-lg-1 disabled");
					return false;
				}
			}

			function checkStepThree() {
				if ($("#backtestName").val()!='' && $("#fromDate").val()!='') {
					return true;
				} else {
					return false;
				}
			}

		</script>
{% endblock %}
{% block content %}
			<div class="row">
				<div class="col-lg-11">
					<h1 class="">Backtest an universe</h1>
					<p class="lead">Reload or create a backtest on the given universe: {{universe.name}}<br/>
				</div>
			</div>
			<form id="backtestWizard" role="form" class="form-horizontal" action="/backtest_wizard_execute.html" method="POST">{% csrf_token %}
				<div class="panel-group" id="wizard">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#wizard" href="#step-one">Definition</a>
							</h4>
						</div>
						<div id="step-one" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="form-group">
									<label for="backtestName" class="col-lg-2 control-label">Name</label>
									<div class="col-lg-4">
										<input type="hidden" id="universeId" name="universeId" value="{{universe.id}}">
										<input type="text" class="form-control no-enter" id="backtestName" name="backtestName" placeholder="Backtest name" onchange="checkAllSteps()">
									</div>
									<label class="col-lg-1 control-label">or</label>
									<button class="btn btn-default col-lg-4" role="button" data-toggle="tooltip" data-placement="bottom" title="Select and load an existing backtest setup" onclick"">Load</button>
								</div>
								<div class="form-group">
									<label for="fromDate" class="col-lg-2 control-label">From</label>
									<div class="col-lg-4">
										<input type="text" class="form-control no-enter" id="fromDate" name="fromDate" placeholder="Start date" onchange="checkAllSteps()">
									</div>
									<label for="toDate" class="col-lg-1 control-label">to</label>
									<div class="col-lg-4">
										<input type="text" class="form-control no-enter" id="toDate" name="toDate" placeholder="End date, it can be empty!" onchange="checkAllSteps()">
									</div>
								</div>
								<div class="form-group">
									<label for="frequency" class="col-lg-2 control-label">Frequency</label>
									<div class="col-lg-4">
										<select class='form-control no-enter' id='frequency' name='frequency' onchange="checkAllSteps()">
											{% with value="FREQ_MONTHLY" %}
												{% include 'statics/frequency_en.html' %}
											{% endwith %}
										</select>
									</div>
									<label for="currency" class="col-lg-1 control-label">Currency</label>
									<div class="col-lg-4">
										<select class='form-control no-enter' id='currency' name='currency' onchange="checkAllSteps()">
											{% with value="CURR_EUR" %}
												{% include 'statics/currency_en.html' %}
											{% endwith %}
										</select>
									</div>
								</div>
								<div class="row">
									<button id="gotoStepTwo" class="btn btn-success col-lg-offset-10 col-lg-1 disabled">Next</button>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#wizard" href="#step-two">Set securities weights</a>
							</h4>
						</div>
						<div id="step-two" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label for="reweight" class="col-lg-2 control-label">Reweight policy</label>
									<div class="checkbox col-lg-3">
										<input id="reweight" name="reweight" type="checkbox" value="True" onchange="checkAllSteps()">&nbsp;Reweight on frequency period
									</div>
									<label for="organicDate" class="col-lg-3 control-label organic">Allow organic growth as of</label>
									<div class="col-lg-2">
										<input type="text" class="form-control organic no-enter" id="organicDate" name="organicDate" placeholder="Date" onchange="checkAllSteps()">
									</div>
								</div>
							</div>
							{% include 'rendition/wizard_backtest_form_weights.html' %}
							<div class="form-group">
								<label for="totalAllocation" class="col-lg-4 control-label">Allocation</label>
								<div class="col-lg-2">
									<input id="totalAllocation" name="totalAllocation" type="text" class="form-control text-right no-enter" disabled="disabled">
								</div>
								<button id="gotoStepThree" class="btn btn-success col-lg-offset-4 col-lg-1 disabled">Next</button>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#wizard" href="#step-three">Define your computation rules</a>
							</h4>
						</div>
						<div id="step-three" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label for="hedgingMethod" class="col-lg-2 control-label">Hedging method</label>
									<div class="col-lg-4">
										<select class='form-control no-enter' id='hedgingMethod' name='hedgingMethod' onchange="checkAllSteps()">
											{% with value="HEDGING_METHOD_NONE" %}
												{% include 'statics/hedging_method_en.html' %}
											{% endwith %}
										</select>
									</div>
									<label for="feesScheme" class="col-lg-2 control-label">Fees scheme</label>
									<div class="col-lg-4">
										<select class='form-control no-enter' id='feesScheme' name='feesScheme' onchange="checkAllSteps()">
											{% with value="FEES_SCHEME_NONE" %}
												{% include 'statics/fees_scheme_en.html' %}
											{% endwith %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="leverage" class="col-lg-2 control-label">Leverage</label>
									<div class="col-lg-4">
										<select class='form-control no-enter' id='leverage' name='leverage' onchange="checkAllSteps()">
											{% with value="LEVERAGE_NONE" %}
												{% include 'statics/leverage_en.html' %}
											{% endwith %}
										</select>
									</div>
									<label for="leverageLevel" class="col-lg-2 control-label">Leverage level</label>
									<div class="col-lg-4">
										<input id="leverageLevel" name="leverageLevel" type="text" class="form-control text-right no-enter" disabled="disabled">
									</div>
								</div>
								<div class="form-group">
									<label for="historyCompletion" class="col-lg-2 control-label">History completion</label>
									<div class="col-lg-4">
										<select class='form-control no-enter' id='historyCompletion' name='historyCompletion' onchange="checkAllSteps()">
											{% with value="HISTORY_COMPLETION_NONE" %}
												{% include 'statics/history_completion_en.html' %}
											{% endwith %}
										</select>
									</div>
									<label for="initialAUM" class="col-lg-2 control-label">Initial AUM</label>
									<div class="col-lg-4">
										<input id="initialAUM" name="initialAUM" type="text" class="form-control text-right no-enter" value="1000000">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button id="launchButton" type="submit" class="btn btn-success col-lg-12 disabled" role="button" data-toggle="tooltip" data-placement="bottom" title="Launch the computation with selected parameters">Compute</button>
				</div>
			</form>
{% endblock %}