{% extends "finale_base.html" %}
{% load universe_tags %}
{% block title %}Financial Lightweight Editor - {{container.name}}{% endblock %}
{% block headeroptions %}
		<script>
			var chart;

			$(document).ready(function () {
		     	$(".btn").not('#comment').tooltip();
		     	$(".comment").popover();
		     	csrftoken = getCookie('csrftoken');
				$("#modal_view_track").on('shown.bs.modal', function () {
					chart.invalidateSize();
				});
			   });


			function onCallError(e) {
				alert(e.status);
			}

			function trackLoaded(e) {
				chart = AmCharts.makeChart(
					"track_content",
					{
						"type": "serial",
						"theme": "none",
						"pathToImages": "./static/amcharts/images/",
						"dataDateFormat": "YYYY-MM-DD",
						"balloonDateFormat": "YYYY-MM-DD",
						"balloon":[{"balloonText":"[[date]]: [[value]]"}],
						"valueAxes": [ { "axisAlpha": 0, "position": "left" } ],
						"graphs": [ { "id":"history","bullet": "round", "bulletSize":3, "lineThickness":2, "valueField": "value" } ],
						"categoryField": "date",
						"categoryAxis": { "parseDates": true, "dashLength": 1, "minorGridEnabled": true },
						"dataProvider": e
					}
					);
				$("#modal_view_track").modal('show');
			}

			function showTrack(trackId) {
				var trackForm = new FormData();
				trackForm.append('track_id', trackId);
				$.ajax({
					url: '/track_get.html',
					type: 'POST',
					data: trackForm,
					processData: false,
					contentType: false,
					success: trackLoaded
				});
			}

		</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{{ container.name }}</h1>
	  			<p class="lead">{% if container.short_description %}{{ container.short_description }}{% else %}No description is available.{% endif %}<br/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<table class="table table.striped">
					<tr>
						<th>Type</th>
						<th>Frequency</th>
						<th>Source</th>
						<th>Quality</th>
						<th></th>
					</tr>
				{% for track in tracks %}
					<tr>
						<td>{{track.type.name}}</td>
						<td>{{track.frequency.name}}{% if track.frequency_reference %} [{{track.frequency_reference.name}}]{% endif %}</td>
						<td>{{track.source.name}}</td>
						<td>{{track.quality.name}}</td>
						<td><button class="btn btn-default" role="button" data-placement="bottom" title="View {{track.frequency.name|lower}} {{track.quality.name|lower}} {{track.type.name|lower}} track of {{container.name}}" onclick="showTrack('{{track.id}}')">
							<span class="glyphicon glyphicon-signal"></span>
						</button></td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>

		<div class="modal fade" id="modal_view_track" tabindex="-1" role="dialog" aria-labelledby="modal_view_track" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_view_track">{{container.name}}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-2"><strong>Short name:</strong></div>
							<div class="col-lg-7">{% if container.short_name %}{{container.short_name}}{% else %}None{% endif %}</div>
							<div class="col-lg-1"><strong>Currency:</strong></div>
							<div class="col-lg-2">{% if container.currency %}{{container.currency.name}}{% else %}None{% endif %}</div>
						</div>
						<div class="row">
							<div id="track_content" class="col-lg-12" style="height: 400px;">
							</div>
						</div>
						<div class="row">
						</div>
						<div class="row">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}