
<option value='BB_COUNTRY_LU_AF'
	{% if value == 'BB_COUNTRY_LU_AF' %}selected{% endif %}>AFGHANISTAN</option>

<option value='BB_COUNTRY_LU_AX'
	{% if value == 'BB_COUNTRY_LU_AX' %}selected{% endif %}>Aland Islands</option>

<option value='BB_COUNTRY_LU_AL'
	{% if value == 'BB_COUNTRY_LU_AL' %}selected{% endif %}>ALBANIA</option>

<option value='BB_COUNTRY_LU_DZ'
	{% if value == 'BB_COUNTRY_LU_DZ' %}selected{% endif %}>ALGERIA</option>

<option value='BB_COUNTRY_LU_AD'
	{% if value == 'BB_COUNTRY_LU_AD' %}selected{% endif %}>ANDORRA</option>

<option value='BB_COUNTRY_LU_AO'
	{% if value == 'BB_COUNTRY_LU_AO' %}selected{% endif %}>ANGOLA</option>

<option value='BB_COUNTRY_LU_AI'
	{% if value == 'BB_COUNTRY_LU_AI' %}selected{% endif %}>ANGUILLA</option>

<option value='BB_COUNTRY_LU_A5'
	{% if value == 'BB_COUNTRY_LU_A5' %}selected{% endif %}>ANGUILLA</option>

<option value='BB_COUNTRY_LU_AQ'
	{% if value == 'BB_COUNTRY_LU_AQ' %}selected{% endif %}>ANTARCTICA</option>

<option value='BB_COUNTRY_LU_AG'
	{% if value == 'BB_COUNTRY_LU_AG' %}selected{% endif %}>ANTIGUA &amp; BARBU</option>

<option value='BB_COUNTRY_LU_AR'
	{% if value == 'BB_COUNTRY_LU_AR' %}selected{% endif %}>ARGENTINA</option>

<option value='BB_COUNTRY_LU_AM'
	{% if value == 'BB_COUNTRY_LU_AM' %}selected{% endif %}>ARMENIA</option>

<option value='BB_COUNTRY_LU_AB'
	{% if value == 'BB_COUNTRY_LU_AB' %}selected{% endif %}>ARUBA</option>

<option value='BB_COUNTRY_LU_AW'
	{% if value == 'BB_COUNTRY_LU_AW' %}selected{% endif %}>ARUBA</option>

<option value='BB_COUNTRY_LU_AU'
	{% if value == 'BB_COUNTRY_LU_AU' %}selected{% endif %}>AUSTRALIA</option>

<option value='BB_COUNTRY_LU_AT'
	{% if value == 'BB_COUNTRY_LU_AT' %}selected{% endif %}>AUSTRIA</option>

<option value='BB_COUNTRY_LU_AZ'
	{% if value == 'BB_COUNTRY_LU_AZ' %}selected{% endif %}>AZERBAIJAN</option>

<option value='BB_COUNTRY_LU_BS'
	{% if value == 'BB_COUNTRY_LU_BS' %}selected{% endif %}>BAHAMAS</option>

<option value='BB_COUNTRY_LU_BH'
	{% if value == 'BB_COUNTRY_LU_BH' %}selected{% endif %}>BAHRAIN</option>

<option value='BB_COUNTRY_LU_BB'
	{% if value == 'BB_COUNTRY_LU_BB' %}selected{% endif %}>BARBADOS</option>

<option value='BB_COUNTRY_LU_BK'
	{% if value == 'BB_COUNTRY_LU_BK' %}selected{% endif %}>BELARUS</option>

<option value='BB_COUNTRY_LU_BE'
	{% if value == 'BB_COUNTRY_LU_BE' %}selected{% endif %}>BELGIUM</option>

<option value='BB_COUNTRY_LU_BJ'
	{% if value == 'BB_COUNTRY_LU_BJ' %}selected{% endif %}>BENIN</option>

<option value='BB_COUNTRY_LU_BD'
	{% if value == 'BB_COUNTRY_LU_BD' %}selected{% endif %}>BERMUDA</option>

<option value='BB_COUNTRY_LU_BT'
	{% if value == 'BB_COUNTRY_LU_BT' %}selected{% endif %}>BHUTAN</option>

<option value='BB_COUNTRY_LU_BQ'
	{% if value == 'BB_COUNTRY_LU_BQ' %}selected{% endif %}>Bonaire, Saint</option>

<option value='BB_COUNTRY_LU_BY'
	{% if value == 'BB_COUNTRY_LU_BY' %}selected{% endif %}>BOSNIA-HERZE.</option>

<option value='BB_COUNTRY_LU_BA'
	{% if value == 'BB_COUNTRY_LU_BA' %}selected{% endif %}>BOSNIA-HERZE.</option>

<option value='BB_COUNTRY_LU_BW'
	{% if value == 'BB_COUNTRY_LU_BW' %}selected{% endif %}>BOTSWANA</option>

<option value='BB_COUNTRY_LU_BO'
	{% if value == 'BB_COUNTRY_LU_BO' %}selected{% endif %}>BOTSWANA</option>

<option value='BB_COUNTRY_LU_BV'
	{% if value == 'BB_COUNTRY_LU_BV' %}selected{% endif %}>BOUVET ISLAND</option>

<option value='BB_COUNTRY_LU_BR'
	{% if value == 'BB_COUNTRY_LU_BR' %}selected{% endif %}>BRAZIL</option>

<option value='BB_COUNTRY_LU_BZ'
	{% if value == 'BB_COUNTRY_LU_BZ' %}selected{% endif %}>BRAZIL</option>

<option value='BB_COUNTRY_LU_EN'
	{% if value == 'BB_COUNTRY_LU_EN' %}selected{% endif %}>BRITAIN</option>

<option value='BB_COUNTRY_LU_GB'
	{% if value == 'BB_COUNTRY_LU_GB' %}selected{% endif %}>BRITAIN</option>

<option value='BB_COUNTRY_LU_VS'
	{% if value == 'BB_COUNTRY_LU_VS' %}selected{% endif %}>BRITISH VIRGIN</option>

<option value='BB_COUNTRY_LU_BN'
	{% if value == 'BB_COUNTRY_LU_BN' %}selected{% endif %}>BRUNEI</option>

<option value='BB_COUNTRY_LU_BM'
	{% if value == 'BB_COUNTRY_LU_BM' %}selected{% endif %}>BRUNEI</option>

<option value='BB_COUNTRY_LU_BP'
	{% if value == 'BB_COUNTRY_LU_BP' %}selected{% endif %}>BULGARIA</option>

<option value='BB_COUNTRY_LU_BF'
	{% if value == 'BB_COUNTRY_LU_BF' %}selected{% endif %}>BURKINA FASO</option>

<option value='BB_COUNTRY_LU_BG'
	{% if value == 'BB_COUNTRY_LU_BG' %}selected{% endif %}>BURUNDI</option>

<option value='BB_COUNTRY_LU_BI'
	{% if value == 'BB_COUNTRY_LU_BI' %}selected{% endif %}>BURUNDI</option>

<option value='BB_COUNTRY_LU_KH'
	{% if value == 'BB_COUNTRY_LU_KH' %}selected{% endif %}>CAMBODIA</option>

<option value='BB_COUNTRY_LU_CM'
	{% if value == 'BB_COUNTRY_LU_CM' %}selected{% endif %}>CAMEROON</option>

<option value='BB_COUNTRY_LU_CA'
	{% if value == 'BB_COUNTRY_LU_CA' %}selected{% endif %}>CANADA</option>

<option value='BB_COUNTRY_LU_CV'
	{% if value == 'BB_COUNTRY_LU_CV' %}selected{% endif %}>CAPE VERDE</option>

<option value='BB_COUNTRY_LU_CF'
	{% if value == 'BB_COUNTRY_LU_CF' %}selected{% endif %}>CENTRAL AFRICA</option>

<option value='BB_COUNTRY_LU_TD'
	{% if value == 'BB_COUNTRY_LU_TD' %}selected{% endif %}>CHAD</option>

<option value='BB_COUNTRY_LU_CHNL'
	{% if value == 'BB_COUNTRY_LU_CHNL' %}selected{% endif %}>CHANNEL ISLANDS</option>

<option value='BB_COUNTRY_LU_CL'
	{% if value == 'BB_COUNTRY_LU_CL' %}selected{% endif %}>CHILE</option>

<option value='BB_COUNTRY_LU_CX'
	{% if value == 'BB_COUNTRY_LU_CX' %}selected{% endif %}>CHRISTMAS IS.</option>

<option value='BB_COUNTRY_LU_CO'
	{% if value == 'BB_COUNTRY_LU_CO' %}selected{% endif %}>COLOMBIA</option>

<option value='BB_COUNTRY_LU_CN'
	{% if value == 'BB_COUNTRY_LU_CN' %}selected{% endif %}>COMOROS</option>

<option value='BB_COUNTRY_LU_KM'
	{% if value == 'BB_COUNTRY_LU_KM' %}selected{% endif %}>COMOROS</option>

<option value='BB_COUNTRY_LU_CG'
	{% if value == 'BB_COUNTRY_LU_CG' %}selected{% endif %}>CONGO</option>

<option value='BB_COUNTRY_LU_CK'
	{% if value == 'BB_COUNTRY_LU_CK' %}selected{% endif %}>COOK ISLANDS</option>

<option value='BB_COUNTRY_LU_CR'
	{% if value == 'BB_COUNTRY_LU_CR' %}selected{% endif %}>COSTA RICA</option>

<option value='BB_COUNTRY_LU_HR'
	{% if value == 'BB_COUNTRY_LU_HR' %}selected{% endif %}>CROATIA</option>

<option value='BB_COUNTRY_LU_CU'
	{% if value == 'BB_COUNTRY_LU_CU' %}selected{% endif %}>CUBA</option>

<option value='BB_COUNTRY_LU_CT'
	{% if value == 'BB_COUNTRY_LU_CT' %}selected{% endif %}>CURACAO</option>

<option value='BB_COUNTRY_LU_CW'
	{% if value == 'BB_COUNTRY_LU_CW' %}selected{% endif %}>CURACAO</option>

<option value='BB_COUNTRY_LU_CC'
	{% if value == 'BB_COUNTRY_LU_CC' %}selected{% endif %}>CYPRUS</option>

<option value='BB_COUNTRY_LU_CY'
	{% if value == 'BB_COUNTRY_LU_CY' %}selected{% endif %}>CYPRUS</option>

<option value='BB_COUNTRY_LU_CZ'
	{% if value == 'BB_COUNTRY_LU_CZ' %}selected{% endif %}>CZECH</option>

<option value='BB_COUNTRY_LU_CD'
	{% if value == 'BB_COUNTRY_LU_CD' %}selected{% endif %}>DEM.REP. CONGO</option>

<option value='BB_COUNTRY_LU_DK'
	{% if value == 'BB_COUNTRY_LU_DK' %}selected{% endif %}>DENMARK</option>

<option value='BB_COUNTRY_LU_DJ'
	{% if value == 'BB_COUNTRY_LU_DJ' %}selected{% endif %}>DJIBOUTI</option>

<option value='BB_COUNTRY_LU_DM'
	{% if value == 'BB_COUNTRY_LU_DM' %}selected{% endif %}>DOMINICA</option>

<option value='BB_COUNTRY_LU_DO'
	{% if value == 'BB_COUNTRY_LU_DO' %}selected{% endif %}>DOMINICAN REPB.</option>

<option value='BB_COUNTRY_LU_DR'
	{% if value == 'BB_COUNTRY_LU_DR' %}selected{% endif %}>DOMINICAN REPB.</option>

<option value='BB_COUNTRY_LU_XD'
	{% if value == 'BB_COUNTRY_LU_XD' %}selected{% endif %}>EAST CARIBBEAN</option>

<option value='BB_COUNTRY_LU_TL'
	{% if value == 'BB_COUNTRY_LU_TL' %}selected{% endif %}>EAST TIMOR</option>

<option value='BB_COUNTRY_LU_ED'
	{% if value == 'BB_COUNTRY_LU_ED' %}selected{% endif %}>ECUADOR</option>

<option value='BB_COUNTRY_LU_EG'
	{% if value == 'BB_COUNTRY_LU_EG' %}selected{% endif %}>EGYPT</option>

<option value='BB_COUNTRY_LU_EL'
	{% if value == 'BB_COUNTRY_LU_EL' %}selected{% endif %}>EL SALVADOR</option>

<option value='BB_COUNTRY_LU_EQ'
	{% if value == 'BB_COUNTRY_LU_EQ' %}selected{% endif %}>EQUATORIAL</option>

<option value='BB_COUNTRY_LU_GQ'
	{% if value == 'BB_COUNTRY_LU_GQ' %}selected{% endif %}>EQUATORIAL</option>

<option value='BB_COUNTRY_LU_ER'
	{% if value == 'BB_COUNTRY_LU_ER' %}selected{% endif %}>ERITREA</option>

<option value='BB_COUNTRY_LU_EE'
	{% if value == 'BB_COUNTRY_LU_EE' %}selected{% endif %}>ESTONIA</option>

<option value='BB_COUNTRY_LU_ET'
	{% if value == 'BB_COUNTRY_LU_ET' %}selected{% endif %}>ETHIOPIA</option>

<option value='BB_COUNTRY_LU_EC'
	{% if value == 'BB_COUNTRY_LU_EC' %}selected{% endif %}>EUROZONE</option>

<option value='BB_COUNTRY_LU_TE'
	{% if value == 'BB_COUNTRY_LU_TE' %}selected{% endif %}>EUROZONE</option>

<option value='BB_COUNTRY_LU_FO'
	{% if value == 'BB_COUNTRY_LU_FO' %}selected{% endif %}>FAEROE ISLAND</option>

<option value='BB_COUNTRY_LU_FK'
	{% if value == 'BB_COUNTRY_LU_FK' %}selected{% endif %}>FALKLAND IS.</option>

<option value='BB_COUNTRY_LU_FJ'
	{% if value == 'BB_COUNTRY_LU_FJ' %}selected{% endif %}>FIJI</option>

<option value='BB_COUNTRY_LU_FI'
	{% if value == 'BB_COUNTRY_LU_FI' %}selected{% endif %}>FINLAND</option>

<option value='BB_COUNTRY_LU_FR'
	{% if value == 'BB_COUNTRY_LU_FR' %}selected{% endif %}>FRANCE</option>

<option value='BB_COUNTRY_LU_GF'
	{% if value == 'BB_COUNTRY_LU_GF' %}selected{% endif %}>FRENCH GUIANA</option>

<option value='BB_COUNTRY_LU_PF'
	{% if value == 'BB_COUNTRY_LU_PF' %}selected{% endif %}>FRENCH PACIFIC</option>

<option value='BB_COUNTRY_LU_TF'
	{% if value == 'BB_COUNTRY_LU_TF' %}selected{% endif %}>FRENCH SOUTHERN</option>

<option value='BB_COUNTRY_LU_GO'
	{% if value == 'BB_COUNTRY_LU_GO' %}selected{% endif %}>GABON</option>

<option value='BB_COUNTRY_LU_GA'
	{% if value == 'BB_COUNTRY_LU_GA' %}selected{% endif %}>GAMBIA</option>

<option value='BB_COUNTRY_LU_GE'
	{% if value == 'BB_COUNTRY_LU_GE' %}selected{% endif %}>GERMANY</option>

<option value='BB_COUNTRY_LU_DE'
	{% if value == 'BB_COUNTRY_LU_DE' %}selected{% endif %}>GERMANY</option>

<option value='BB_COUNTRY_LU_GH'
	{% if value == 'BB_COUNTRY_LU_GH' %}selected{% endif %}>GHANA</option>

<option value='BB_COUNTRY_LU_GI'
	{% if value == 'BB_COUNTRY_LU_GI' %}selected{% endif %}>GIBRALTAR</option>

<option value='BB_COUNTRY_LU_GR'
	{% if value == 'BB_COUNTRY_LU_GR' %}selected{% endif %}>GREECE</option>

<option value='BB_COUNTRY_LU_GL'
	{% if value == 'BB_COUNTRY_LU_GL' %}selected{% endif %}>GREENLAND</option>

<option value='BB_COUNTRY_LU_GD'
	{% if value == 'BB_COUNTRY_LU_GD' %}selected{% endif %}>GRENADA</option>

<option value='BB_COUNTRY_LU_GP'
	{% if value == 'BB_COUNTRY_LU_GP' %}selected{% endif %}>GUADELOUPE</option>

<option value='BB_COUNTRY_LU_GM'
	{% if value == 'BB_COUNTRY_LU_GM' %}selected{% endif %}>GUAM</option>

<option value='BB_COUNTRY_LU_GU'
	{% if value == 'BB_COUNTRY_LU_GU' %}selected{% endif %}>GUATEMALA</option>

<option value='BB_COUNTRY_LU_GT'
	{% if value == 'BB_COUNTRY_LU_GT' %}selected{% endif %}>GUATEMALA</option>

<option value='BB_COUNTRY_LU_GG'
	{% if value == 'BB_COUNTRY_LU_GG' %}selected{% endif %}>GUERNSEY</option>

<option value='BB_COUNTRY_LU_GN'
	{% if value == 'BB_COUNTRY_LU_GN' %}selected{% endif %}>GUINEA</option>

<option value='BB_COUNTRY_LU_GW'
	{% if value == 'BB_COUNTRY_LU_GW' %}selected{% endif %}>GUINEA-BISSAU</option>

<option value='BB_COUNTRY_LU_GY'
	{% if value == 'BB_COUNTRY_LU_GY' %}selected{% endif %}>GUYANA</option>

<option value='BB_COUNTRY_LU_HT'
	{% if value == 'BB_COUNTRY_LU_HT' %}selected{% endif %}>HAITI</option>

<option value='BB_COUNTRY_LU_HM'
	{% if value == 'BB_COUNTRY_LU_HM' %}selected{% endif %}>HEARD/MACDONLD</option>

<option value='BB_COUNTRY_LU_HN'
	{% if value == 'BB_COUNTRY_LU_HN' %}selected{% endif %}>HONDURAS</option>

<option value='BB_COUNTRY_LU_HK'
	{% if value == 'BB_COUNTRY_LU_HK' %}selected{% endif %}>HONG KONG</option>

<option value='BB_COUNTRY_LU_HU'
	{% if value == 'BB_COUNTRY_LU_HU' %}selected{% endif %}>HUNGARY</option>

<option value='BB_COUNTRY_LU_IC'
	{% if value == 'BB_COUNTRY_LU_IC' %}selected{% endif %}>ICELAND</option>

<option value='BB_COUNTRY_LU_IN'
	{% if value == 'BB_COUNTRY_LU_IN' %}selected{% endif %}>INDIA</option>

<option value='BB_COUNTRY_LU_ID'
	{% if value == 'BB_COUNTRY_LU_ID' %}selected{% endif %}>INDONESIA</option>

<option value='BB_COUNTRY_LU_IA'
	{% if value == 'BB_COUNTRY_LU_IA' %}selected{% endif %}>IRAN</option>

<option value='BB_COUNTRY_LU_IQ'
	{% if value == 'BB_COUNTRY_LU_IQ' %}selected{% endif %}>IRAQ</option>

<option value='BB_COUNTRY_LU_IE'
	{% if value == 'BB_COUNTRY_LU_IE' %}selected{% endif %}>IRELAND</option>

<option value='BB_COUNTRY_LU_IR'
	{% if value == 'BB_COUNTRY_LU_IR' %}selected{% endif %}>IRELAND</option>

<option value='BB_COUNTRY_LU_IM'
	{% if value == 'BB_COUNTRY_LU_IM' %}selected{% endif %}>ISLE OF MAN</option>

<option value='BB_COUNTRY_LU_IO'
	{% if value == 'BB_COUNTRY_LU_IO' %}selected{% endif %}>ISLE OF MAN</option>

<option value='BB_COUNTRY_LU_IL'
	{% if value == 'BB_COUNTRY_LU_IL' %}selected{% endif %}>ISRAEL</option>

<option value='BB_COUNTRY_LU_IS'
	{% if value == 'BB_COUNTRY_LU_IS' %}selected{% endif %}>ISRAEL</option>

<option value='BB_COUNTRY_LU_IT'
	{% if value == 'BB_COUNTRY_LU_IT' %}selected{% endif %}>ITALY</option>

<option value='BB_COUNTRY_LU_IV'
	{% if value == 'BB_COUNTRY_LU_IV' %}selected{% endif %}>IVORY COAST</option>

<option value='BB_COUNTRY_LU_CI'
	{% if value == 'BB_COUNTRY_LU_CI' %}selected{% endif %}>IVORY COAST</option>

<option value='BB_COUNTRY_LU_JM'
	{% if value == 'BB_COUNTRY_LU_JM' %}selected{% endif %}>JAMAICA</option>

<option value='BB_COUNTRY_LU_JN'
	{% if value == 'BB_COUNTRY_LU_JN' %}selected{% endif %}>JAPAN</option>

<option value='BB_COUNTRY_LU_JP'
	{% if value == 'BB_COUNTRY_LU_JP' %}selected{% endif %}>JAPAN</option>

<option value='BB_COUNTRY_LU_JE'
	{% if value == 'BB_COUNTRY_LU_JE' %}selected{% endif %}>JERSEY</option>

<option value='BB_COUNTRY_LU_JO'
	{% if value == 'BB_COUNTRY_LU_JO' %}selected{% endif %}>JORDAN</option>

<option value='BB_COUNTRY_LU_KZ'
	{% if value == 'BB_COUNTRY_LU_KZ' %}selected{% endif %}>KAZAKHSTAN</option>

<option value='BB_COUNTRY_LU_KE'
	{% if value == 'BB_COUNTRY_LU_KE' %}selected{% endif %}>KENYA</option>

<option value='BB_COUNTRY_LU_KB'
	{% if value == 'BB_COUNTRY_LU_KB' %}selected{% endif %}>KIRIBATI</option>

<option value='BB_COUNTRY_LU_KW'
	{% if value == 'BB_COUNTRY_LU_KW' %}selected{% endif %}>KUWAIT</option>

<option value='BB_COUNTRY_LU_KU'
	{% if value == 'BB_COUNTRY_LU_KU' %}selected{% endif %}>KUWAIT</option>

<option value='BB_COUNTRY_LU_KY'
	{% if value == 'BB_COUNTRY_LU_KY' %}selected{% endif %}>KYRGYZSTAN</option>

<option value='BB_COUNTRY_LU_KG'
	{% if value == 'BB_COUNTRY_LU_KG' %}selected{% endif %}>KYRGYZSTAN</option>

<option value='BB_COUNTRY_LU_LO'
	{% if value == 'BB_COUNTRY_LU_LO' %}selected{% endif %}>LAOS</option>

<option value='BB_COUNTRY_LU_LA'
	{% if value == 'BB_COUNTRY_LU_LA' %}selected{% endif %}>LAOS</option>

<option value='BB_COUNTRY_LU_LL'
	{% if value == 'BB_COUNTRY_LU_LL' %}selected{% endif %}>LATVIA</option>

<option value='BB_COUNTRY_LU_LV'
	{% if value == 'BB_COUNTRY_LU_LV' %}selected{% endif %}>LATVIA</option>

<option value='BB_COUNTRY_LU_LE'
	{% if value == 'BB_COUNTRY_LU_LE' %}selected{% endif %}>LEBANON</option>

<option value='BB_COUNTRY_LU_LB'
	{% if value == 'BB_COUNTRY_LU_LB' %}selected{% endif %}>LEBANON</option>

<option value='BB_COUNTRY_LU_LS'
	{% if value == 'BB_COUNTRY_LU_LS' %}selected{% endif %}>LESOTHO</option>

<option value='BB_COUNTRY_LU_LH'
	{% if value == 'BB_COUNTRY_LU_LH' %}selected{% endif %}>LESOTHO</option>

<option value='BB_COUNTRY_LU_LR'
	{% if value == 'BB_COUNTRY_LU_LR' %}selected{% endif %}>LIBERIA</option>

<option value='BB_COUNTRY_LU_LY'
	{% if value == 'BB_COUNTRY_LU_LY' %}selected{% endif %}>LIBYA</option>

<option value='BB_COUNTRY_LU_LI'
	{% if value == 'BB_COUNTRY_LU_LI' %}selected{% endif %}>LIECHTENSTEIN</option>

<option value='BB_COUNTRY_LU_LT'
	{% if value == 'BB_COUNTRY_LU_LT' %}selected{% endif %}>LITHUANIA</option>

<option value='BB_COUNTRY_LU_LN'
	{% if value == 'BB_COUNTRY_LU_LN' %}selected{% endif %}>LITHUANIA</option>

<option value='BB_COUNTRY_LU_LU'
	{% if value == 'BB_COUNTRY_LU_LU' %}selected{% endif %}>LUXEMBOURG</option>

<option value='BB_COUNTRY_LU_LX'
	{% if value == 'BB_COUNTRY_LU_LX' %}selected{% endif %}>LUXEMBOURG</option>

<option value='BB_COUNTRY_LU_U2'
	{% if value == 'BB_COUNTRY_LU_U2' %}selected{% endif %}>MACAU</option>

<option value='BB_COUNTRY_LU_Z5'
	{% if value == 'BB_COUNTRY_LU_Z5' %}selected{% endif %}>MACEDONIA</option>

<option value='BB_COUNTRY_LU_MG'
	{% if value == 'BB_COUNTRY_LU_MG' %}selected{% endif %}>MADAGASCAR</option>

<option value='BB_COUNTRY_LU_MW'
	{% if value == 'BB_COUNTRY_LU_MW' %}selected{% endif %}>MALAWI</option>

<option value='BB_COUNTRY_LU_MV'
	{% if value == 'BB_COUNTRY_LU_MV' %}selected{% endif %}>MALDIVES</option>

<option value='BB_COUNTRY_LU_ML'
	{% if value == 'BB_COUNTRY_LU_ML' %}selected{% endif %}>MALI REPUBLIC</option>

<option value='BB_COUNTRY_LU_MB'
	{% if value == 'BB_COUNTRY_LU_MB' %}selected{% endif %}>MALTA</option>

<option value='BB_COUNTRY_LU_MT'
	{% if value == 'BB_COUNTRY_LU_MT' %}selected{% endif %}>MALTA</option>

<option value='BB_COUNTRY_LU_MH'
	{% if value == 'BB_COUNTRY_LU_MH' %}selected{% endif %}>MARSHALL ISLAND</option>

<option value='BB_COUNTRY_LU_MR'
	{% if value == 'BB_COUNTRY_LU_MR' %}selected{% endif %}>MAURITANIA</option>

<option value='BB_COUNTRY_LU_MU'
	{% if value == 'BB_COUNTRY_LU_MU' %}selected{% endif %}>MAURITIUS</option>

<option value='BB_COUNTRY_LU_YT'
	{% if value == 'BB_COUNTRY_LU_YT' %}selected{% endif %}>MAYOTTE</option>

<option value='BB_COUNTRY_LU_MX'
	{% if value == 'BB_COUNTRY_LU_MX' %}selected{% endif %}>MEXICO</option>

<option value='BB_COUNTRY_LU_FM'
	{% if value == 'BB_COUNTRY_LU_FM' %}selected{% endif %}>MICRONESIA</option>

<option value='BB_COUNTRY_LU_MIX'
	{% if value == 'BB_COUNTRY_LU_MIX' %}selected{% endif %}>Mixed</option>

<option value='BB_COUNTRY_LU_MK'
	{% if value == 'BB_COUNTRY_LU_MK' %}selected{% endif %}>MOLDOVA</option>

<option value='BB_COUNTRY_LU_MD'
	{% if value == 'BB_COUNTRY_LU_MD' %}selected{% endif %}>MOLDOVA</option>

<option value='BB_COUNTRY_LU_MC'
	{% if value == 'BB_COUNTRY_LU_MC' %}selected{% endif %}>MONACO</option>

<option value='BB_COUNTRY_LU_MQ'
	{% if value == 'BB_COUNTRY_LU_MQ' %}selected{% endif %}>MONACO</option>

<option value='BB_COUNTRY_LU_MN'
	{% if value == 'BB_COUNTRY_LU_MN' %}selected{% endif %}>MONGOLIA</option>

<option value='BB_COUNTRY_LU_MJ'
	{% if value == 'BB_COUNTRY_LU_MJ' %}selected{% endif %}>MONGOLIA</option>

<option value='BB_COUNTRY_LU_YV'
	{% if value == 'BB_COUNTRY_LU_YV' %}selected{% endif %}>MONTENEGRO</option>

<option value='BB_COUNTRY_LU_ME'
	{% if value == 'BB_COUNTRY_LU_ME' %}selected{% endif %}>MONTENEGRO</option>

<option value='BB_COUNTRY_LU_MS'
	{% if value == 'BB_COUNTRY_LU_MS' %}selected{% endif %}>MONTSERRAT</option>

<option value='BB_COUNTRY_LU_MO'
	{% if value == 'BB_COUNTRY_LU_MO' %}selected{% endif %}>MOROCCO</option>

<option value='BB_COUNTRY_LU_MA'
	{% if value == 'BB_COUNTRY_LU_MA' %}selected{% endif %}>MOROCCO</option>

<option value='BB_COUNTRY_LU_MZ'
	{% if value == 'BB_COUNTRY_LU_MZ' %}selected{% endif %}>MOZAMBIQUE</option>

<option value='BB_COUNTRY_LU_MULT'
	{% if value == 'BB_COUNTRY_LU_MULT' %}selected{% endif %}>MULT</option>

<option value='BB_COUNTRY_LU_MY'
	{% if value == 'BB_COUNTRY_LU_MY' %}selected{% endif %}>MYANMAR</option>

<option value='BB_COUNTRY_LU_MM'
	{% if value == 'BB_COUNTRY_LU_MM' %}selected{% endif %}>MYANMAR</option>

<option value='BB_COUNTRY_LU_NA'
	{% if value == 'BB_COUNTRY_LU_NA' %}selected{% endif %}>NAMIBIA</option>

<option value='BB_COUNTRY_LU_NU'
	{% if value == 'BB_COUNTRY_LU_NU' %}selected{% endif %}>NAURU ISLAND</option>

<option value='BB_COUNTRY_LU_NP'
	{% if value == 'BB_COUNTRY_LU_NP' %}selected{% endif %}>NEPAL</option>

<option value='BB_COUNTRY_LU_AN'
	{% if value == 'BB_COUNTRY_LU_AN' %}selected{% endif %}>NETH. ANTILLES</option>

<option value='BB_COUNTRY_LU_NV'
	{% if value == 'BB_COUNTRY_LU_NV' %}selected{% endif %}>NETH. ANTILLES</option>

<option value='BB_COUNTRY_LU_NL'
	{% if value == 'BB_COUNTRY_LU_NL' %}selected{% endif %}>NETHERLANDS</option>

<option value='BB_COUNTRY_LU_NZ'
	{% if value == 'BB_COUNTRY_LU_NZ' %}selected{% endif %}>NEW ZEALAND</option>

<option value='BB_COUNTRY_LU_NC'
	{% if value == 'BB_COUNTRY_LU_NC' %}selected{% endif %}>NICARAGUA</option>

<option value='BB_COUNTRY_LU_NI'
	{% if value == 'BB_COUNTRY_LU_NI' %}selected{% endif %}>NICARAGUA</option>

<option value='BB_COUNTRY_LU_NE'
	{% if value == 'BB_COUNTRY_LU_NE' %}selected{% endif %}>NIGER REPUBLIC</option>

<option value='BB_COUNTRY_LU_NR'
	{% if value == 'BB_COUNTRY_LU_NR' %}selected{% endif %}>NIGER REPUBLIC</option>

<option value='BB_COUNTRY_LU_NG'
	{% if value == 'BB_COUNTRY_LU_NG' %}selected{% endif %}>NIGERIA</option>

<option value='BB_COUNTRY_LU_NF'
	{% if value == 'BB_COUNTRY_LU_NF' %}selected{% endif %}>NORFOLK ISLAND</option>

<option value='BB_COUNTRY_LU_NK'
	{% if value == 'BB_COUNTRY_LU_NK' %}selected{% endif %}>NORTH KOREA</option>

<option value='BB_COUNTRY_LU_KP'
	{% if value == 'BB_COUNTRY_LU_KP' %}selected{% endif %}>NORTH KOREA</option>

<option value='BB_COUNTRY_LU_MP'
	{% if value == 'BB_COUNTRY_LU_MP' %}selected{% endif %}>NORTHERN MARIAN</option>

<option value='BB_COUNTRY_LU_NO'
	{% if value == 'BB_COUNTRY_LU_NO' %}selected{% endif %}>NORWAY</option>

<option value='BB_COUNTRY_LU_OM'
	{% if value == 'BB_COUNTRY_LU_OM' %}selected{% endif %}>OMAN</option>

<option value='BB_COUNTRY_LU_PK'
	{% if value == 'BB_COUNTRY_LU_PK' %}selected{% endif %}>PAKISTAN</option>

<option value='BB_COUNTRY_LU_PW'
	{% if value == 'BB_COUNTRY_LU_PW' %}selected{% endif %}>PALAU</option>

<option value='BB_COUNTRY_LU_PS'
	{% if value == 'BB_COUNTRY_LU_PS' %}selected{% endif %}>PALESTINE</option>

<option value='BB_COUNTRY_LU_PA'
	{% if value == 'BB_COUNTRY_LU_PA' %}selected{% endif %}>PANAMA</option>

<option value='BB_COUNTRY_LU_PZ'
	{% if value == 'BB_COUNTRY_LU_PZ' %}selected{% endif %}>PANAMA CANAL ZO</option>

<option value='BB_COUNTRY_LU_PP'
	{% if value == 'BB_COUNTRY_LU_PP' %}selected{% endif %}>PAPUA N.GUINEA</option>

<option value='BB_COUNTRY_LU_PG'
	{% if value == 'BB_COUNTRY_LU_PG' %}selected{% endif %}>PARAGUAY</option>

<option value='BB_COUNTRY_LU_PY'
	{% if value == 'BB_COUNTRY_LU_PY' %}selected{% endif %}>PARAGUAY</option>

<option value='BB_COUNTRY_LU_PE'
	{% if value == 'BB_COUNTRY_LU_PE' %}selected{% endif %}>PERU</option>

<option value='BB_COUNTRY_LU_PH'
	{% if value == 'BB_COUNTRY_LU_PH' %}selected{% endif %}>PHILIPPINES</option>

<option value='BB_COUNTRY_LU_PN'
	{% if value == 'BB_COUNTRY_LU_PN' %}selected{% endif %}>PITCAIRN IS.</option>

<option value='BB_COUNTRY_LU_PD'
	{% if value == 'BB_COUNTRY_LU_PD' %}selected{% endif %}>POLAND</option>

<option value='BB_COUNTRY_LU_PL'
	{% if value == 'BB_COUNTRY_LU_PL' %}selected{% endif %}>POLAND</option>

<option value='BB_COUNTRY_LU_PT'
	{% if value == 'BB_COUNTRY_LU_PT' %}selected{% endif %}>PORTUGAL</option>

<option value='BB_COUNTRY_LU_PO'
	{% if value == 'BB_COUNTRY_LU_PO' %}selected{% endif %}>PORTUGAL</option>

<option value='BB_COUNTRY_LU_PR'
	{% if value == 'BB_COUNTRY_LU_PR' %}selected{% endif %}>PUERTO RICO</option>

<option value='BB_COUNTRY_LU_QA'
	{% if value == 'BB_COUNTRY_LU_QA' %}selected{% endif %}>QATAR</option>

<option value='BB_COUNTRY_LU_RE'
	{% if value == 'BB_COUNTRY_LU_RE' %}selected{% endif %}>REUNION</option>

<option value='BB_COUNTRY_LU_RO'
	{% if value == 'BB_COUNTRY_LU_RO' %}selected{% endif %}>ROMANIA</option>

<option value='BB_COUNTRY_LU_RU'
	{% if value == 'BB_COUNTRY_LU_RU' %}selected{% endif %}>RUSSIA</option>

<option value='BB_COUNTRY_LU_RW'
	{% if value == 'BB_COUNTRY_LU_RW' %}selected{% endif %}>RWANDA</option>

<option value='BB_COUNTRY_LU_GS'
	{% if value == 'BB_COUNTRY_LU_GS' %}selected{% endif %}>S.GEORGIA/S.SAN</option>

<option value='BB_COUNTRY_LU_AS'
	{% if value == 'BB_COUNTRY_LU_AS' %}selected{% endif %}>SAMOA</option>

<option value='BB_COUNTRY_LU_WS'
	{% if value == 'BB_COUNTRY_LU_WS' %}selected{% endif %}>SAMOA (WEST)</option>

<option value='BB_COUNTRY_LU_SM'
	{% if value == 'BB_COUNTRY_LU_SM' %}selected{% endif %}>SAN MARINO</option>

<option value='BB_COUNTRY_LU_ST'
	{% if value == 'BB_COUNTRY_LU_ST' %}selected{% endif %}>SAO TOME</option>

<option value='BB_COUNTRY_LU_ZB'
	{% if value == 'BB_COUNTRY_LU_ZB' %}selected{% endif %}>SEBORGA</option>

<option value='BB_COUNTRY_LU_SN'
	{% if value == 'BB_COUNTRY_LU_SN' %}selected{% endif %}>SENEGAL</option>

<option value='BB_COUNTRY_LU_RS'
	{% if value == 'BB_COUNTRY_LU_RS' %}selected{% endif %}>Serbia</option>

<option value='BB_COUNTRY_LU_RR'
	{% if value == 'BB_COUNTRY_LU_RR' %}selected{% endif %}>Serbia</option>

<option value='BB_COUNTRY_LU_SC'
	{% if value == 'BB_COUNTRY_LU_SC' %}selected{% endif %}>SEYCHELLES</option>

<option value='BB_COUNTRY_LU_S1'
	{% if value == 'BB_COUNTRY_LU_S1' %}selected{% endif %}>SIERRA LEONE</option>

<option value='BB_COUNTRY_LU_SG'
	{% if value == 'BB_COUNTRY_LU_SG' %}selected{% endif %}>SINGAPORE</option>

<option value='BB_COUNTRY_LU_SX'
	{% if value == 'BB_COUNTRY_LU_SX' %}selected{% endif %}>SINT MAARTEN</option>

<option value='BB_COUNTRY_LU_SV'
	{% if value == 'BB_COUNTRY_LU_SV' %}selected{% endif %}>SLOVENIA</option>

<option value='BB_COUNTRY_LU_SI'
	{% if value == 'BB_COUNTRY_LU_SI' %}selected{% endif %}>SLOVENIA</option>

<option value='BB_COUNTRY_LU_SNAT'
	{% if value == 'BB_COUNTRY_LU_SNAT' %}selected{% endif %}>SNAT</option>

<option value='BB_COUNTRY_LU_SB'
	{% if value == 'BB_COUNTRY_LU_SB' %}selected{% endif %}>SOLOMON ISLAND</option>

<option value='BB_COUNTRY_LU_SQ'
	{% if value == 'BB_COUNTRY_LU_SQ' %}selected{% endif %}>SOMALIA</option>

<option value='BB_COUNTRY_LU_SO'
	{% if value == 'BB_COUNTRY_LU_SO' %}selected{% endif %}>SOMALIA</option>

<option value='BB_COUNTRY_LU_SA'
	{% if value == 'BB_COUNTRY_LU_SA' %}selected{% endif %}>SOUTH AFRICA</option>

<option value='BB_COUNTRY_LU_ZA'
	{% if value == 'BB_COUNTRY_LU_ZA' %}selected{% endif %}>SOUTH AFRICA</option>

<option value='BB_COUNTRY_LU_SK'
	{% if value == 'BB_COUNTRY_LU_SK' %}selected{% endif %}>SOUTH KOREA</option>

<option value='BB_COUNTRY_LU_KR'
	{% if value == 'BB_COUNTRY_LU_KR' %}selected{% endif %}>SOUTH KOREA</option>

<option value='BB_COUNTRY_LU_SS'
	{% if value == 'BB_COUNTRY_LU_SS' %}selected{% endif %}>SOUTH SUDAN</option>

<option value='BB_COUNTRY_LU_SP'
	{% if value == 'BB_COUNTRY_LU_SP' %}selected{% endif %}>SPAIN</option>

<option value='BB_COUNTRY_LU_ES'
	{% if value == 'BB_COUNTRY_LU_ES' %}selected{% endif %}>SPAIN</option>

<option value='BB_COUNTRY_LU_LK'
	{% if value == 'BB_COUNTRY_LU_LK' %}selected{% endif %}>SRI LANKA</option>

<option value='BB_COUNTRY_LU_SL'
	{% if value == 'BB_COUNTRY_LU_SL' %}selected{% endif %}>SRI LANKA</option>

<option value='BB_COUNTRY_LU_BL'
	{% if value == 'BB_COUNTRY_LU_BL' %}selected{% endif %}>St Barthelemy</option>

<option value='BB_COUNTRY_LU_MF'
	{% if value == 'BB_COUNTRY_LU_MF' %}selected{% endif %}>St Martin</option>

<option value='BB_COUNTRY_LU_SH'
	{% if value == 'BB_COUNTRY_LU_SH' %}selected{% endif %}>ST. HELENA</option>

<option value='BB_COUNTRY_LU_KI'
	{% if value == 'BB_COUNTRY_LU_KI' %}selected{% endif %}>ST. KITTS &amp; NEV</option>

<option value='BB_COUNTRY_LU_KN'
	{% if value == 'BB_COUNTRY_LU_KN' %}selected{% endif %}>ST. KITTS &amp; NEV</option>

<option value='BB_COUNTRY_LU_LC'
	{% if value == 'BB_COUNTRY_LU_LC' %}selected{% endif %}>ST. LUCIA</option>

<option value='BB_COUNTRY_LU_LD'
	{% if value == 'BB_COUNTRY_LU_LD' %}selected{% endif %}>ST. LUCIA</option>

<option value='BB_COUNTRY_LU_VT'
	{% if value == 'BB_COUNTRY_LU_VT' %}selected{% endif %}>ST. VINCENT</option>

<option value='BB_COUNTRY_LU_SD'
	{% if value == 'BB_COUNTRY_LU_SD' %}selected{% endif %}>SUDAN</option>

<option value='BB_COUNTRY_LU_SU'
	{% if value == 'BB_COUNTRY_LU_SU' %}selected{% endif %}>SURINAME</option>

<option value='BB_COUNTRY_LU_SR'
	{% if value == 'BB_COUNTRY_LU_SR' %}selected{% endif %}>SURINAME</option>

<option value='BB_COUNTRY_LU_SJ'
	{% if value == 'BB_COUNTRY_LU_SJ' %}selected{% endif %}>SVALBARD &amp; JAN</option>

<option value='BB_COUNTRY_LU_S2'
	{% if value == 'BB_COUNTRY_LU_S2' %}selected{% endif %}>SWAZILAND</option>

<option value='BB_COUNTRY_LU_SW'
	{% if value == 'BB_COUNTRY_LU_SW' %}selected{% endif %}>SWEDEN</option>

<option value='BB_COUNTRY_LU_SE'
	{% if value == 'BB_COUNTRY_LU_SE' %}selected{% endif %}>SWEDEN</option>

<option value='BB_COUNTRY_LU_CH'
	{% if value == 'BB_COUNTRY_LU_CH' %}selected{% endif %}>SWITZERLAND</option>

<option value='BB_COUNTRY_LU_SZ'
	{% if value == 'BB_COUNTRY_LU_SZ' %}selected{% endif %}>SWITZERLAND</option>

<option value='BB_COUNTRY_LU_SY'
	{% if value == 'BB_COUNTRY_LU_SY' %}selected{% endif %}>SYRIA</option>

<option value='BB_COUNTRY_LU_TW'
	{% if value == 'BB_COUNTRY_LU_TW' %}selected{% endif %}>TAIWAN</option>

<option value='BB_COUNTRY_LU_TA'
	{% if value == 'BB_COUNTRY_LU_TA' %}selected{% endif %}>TAIWAN</option>

<option value='BB_COUNTRY_LU_TJ'
	{% if value == 'BB_COUNTRY_LU_TJ' %}selected{% endif %}>TAJIKISTAN</option>

<option value='BB_COUNTRY_LU_TZ'
	{% if value == 'BB_COUNTRY_LU_TZ' %}selected{% endif %}>TANZANIA</option>

<option value='BB_COUNTRY_LU_TH'
	{% if value == 'BB_COUNTRY_LU_TH' %}selected{% endif %}>THAILAND</option>

<option value='BB_COUNTRY_LU_TG'
	{% if value == 'BB_COUNTRY_LU_TG' %}selected{% endif %}>TOGO</option>

<option value='BB_COUNTRY_LU_TK'
	{% if value == 'BB_COUNTRY_LU_TK' %}selected{% endif %}>TOKELAU</option>

<option value='BB_COUNTRY_LU_TO'
	{% if value == 'BB_COUNTRY_LU_TO' %}selected{% endif %}>TONGA</option>

<option value='BB_COUNTRY_LU_TN'
	{% if value == 'BB_COUNTRY_LU_TN' %}selected{% endif %}>TUNISIA</option>

<option value='BB_COUNTRY_LU_TU'
	{% if value == 'BB_COUNTRY_LU_TU' %}selected{% endif %}>TURKEY</option>

<option value='BB_COUNTRY_LU_TR'
	{% if value == 'BB_COUNTRY_LU_TR' %}selected{% endif %}>TURKEY</option>

<option value='BB_COUNTRY_LU_TM'
	{% if value == 'BB_COUNTRY_LU_TM' %}selected{% endif %}>TURKMENISTAN</option>

<option value='BB_COUNTRY_LU_TT'
	{% if value == 'BB_COUNTRY_LU_TT' %}selected{% endif %}>TURKMENISTAN</option>

<option value='BB_COUNTRY_LU_TC'
	{% if value == 'BB_COUNTRY_LU_TC' %}selected{% endif %}>TURKS &amp; CAICOS</option>

<option value='BB_COUNTRY_LU_TV'
	{% if value == 'BB_COUNTRY_LU_TV' %}selected{% endif %}>TUVALU</option>

<option value='BB_COUNTRY_LU_UM'
	{% if value == 'BB_COUNTRY_LU_UM' %}selected{% endif %}>U.S. MINOR OUTL</option>

<option value='BB_COUNTRY_LU_AE'
	{% if value == 'BB_COUNTRY_LU_AE' %}selected{% endif %}>UAE</option>

<option value='BB_COUNTRY_LU_UG'
	{% if value == 'BB_COUNTRY_LU_UG' %}selected{% endif %}>UGANDA</option>

<option value='BB_COUNTRY_LU_UA'
	{% if value == 'BB_COUNTRY_LU_UA' %}selected{% endif %}>UKRAINE</option>

<option value='BB_COUNTRY_LU_UK'
	{% if value == 'BB_COUNTRY_LU_UK' %}selected{% endif %}>UKRAINE</option>

<option value='BB_COUNTRY_LU_US'
	{% if value == 'BB_COUNTRY_LU_US' %}selected{% endif %}>UNITED STATES</option>

<option value='BB_COUNTRY_LU_UY'
	{% if value == 'BB_COUNTRY_LU_UY' %}selected{% endif %}>URUGUAY</option>

<option value='BB_COUNTRY_LU_UR'
	{% if value == 'BB_COUNTRY_LU_UR' %}selected{% endif %}>URUGUAY</option>

<option value='BB_COUNTRY_LU_UZ'
	{% if value == 'BB_COUNTRY_LU_UZ' %}selected{% endif %}>UZBEKISTAN</option>

<option value='BB_COUNTRY_LU_VU'
	{% if value == 'BB_COUNTRY_LU_VU' %}selected{% endif %}>VANUATU</option>

<option value='BB_COUNTRY_LU_VC'
	{% if value == 'BB_COUNTRY_LU_VC' %}selected{% endif %}>VATICAN</option>

<option value='BB_COUNTRY_LU_VA'
	{% if value == 'BB_COUNTRY_LU_VA' %}selected{% endif %}>VATICAN</option>

<option value='BB_COUNTRY_LU_VE'
	{% if value == 'BB_COUNTRY_LU_VE' %}selected{% endif %}>VENEZUELA</option>

<option value='BB_COUNTRY_LU_VZ'
	{% if value == 'BB_COUNTRY_LU_VZ' %}selected{% endif %}>VENEZUELA</option>

<option value='BB_COUNTRY_LU_VN'
	{% if value == 'BB_COUNTRY_LU_VN' %}selected{% endif %}>VIETNAM</option>

<option value='BB_COUNTRY_LU_VG'
	{% if value == 'BB_COUNTRY_LU_VG' %}selected{% endif %}>VIRGIN ISLANDS</option>

<option value='BB_COUNTRY_LU_VI'
	{% if value == 'BB_COUNTRY_LU_VI' %}selected{% endif %}>VIRGIN ISLANDS</option>

<option value='BB_COUNTRY_LU_WF'
	{% if value == 'BB_COUNTRY_LU_WF' %}selected{% endif %}>WALLIS &amp; FUTUNA</option>

<option value='BB_COUNTRY_LU_EH'
	{% if value == 'BB_COUNTRY_LU_EH' %}selected{% endif %}>WESTERN SAHARA</option>

<option value='BB_COUNTRY_LU_YE'
	{% if value == 'BB_COUNTRY_LU_YE' %}selected{% endif %}>YEMEN</option>

<option value='BB_COUNTRY_LU_ZM'
	{% if value == 'BB_COUNTRY_LU_ZM' %}selected{% endif %}>Zambia</option>

<option value='BB_COUNTRY_LU_ZI'
	{% if value == 'BB_COUNTRY_LU_ZI' %}selected{% endif %}>ZIMBABWE</option>

<option value='BB_COUNTRY_LU_ZW'
	{% if value == 'BB_COUNTRY_LU_ZW' %}selected{% endif %}>ZIMBABWE</option>
