
<option value='BB_FUND_TYPE_CONVERTIBLE_BONDS_ARBITRAGE'
	{% if value == 'BB_FUND_TYPE_CONVERTIBLE_BONDS_ARBITRAGE' %}selected{% endif %}>Convertible Bonds Arbitrage</option>

<option value='BB_FUND_TYPE_CTA_LONG_TERM'
	{% if value == 'BB_FUND_TYPE_CTA_LONG_TERM' %}selected{% endif %}>CTA Long Term</option>

<option value='BB_FUND_TYPE_CTA_SHORT_TERM'
	{% if value == 'BB_FUND_TYPE_CTA_SHORT_TERM' %}selected{% endif %}>CTA Short Term</option>

<option value='BB_FUND_TYPE_EVENT_DRIVEN_-_DISTRESSED'
	{% if value == 'BB_FUND_TYPE_EVENT_DRIVEN_-_DISTRESSED' %}selected{% endif %}>Event Driven - Distressed</option>

<option value='BB_FUND_TYPE_EVENT_DRIVEN_-_MERGER_ARBITRAGE'
	{% if value == 'BB_FUND_TYPE_EVENT_DRIVEN_-_MERGER_ARBITRAGE' %}selected{% endif %}>Event Driven - Merger Arbitrage</option>

<option value='BB_FUND_TYPE_EVENT_DRIVEN_-_SPECIAL_SITUATIONS'
	{% if value == 'BB_FUND_TYPE_EVENT_DRIVEN_-_SPECIAL_SITUATIONS' %}selected{% endif %}>Event Driven - Special Situations</option>

<option value='BB_FUND_TYPE_FIXED_INCOME_ARBITRAGE'
	{% if value == 'BB_FUND_TYPE_FIXED_INCOME_ARBITRAGE' %}selected{% endif %}>Fixed Income Arbitrage</option>

<option value='BB_FUND_TYPE_GLOBAL_MACRO'
	{% if value == 'BB_FUND_TYPE_GLOBAL_MACRO' %}selected{% endif %}>Global Macro</option>

<option value='BB_FUND_TYPE_L/S_CREDIT_ARBITRAGE'
	{% if value == 'BB_FUND_TYPE_L/S_CREDIT_ARBITRAGE' %}selected{% endif %}>L/S Credit Arbitrage</option>

<option value='BB_FUND_TYPE_L/S_EQUITY_-_LONG_BIAS'
	{% if value == 'BB_FUND_TYPE_L/S_EQUITY_-_LONG_BIAS' %}selected{% endif %}>L/S Equity - Long Bias</option>

<option value='BB_FUND_TYPE_L/S_EQUITY_-_MARKET_NEUTRAL'
	{% if value == 'BB_FUND_TYPE_L/S_EQUITY_-_MARKET_NEUTRAL' %}selected{% endif %}>L/S Equity - Market Neutral</option>

<option value='BB_FUND_TYPE_L/S_EQUITY_-_MULTI-STRATEGY'
	{% if value == 'BB_FUND_TYPE_L/S_EQUITY_-_MULTI-STRATEGY' %}selected{% endif %}>L/S Equity - Multi-strategy</option>

<option value='BB_FUND_TYPE_L/S_EQUITY_-_SHORT_BIAS'
	{% if value == 'BB_FUND_TYPE_L/S_EQUITY_-_SHORT_BIAS' %}selected{% endif %}>L/S Equity - Short Bias</option>

<option value='BB_FUND_TYPE_L/S_EQUITY_-_VARIABLE_BIAS'
	{% if value == 'BB_FUND_TYPE_L/S_EQUITY_-_VARIABLE_BIAS' %}selected{% endif %}>L/S Equity - Variable Bias</option>

<option value='BB_FUND_TYPE_L/S_VARIABLE_-_LONG_BIAS'
	{% if value == 'BB_FUND_TYPE_L/S_VARIABLE_-_LONG_BIAS' %}selected{% endif %}>L/S Variable - Long Bias</option>

<option value='BB_FUND_TYPE_LONG_BIAS'
	{% if value == 'BB_FUND_TYPE_LONG_BIAS' %}selected{% endif %}>Long Bias</option>

<option value='BB_FUND_TYPE_LONG_SHORT_VARIABLE_BIAS'
	{% if value == 'BB_FUND_TYPE_LONG_SHORT_VARIABLE_BIAS' %}selected{% endif %}>Long Short Variable Bias</option>

<option value='BB_FUND_TYPE_SYSTEMATIC'
	{% if value == 'BB_FUND_TYPE_SYSTEMATIC' %}selected{% endif %}>Systematic</option>

<option value='BB_FUND_TYPE_VARIABLE_BIAS'
	{% if value == 'BB_FUND_TYPE_VARIABLE_BIAS' %}selected{% endif %}>Variable Bias</option>
