
<option value='BB_STRATEGY_CB_&amp;_VOLATILITY_ARB.'
	{% if value == 'BB_STRATEGY_CB_&amp;_VOLATILITY_ARB.' %}selected{% endif %}>CB &amp; Volatility Arb.</option>

<option value='BB_STRATEGY_CTAS'
	{% if value == 'BB_STRATEGY_CTAS' %}selected{% endif %}>CTAs</option>

<option value='BB_STRATEGY_EVENT_DRIVEN_&amp;_RISK_ARB.'
	{% if value == 'BB_STRATEGY_EVENT_DRIVEN_&amp;_RISK_ARB.' %}selected{% endif %}>Event Driven &amp; Risk Arb.</option>

<option value='BB_STRATEGY_FIXED_INCOME_ARB.'
	{% if value == 'BB_STRATEGY_FIXED_INCOME_ARB.' %}selected{% endif %}>Fixed Income Arb.</option>

<option value='BB_STRATEGY_GLOBAL_MACRO'
	{% if value == 'BB_STRATEGY_GLOBAL_MACRO' %}selected{% endif %}>Global Macro</option>

<option value='BB_STRATEGY_INDEX_TRACKER'
	{% if value == 'BB_STRATEGY_INDEX_TRACKER' %}selected{% endif %}>Index Tracker</option>

<option value='BB_STRATEGY_L/S_CREDIT_ARBITRAGE'
	{% if value == 'BB_STRATEGY_L/S_CREDIT_ARBITRAGE' %}selected{% endif %}>L/S Credit Arbitrage</option>

<option value='BB_STRATEGY_L/S_EQUITY'
	{% if value == 'BB_STRATEGY_L/S_EQUITY' %}selected{% endif %}>L/S Equity</option>

<option value='BB_STRATEGY_MULTI-STRATEGY'
	{% if value == 'BB_STRATEGY_MULTI-STRATEGY' %}selected{% endif %}>Multi-Strategy</option>
