
<option value='BB_SECTYP_2ND_LIEN'
	{% if value == 'BB_SECTYP_2ND_LIEN' %}selected{% endif %}>2ND LIEN</option>

<option value='BB_SECTYP_A/T_UNIT'
	{% if value == 'BB_SECTYP_A/T_UNIT' %}selected{% endif %}>A/T Unit</option>

<option value='BB_SECTYP_ABL_REVOLVER'
	{% if value == 'BB_SECTYP_ABL_REVOLVER' %}selected{% endif %}>ABL REVOLVER</option>

<option value='BB_SECTYP_ABS_AUTO'
	{% if value == 'BB_SECTYP_ABS_AUTO' %}selected{% endif %}>ABS Auto</option>

<option value='BB_SECTYP_ABS_CARD'
	{% if value == 'BB_SECTYP_ABS_CARD' %}selected{% endif %}>ABS Card</option>

<option value='BB_SECTYP_ABS_HOME'
	{% if value == 'BB_SECTYP_ABS_HOME' %}selected{% endif %}>ABS Home</option>

<option value='BB_SECTYP_ABS_OTHER'
	{% if value == 'BB_SECTYP_ABS_OTHER' %}selected{% endif %}>ABS Other</option>

<option value='BB_SECTYP_ACCEPT_BANCARIA'
	{% if value == 'BB_SECTYP_ACCEPT_BANCARIA' %}selected{% endif %}>ACCEPT BANCARIA</option>

<option value='BB_SECTYP_ADJ_CONV_TO_FIXED'
	{% if value == 'BB_SECTYP_ADJ_CONV_TO_FIXED' %}selected{% endif %}>ADJ CONV. TO FIXED</option>

<option value='BB_SECTYP_ADJ_CONV_TO_FIXED,_OID'
	{% if value == 'BB_SECTYP_ADJ_CONV_TO_FIXED,_OID' %}selected{% endif %}>ADJ CONV. TO FIXED, OID</option>

<option value='BB_SECTYP_ADJUSTABLE'
	{% if value == 'BB_SECTYP_ADJUSTABLE' %}selected{% endif %}>ADJUSTABLE</option>

<option value='BB_SECTYP_ADJUSTABLE,_OID'
	{% if value == 'BB_SECTYP_ADJUSTABLE,_OID' %}selected{% endif %}>ADJUSTABLE, OID</option>

<option value='BB_SECTYP_ADR'
	{% if value == 'BB_SECTYP_ADR' %}selected{% endif %}>ADR</option>

<option value='BB_SECTYP_AGNCY_ABS_HOME'
	{% if value == 'BB_SECTYP_AGNCY_ABS_HOME' %}selected{% endif %}>Agncy ABS Home</option>

<option value='BB_SECTYP_AGNCY_ABS_OTHER'
	{% if value == 'BB_SECTYP_AGNCY_ABS_OTHER' %}selected{% endif %}>Agncy ABS Other</option>

<option value='BB_SECTYP_AGNCY_CMO_FLT'
	{% if value == 'BB_SECTYP_AGNCY_CMO_FLT' %}selected{% endif %}>Agncy CMO FLT</option>

<option value='BB_SECTYP_AGNCY_CMO_INV'
	{% if value == 'BB_SECTYP_AGNCY_CMO_INV' %}selected{% endif %}>Agncy CMO INV</option>

<option value='BB_SECTYP_AGNCY_CMO_IO'
	{% if value == 'BB_SECTYP_AGNCY_CMO_IO' %}selected{% endif %}>Agncy CMO IO</option>

<option value='BB_SECTYP_AGNCY_CMO_OTHER'
	{% if value == 'BB_SECTYP_AGNCY_CMO_OTHER' %}selected{% endif %}>Agncy CMO Other</option>

<option value='BB_SECTYP_AGNCY_CMO_PO'
	{% if value == 'BB_SECTYP_AGNCY_CMO_PO' %}selected{% endif %}>Agncy CMO PO</option>

<option value='BB_SECTYP_AGNCY_CMO_Z'
	{% if value == 'BB_SECTYP_AGNCY_CMO_Z' %}selected{% endif %}>Agncy CMO Z</option>

<option value='BB_SECTYP_ASSET_BACK'
	{% if value == 'BB_SECTYP_ASSET_BACK' %}selected{% endif %}>ASSET BACK</option>

<option value='BB_SECTYP_ASSET_BACK_BRIDGE'
	{% if value == 'BB_SECTYP_ASSET_BACK_BRIDGE' %}selected{% endif %}>ASSET BACK BRIDGE</option>

<option value='BB_SECTYP_ASSET_BACK_BRIDGE_REV'
	{% if value == 'BB_SECTYP_ASSET_BACK_BRIDGE_REV' %}selected{% endif %}>ASSET BACK BRIDGE REV</option>

<option value='BB_SECTYP_ASSET_BACK_BRIDGE_TERM'
	{% if value == 'BB_SECTYP_ASSET_BACK_BRIDGE_TERM' %}selected{% endif %}>ASSET BACK BRIDGE TERM</option>

<option value='BB_SECTYP_ASSET_BACK_COV-LITE_DIP_PIK'
	{% if value == 'BB_SECTYP_ASSET_BACK_COV-LITE_DIP_PIK' %}selected{% endif %}>ASSET BACK COV-LITE DIP PIK</option>

<option value='BB_SECTYP_ASSET_BACK_COV-LITE_REV'
	{% if value == 'BB_SECTYP_ASSET_BACK_COV-LITE_REV' %}selected{% endif %}>ASSET BACK COV-LITE REV</option>

<option value='BB_SECTYP_ASSET_BACK_DELAY-DRAW_TERM'
	{% if value == 'BB_SECTYP_ASSET_BACK_DELAY-DRAW_TERM' %}selected{% endif %}>ASSET BACK DELAY-DRAW TERM</option>

<option value='BB_SECTYP_ASSET_BACK_DIP_REV'
	{% if value == 'BB_SECTYP_ASSET_BACK_DIP_REV' %}selected{% endif %}>ASSET BACK DIP REV</option>

<option value='BB_SECTYP_ASSET_BACK_DIP_TERM'
	{% if value == 'BB_SECTYP_ASSET_BACK_DIP_TERM' %}selected{% endif %}>ASSET BACK DIP TERM</option>

<option value='BB_SECTYP_ASSET_BACK_LOC'
	{% if value == 'BB_SECTYP_ASSET_BACK_LOC' %}selected{% endif %}>ASSET BACK LOC</option>

<option value='BB_SECTYP_ASSET_BACK_REV'
	{% if value == 'BB_SECTYP_ASSET_BACK_REV' %}selected{% endif %}>ASSET BACK REV</option>

<option value='BB_SECTYP_ASSET_BACK_REV_FILO'
	{% if value == 'BB_SECTYP_ASSET_BACK_REV_FILO' %}selected{% endif %}>ASSET BACK REV FILO</option>

<option value='BB_SECTYP_ASSET_BACK_REV_LIFO'
	{% if value == 'BB_SECTYP_ASSET_BACK_REV_LIFO' %}selected{% endif %}>ASSET BACK REV LIFO</option>

<option value='BB_SECTYP_ASSET_BACK_REV_OVERDRAFT'
	{% if value == 'BB_SECTYP_ASSET_BACK_REV_OVERDRAFT' %}selected{% endif %}>ASSET BACK REV OVERDRAFT</option>

<option value='BB_SECTYP_ASSET_BACK_TERM'
	{% if value == 'BB_SECTYP_ASSET_BACK_TERM' %}selected{% endif %}>ASSET BACK TERM</option>

<option value='BB_SECTYP_ASSET_BACK_TERM_FILO'
	{% if value == 'BB_SECTYP_ASSET_BACK_TERM_FILO' %}selected{% endif %}>ASSET BACK TERM FILO</option>

<option value='BB_SECTYP_AUSTRALIAN'
	{% if value == 'BB_SECTYP_AUSTRALIAN' %}selected{% endif %}>AUSTRALIAN</option>

<option value='BB_SECTYP_AUSTRALIAN_CD'
	{% if value == 'BB_SECTYP_AUSTRALIAN_CD' %}selected{% endif %}>AUSTRALIAN CD</option>

<option value='BB_SECTYP_AUSTRALIAN_CP'
	{% if value == 'BB_SECTYP_AUSTRALIAN_CP' %}selected{% endif %}>AUSTRALIAN CP</option>

<option value='BB_SECTYP_AUSTRIAN_CRT'
	{% if value == 'BB_SECTYP_AUSTRIAN_CRT' %}selected{% endif %}>Austrian Crt</option>

<option value='BB_SECTYP_BANK_ACCEPT_BILL'
	{% if value == 'BB_SECTYP_BANK_ACCEPT_BILL' %}selected{% endif %}>BANK ACCEPT BILL</option>

<option value='BB_SECTYP_BANK_NOTE'
	{% if value == 'BB_SECTYP_BANK_NOTE' %}selected{% endif %}>BANK NOTE</option>

<option value='BB_SECTYP_BANKERS_ACCEPT'
	{% if value == 'BB_SECTYP_BANKERS_ACCEPT' %}selected{% endif %}>BANKERS ACCEPT</option>

<option value='BB_SECTYP_BANKERS_ACCEPTANCE'
	{% if value == 'BB_SECTYP_BANKERS_ACCEPTANCE' %}selected{% endif %}>BANKERS ACCEPTANCE</option>

<option value='BB_SECTYP_BASIS_SWAP'
	{% if value == 'BB_SECTYP_BASIS_SWAP' %}selected{% endif %}>BASIS SWAP</option>

<option value='BB_SECTYP_BASKET_WRT'
	{% if value == 'BB_SECTYP_BASKET_WRT' %}selected{% endif %}>Basket WRT</option>

<option value='BB_SECTYP_BDR'
	{% if value == 'BB_SECTYP_BDR' %}selected{% endif %}>BDR</option>

<option value='BB_SECTYP_BEARER_DEP_NOTE'
	{% if value == 'BB_SECTYP_BEARER_DEP_NOTE' %}selected{% endif %}>BEARER DEP NOTE</option>

<option value='BB_SECTYP_BELGIUM_CERT'
	{% if value == 'BB_SECTYP_BELGIUM_CERT' %}selected{% endif %}>Belgium Cert</option>

<option value='BB_SECTYP_BELGIUM_CP'
	{% if value == 'BB_SECTYP_BELGIUM_CP' %}selected{% endif %}>BELGIUM CP</option>

<option value='BB_SECTYP_BILL_OF_EXCHANGE'
	{% if value == 'BB_SECTYP_BILL_OF_EXCHANGE' %}selected{% endif %}>BILL OF EXCHANGE</option>

<option value='BB_SECTYP_BOND'
	{% if value == 'BB_SECTYP_BOND' %}selected{% endif %}>Bond</option>

<option value='BB_SECTYP_BRAZILIAN_CDI'
	{% if value == 'BB_SECTYP_BRAZILIAN_CDI' %}selected{% endif %}>BRAZILIAN CDI</option>

<option value='BB_SECTYP_BRIDGE'
	{% if value == 'BB_SECTYP_BRIDGE' %}selected{% endif %}>BRIDGE</option>

<option value='BB_SECTYP_BRIDGE_DELAY-DRAW_TERM'
	{% if value == 'BB_SECTYP_BRIDGE_DELAY-DRAW_TERM' %}selected{% endif %}>BRIDGE DELAY-DRAW TERM</option>

<option value='BB_SECTYP_BRIDGE_ISLAMIC'
	{% if value == 'BB_SECTYP_BRIDGE_ISLAMIC' %}selected{% endif %}>BRIDGE ISLAMIC</option>

<option value='BB_SECTYP_BRIDGE_PIK'
	{% if value == 'BB_SECTYP_BRIDGE_PIK' %}selected{% endif %}>BRIDGE PIK</option>

<option value='BB_SECTYP_BRIDGE_PIK_TERM'
	{% if value == 'BB_SECTYP_BRIDGE_PIK_TERM' %}selected{% endif %}>BRIDGE PIK TERM</option>

<option value='BB_SECTYP_BRIDGE_REV'
	{% if value == 'BB_SECTYP_BRIDGE_REV' %}selected{% endif %}>BRIDGE REV</option>

<option value='BB_SECTYP_BRIDGE_TERM'
	{% if value == 'BB_SECTYP_BRIDGE_TERM' %}selected{% endif %}>BRIDGE TERM</option>

<option value='BB_SECTYP_BULLDOG'
	{% if value == 'BB_SECTYP_BULLDOG' %}selected{% endif %}>BULLDOG</option>

<option value='BB_SECTYP_BUTTERFLY_SWAP'
	{% if value == 'BB_SECTYP_BUTTERFLY_SWAP' %}selected{% endif %}>BUTTERFLY SWAP</option>

<option value='BB_SECTYP_CAD_INT_BEAR_CP'
	{% if value == 'BB_SECTYP_CAD_INT_BEAR_CP' %}selected{% endif %}>CAD INT BEAR CP</option>

<option value='BB_SECTYP_CALENDAR_SPREAD_OPTION'
	{% if value == 'BB_SECTYP_CALENDAR_SPREAD_OPTION' %}selected{% endif %}>Calendar Spread Option</option>

<option value='BB_SECTYP_CALL_LOANS'
	{% if value == 'BB_SECTYP_CALL_LOANS' %}selected{% endif %}>CALL LOANS</option>

<option value='BB_SECTYP_MTGE_CANADIAN'
	{% if value == 'BB_SECTYP_MTGE_CANADIAN' %}selected{% endif %}>Canadian</option>

<option value='BB_SECTYP_CANADIAN'
	{% if value == 'BB_SECTYP_CANADIAN' %}selected{% endif %}>CANADIAN</option>

<option value='BB_SECTYP_CANADIAN_CD'
	{% if value == 'BB_SECTYP_CANADIAN_CD' %}selected{% endif %}>CANADIAN CD</option>

<option value='BB_SECTYP_CANADIAN_CP'
	{% if value == 'BB_SECTYP_CANADIAN_CP' %}selected{% endif %}>CANADIAN CP</option>

<option value='BB_SECTYP_CAPS_&amp;_FLOORS'
	{% if value == 'BB_SECTYP_CAPS_&amp;_FLOORS' %}selected{% endif %}>CAPS &amp; FLOORS</option>

<option value='BB_SECTYP_CAR_FORWARD'
	{% if value == 'BB_SECTYP_CAR_FORWARD' %}selected{% endif %}>Car Forward</option>

<option value='BB_SECTYP_CBLO'
	{% if value == 'BB_SECTYP_CBLO' %}selected{% endif %}>CBLO</option>

<option value='BB_SECTYP_CD'
	{% if value == 'BB_SECTYP_CD' %}selected{% endif %}>CD</option>

<option value='BB_SECTYP_CDR'
	{% if value == 'BB_SECTYP_CDR' %}selected{% endif %}>CDR</option>

<option value='BB_SECTYP_CDS_INDEX'
	{% if value == 'BB_SECTYP_CDS_INDEX' %}selected{% endif %}>CDS Index</option>

<option value='BB_SECTYP_CF'
	{% if value == 'BB_SECTYP_CF' %}selected{% endif %}>CF</option>

<option value='BB_SECTYP_CLOSED-END_FUND'
	{% if value == 'BB_SECTYP_CLOSED-END_FUND' %}selected{% endif %}>Closed-End Fund</option>

<option value='BB_SECTYP_CMBS'
	{% if value == 'BB_SECTYP_CMBS' %}selected{% endif %}>CMBS</option>

<option value='BB_SECTYP_CMDT_FUT_WRT'
	{% if value == 'BB_SECTYP_CMDT_FUT_WRT' %}selected{% endif %}>Cmdt Fut WRT</option>

<option value='BB_SECTYP_CMDT_IDX_WRT'
	{% if value == 'BB_SECTYP_CMDT_IDX_WRT' %}selected{% endif %}>Cmdt Idx WRT</option>

<option value='BB_SECTYP_COLLAT_CALL_NOTE'
	{% if value == 'BB_SECTYP_COLLAT_CALL_NOTE' %}selected{% endif %}>COLLAT CALL NOTE</option>

<option value='BB_SECTYP_COMMERCIAL_NOTE'
	{% if value == 'BB_SECTYP_COMMERCIAL_NOTE' %}selected{% endif %}>COMMERCIAL NOTE</option>

<option value='BB_SECTYP_COMMERCIAL_PAPER'
	{% if value == 'BB_SECTYP_COMMERCIAL_PAPER' %}selected{% endif %}>COMMERCIAL PAPER</option>

<option value='BB_SECTYP_COMMON_STOCK'
	{% if value == 'BB_SECTYP_COMMON_STOCK' %}selected{% endif %}>Common Stock</option>

<option value='BB_SECTYP_CONTRACT_FRA'
	{% if value == 'BB_SECTYP_CONTRACT_FRA' %}selected{% endif %}>CONTRACT FRA</option>

<option value='BB_SECTYP_CONV_BOND'
	{% if value == 'BB_SECTYP_CONV_BOND' %}selected{% endif %}>Conv Bond</option>

<option value='BB_SECTYP_CONV_PRFD'
	{% if value == 'BB_SECTYP_CONV_PRFD' %}selected{% endif %}>Conv Prfd</option>

<option value='BB_SECTYP_CORP_BND_WRT'
	{% if value == 'BB_SECTYP_CORP_BND_WRT' %}selected{% endif %}>Corp Bnd WRT</option>

<option value='BB_SECTYP_COV-LITE_LOC'
	{% if value == 'BB_SECTYP_COV-LITE_LOC' %}selected{% endif %}>COV-LITE LOC</option>

<option value='BB_SECTYP_COV-LITE_PIK_TERM'
	{% if value == 'BB_SECTYP_COV-LITE_PIK_TERM' %}selected{% endif %}>COV-LITE PIK TERM</option>

<option value='BB_SECTYP_COV-LITE_REV'
	{% if value == 'BB_SECTYP_COV-LITE_REV' %}selected{% endif %}>COV-LITE REV</option>

<option value='BB_SECTYP_COV-LITE_TERM'
	{% if value == 'BB_SECTYP_COV-LITE_TERM' %}selected{% endif %}>COV-LITE TERM</option>

<option value='BB_SECTYP_CP-LIKE_EXT_NOTE'
	{% if value == 'BB_SECTYP_CP-LIKE_EXT_NOTE' %}selected{% endif %}>CP-LIKE EXT NOTE</option>

<option value='BB_SECTYP_CPI_LINKED'
	{% if value == 'BB_SECTYP_CPI_LINKED' %}selected{% endif %}>CPI LINKED</option>

<option value='BB_SECTYP_CPI_LINKED,_OID'
	{% if value == 'BB_SECTYP_CPI_LINKED,_OID' %}selected{% endif %}>CPI LINKED, OID</option>

<option value='BB_SECTYP_CREDIT_DEFAULT_SWAP'
	{% if value == 'BB_SECTYP_CREDIT_DEFAULT_SWAP' %}selected{% endif %}>CREDIT DEFAULT SWAP</option>

<option value='BB_SECTYP_CROSS'
	{% if value == 'BB_SECTYP_CROSS' %}selected{% endif %}>CROSS</option>

<option value='BB_SECTYP_CURRENCY_FUTURE'
	{% if value == 'BB_SECTYP_CURRENCY_FUTURE' %}selected{% endif %}>Currency future.</option>

<option value='BB_SECTYP_CURRENCY_OPTION'
	{% if value == 'BB_SECTYP_CURRENCY_OPTION' %}selected{% endif %}>Currency option.</option>

<option value='BB_SECTYP_CURRENCY_SPOT'
	{% if value == 'BB_SECTYP_CURRENCY_SPOT' %}selected{% endif %}>Currency spot</option>

<option value='BB_SECTYP_CURRENCY_WRT'
	{% if value == 'BB_SECTYP_CURRENCY_WRT' %}selected{% endif %}>Currency WRT</option>

<option value='BB_SECTYP_DEBT_IN_POSSESS'
	{% if value == 'BB_SECTYP_DEBT_IN_POSSESS' %}selected{% endif %}>DEBT IN POSSESS</option>

<option value='BB_SECTYP_DELAY-DRAW'
	{% if value == 'BB_SECTYP_DELAY-DRAW' %}selected{% endif %}>DELAY-DRAW</option>

<option value='BB_SECTYP_DELAY-DRAW_LOC'
	{% if value == 'BB_SECTYP_DELAY-DRAW_LOC' %}selected{% endif %}>DELAY-DRAW LOC</option>

<option value='BB_SECTYP_DELAY-DRAW_PIK_TERM'
	{% if value == 'BB_SECTYP_DELAY-DRAW_PIK_TERM' %}selected{% endif %}>DELAY-DRAW PIK TERM</option>

<option value='BB_SECTYP_DELAY-DRAW_REV'
	{% if value == 'BB_SECTYP_DELAY-DRAW_REV' %}selected{% endif %}>DELAY-DRAW REV</option>

<option value='BB_SECTYP_DELAY-DRAW_TERM'
	{% if value == 'BB_SECTYP_DELAY-DRAW_TERM' %}selected{% endif %}>DELAY-DRAW TERM</option>

<option value='BB_SECTYP_DELAY-DRAW_TERM_INCREMENT'
	{% if value == 'BB_SECTYP_DELAY-DRAW_TERM_INCREMENT' %}selected{% endif %}>DELAY-DRAW TERM INCREMENT</option>

<option value='BB_SECTYP_DELAY-DRAW_TERM_MULTI-DRAW'
	{% if value == 'BB_SECTYP_DELAY-DRAW_TERM_MULTI-DRAW' %}selected{% endif %}>DELAY-DRAW TERM MULTI-DRAW</option>

<option value='BB_SECTYP_DELAY-DRAW_VAT-TRNCH'
	{% if value == 'BB_SECTYP_DELAY-DRAW_VAT-TRNCH' %}selected{% endif %}>DELAY-DRAW VAT-TRNCH</option>

<option value='BB_SECTYP_DEPOSIT'
	{% if value == 'BB_SECTYP_DEPOSIT' %}selected{% endif %}>DEPOSIT</option>

<option value='BB_SECTYP_DEPOSIT_NOTE'
	{% if value == 'BB_SECTYP_DEPOSIT_NOTE' %}selected{% endif %}>DEPOSIT NOTE</option>

<option value='BB_SECTYP_DIP'
	{% if value == 'BB_SECTYP_DIP' %}selected{% endif %}>DIP</option>

<option value='BB_SECTYP_DIP_DELAY-DRAW_TERM'
	{% if value == 'BB_SECTYP_DIP_DELAY-DRAW_TERM' %}selected{% endif %}>DIP DELAY-DRAW TERM</option>

<option value='BB_SECTYP_DIP_LOC'
	{% if value == 'BB_SECTYP_DIP_LOC' %}selected{% endif %}>DIP LOC</option>

<option value='BB_SECTYP_DIP_PIK_TERM'
	{% if value == 'BB_SECTYP_DIP_PIK_TERM' %}selected{% endif %}>DIP PIK TERM</option>

<option value='BB_SECTYP_DIP_REV'
	{% if value == 'BB_SECTYP_DIP_REV' %}selected{% endif %}>DIP REV</option>

<option value='BB_SECTYP_DIP_SYNTH_LOC'
	{% if value == 'BB_SECTYP_DIP_SYNTH_LOC' %}selected{% endif %}>DIP SYNTH LOC</option>

<option value='BB_SECTYP_DIP_TERM'
	{% if value == 'BB_SECTYP_DIP_TERM' %}selected{% endif %}>DIP TERM</option>

<option value='BB_SECTYP_DIP_TERM_FILO'
	{% if value == 'BB_SECTYP_DIP_TERM_FILO' %}selected{% endif %}>DIP TERM FILO</option>

<option value='BB_SECTYP_DIP_TERM_INCREMENT'
	{% if value == 'BB_SECTYP_DIP_TERM_INCREMENT' %}selected{% endif %}>DIP TERM INCREMENT</option>

<option value='BB_SECTYP_DIP_TERM_MULTI-DRAW'
	{% if value == 'BB_SECTYP_DIP_TERM_MULTI-DRAW' %}selected{% endif %}>DIP TERM MULTI-DRAW</option>

<option value='BB_SECTYP_DISCOUNT_FIXBIS'
	{% if value == 'BB_SECTYP_DISCOUNT_FIXBIS' %}selected{% endif %}>DISCOUNT FIXBIS</option>

<option value='BB_SECTYP_DISCOUNT_NOTES'
	{% if value == 'BB_SECTYP_DISCOUNT_NOTES' %}selected{% endif %}>DISCOUNT NOTES</option>

<option value='BB_SECTYP_DOMESTC_TIME_DEP'
	{% if value == 'BB_SECTYP_DOMESTC_TIME_DEP' %}selected{% endif %}>DOMESTC TIME DEP</option>

<option value='BB_SECTYP_DOMESTIC'
	{% if value == 'BB_SECTYP_DOMESTIC' %}selected{% endif %}>DOMESTIC</option>

<option value='BB_SECTYP_DOMESTIC_MTN'
	{% if value == 'BB_SECTYP_DOMESTIC_MTN' %}selected{% endif %}>DOMESTIC MTN</option>

<option value='BB_SECTYP_DUTCH_CERT'
	{% if value == 'BB_SECTYP_DUTCH_CERT' %}selected{% endif %}>Dutch Cert</option>

<option value='BB_SECTYP_DUTCH_CP'
	{% if value == 'BB_SECTYP_DUTCH_CP' %}selected{% endif %}>DUTCH CP</option>

<option value='BB_SECTYP_EDR'
	{% if value == 'BB_SECTYP_EDR' %}selected{% endif %}>EDR</option>

<option value='BB_SECTYP_EQUITY_INDEX'
	{% if value == 'BB_SECTYP_EQUITY_INDEX' %}selected{% endif %}>Equity Index</option>

<option value='BB_SECTYP_EQUITY_OPTION'
	{% if value == 'BB_SECTYP_EQUITY_OPTION' %}selected{% endif %}>Equity Option</option>

<option value='BB_SECTYP_EQUITY_OTC_OPTION'
	{% if value == 'BB_SECTYP_EQUITY_OTC_OPTION' %}selected{% endif %}>Equity OTC Option</option>

<option value='BB_SECTYP_EQUITY_WRT'
	{% if value == 'BB_SECTYP_EQUITY_WRT' %}selected{% endif %}>Equity WRT</option>

<option value='BB_SECTYP_ETF'
	{% if value == 'BB_SECTYP_ETF' %}selected{% endif %}>ETF</option>

<option value='BB_SECTYP_ETP'
	{% if value == 'BB_SECTYP_ETP' %}selected{% endif %}>ETP</option>

<option value='BB_SECTYP_EURO-DOLLAR'
	{% if value == 'BB_SECTYP_EURO-DOLLAR' %}selected{% endif %}>EURO-DOLLAR</option>

<option value='BB_SECTYP_EURO-ZONE'
	{% if value == 'BB_SECTYP_EURO-ZONE' %}selected{% endif %}>EURO-ZONE</option>

<option value='BB_SECTYP_EURO_CD'
	{% if value == 'BB_SECTYP_EURO_CD' %}selected{% endif %}>EURO CD</option>

<option value='BB_SECTYP_EURO_CP'
	{% if value == 'BB_SECTYP_EURO_CP' %}selected{% endif %}>EURO CP</option>

<option value='BB_SECTYP_EURO_MTN'
	{% if value == 'BB_SECTYP_EURO_MTN' %}selected{% endif %}>EURO MTN</option>

<option value='BB_SECTYP_EURO_NON-DOLLAR'
	{% if value == 'BB_SECTYP_EURO_NON-DOLLAR' %}selected{% endif %}>EURO NON-DOLLAR</option>

<option value='BB_SECTYP_EURO_STRUCTRD_LN'
	{% if value == 'BB_SECTYP_EURO_STRUCTRD_LN' %}selected{% endif %}>EURO STRUCTRD LN</option>

<option value='BB_SECTYP_EURO_TIME_DEPST'
	{% if value == 'BB_SECTYP_EURO_TIME_DEPST' %}selected{% endif %}>EURO TIME DEPST</option>

<option value='BB_SECTYP_EXTEND_COMM_NOTE'
	{% if value == 'BB_SECTYP_EXTEND_COMM_NOTE' %}selected{% endif %}>EXTEND COMM NOTE</option>

<option value='BB_SECTYP_EXTEND_NOTE_MTN'
	{% if value == 'BB_SECTYP_EXTEND_NOTE_MTN' %}selected{% endif %}>EXTEND. NOTE MTN</option>

<option value='BB_SECTYP_FDIC'
	{% if value == 'BB_SECTYP_FDIC' %}selected{% endif %}>FDIC</option>

<option value='BB_SECTYP_FED_FUNDS'
	{% if value == 'BB_SECTYP_FED_FUNDS' %}selected{% endif %}>FED FUNDS</option>

<option value='BB_SECTYP_FED_NOON_BUYING_RATE'
	{% if value == 'BB_SECTYP_FED_NOON_BUYING_RATE' %}selected{% endif %}>FED NOON BUYING RATE</option>

<option value='BB_SECTYP_FINANCIAL_COMMODITY_FUTURE'
	{% if value == 'BB_SECTYP_FINANCIAL_COMMODITY_FUTURE' %}selected{% endif %}>Financial commodity future.</option>

<option value='BB_SECTYP_FINANCIAL_COMMODITY_GENERIC'
	{% if value == 'BB_SECTYP_FINANCIAL_COMMODITY_GENERIC' %}selected{% endif %}>Financial commodity generic.</option>

<option value='BB_SECTYP_FINANCIAL_COMMODITY_OPTION'
	{% if value == 'BB_SECTYP_FINANCIAL_COMMODITY_OPTION' %}selected{% endif %}>Financial commodity option.</option>

<option value='BB_SECTYP_FINANCIAL_COMMODITY_SPOT'
	{% if value == 'BB_SECTYP_FINANCIAL_COMMODITY_SPOT' %}selected{% endif %}>Financial commodity spot.</option>

<option value='BB_SECTYP_FINANCIAL_INDEX_FUTURE'
	{% if value == 'BB_SECTYP_FINANCIAL_INDEX_FUTURE' %}selected{% endif %}>Financial index future.</option>

<option value='BB_SECTYP_COMDTY_FINANCIAL_INDEX_FUTURE'
	{% if value == 'BB_SECTYP_COMDTY_FINANCIAL_INDEX_FUTURE' %}selected{% endif %}>Financial index future.</option>

<option value='BB_SECTYP_FINANCIAL_INDEX_GENERIC'
	{% if value == 'BB_SECTYP_FINANCIAL_INDEX_GENERIC' %}selected{% endif %}>Financial index generic.</option>

<option value='BB_SECTYP_COMDTY_FINANCIAL_INDEX_OPTION'
	{% if value == 'BB_SECTYP_COMDTY_FINANCIAL_INDEX_OPTION' %}selected{% endif %}>Financial index option.</option>

<option value='BB_SECTYP_FINANCIAL_INDEX_OPTION'
	{% if value == 'BB_SECTYP_FINANCIAL_INDEX_OPTION' %}selected{% endif %}>Financial index option.</option>

<option value='BB_SECTYP_FINNISH_CD'
	{% if value == 'BB_SECTYP_FINNISH_CD' %}selected{% endif %}>FINNISH CD</option>

<option value='BB_SECTYP_FINNISH_CP'
	{% if value == 'BB_SECTYP_FINNISH_CP' %}selected{% endif %}>FINNISH CP</option>

<option value='BB_SECTYP_FIXED'
	{% if value == 'BB_SECTYP_FIXED' %}selected{% endif %}>FIXED</option>

<option value='BB_SECTYP_FIXED,_OID'
	{% if value == 'BB_SECTYP_FIXED,_OID' %}selected{% endif %}>FIXED, OID</option>

<option value='BB_SECTYP_FIXING_RATE'
	{% if value == 'BB_SECTYP_FIXING_RATE' %}selected{% endif %}>FIXING RATE</option>

<option value='BB_SECTYP_FLOATING'
	{% if value == 'BB_SECTYP_FLOATING' %}selected{% endif %}>FLOATING</option>

<option value='BB_SECTYP_FLOATING_CP'
	{% if value == 'BB_SECTYP_FLOATING_CP' %}selected{% endif %}>FLOATING CP</option>

<option value='BB_SECTYP_FLOATING_OID'
	{% if value == 'BB_SECTYP_FLOATING_OID' %}selected{% endif %}>FLOATING, OID</option>

<option value='BB_SECTYP_FORWARD'
	{% if value == 'BB_SECTYP_FORWARD' %}selected{% endif %}>FORWARD</option>

<option value='BB_SECTYP_FORWARD_CROSS'
	{% if value == 'BB_SECTYP_FORWARD_CROSS' %}selected{% endif %}>FORWARD CROSS</option>

<option value='BB_SECTYP_FORWARD_CURVE'
	{% if value == 'BB_SECTYP_FORWARD_CURVE' %}selected{% endif %}>FORWARD CURVE</option>

<option value='BB_SECTYP_FRA'
	{% if value == 'BB_SECTYP_FRA' %}selected{% endif %}>FRA</option>

<option value='BB_SECTYP_FRENCH_CD'
	{% if value == 'BB_SECTYP_FRENCH_CD' %}selected{% endif %}>FRENCH CD</option>

<option value='BB_SECTYP_FRENCH_CERT'
	{% if value == 'BB_SECTYP_FRENCH_CERT' %}selected{% endif %}>French Cert</option>

<option value='BB_SECTYP_FRENCH_CP'
	{% if value == 'BB_SECTYP_FRENCH_CP' %}selected{% endif %}>FRENCH CP</option>

<option value='BB_SECTYP_FUND_OF_FUNDS'
	{% if value == 'BB_SECTYP_FUND_OF_FUNDS' %}selected{% endif %}>Fund of Funds</option>

<option value='BB_SECTYP_FUTURE'
	{% if value == 'BB_SECTYP_FUTURE' %}selected{% endif %}>FUTURE</option>

<option value='BB_SECTYP_FWD_SWAP'
	{% if value == 'BB_SECTYP_FWD_SWAP' %}selected{% endif %}>FWD SWAP</option>

<option value='BB_SECTYP_FX_DISCOUNT_NOTE'
	{% if value == 'BB_SECTYP_FX_DISCOUNT_NOTE' %}selected{% endif %}>FX DISCOUNT NOTE</option>

<option value='BB_SECTYP_GDR'
	{% if value == 'BB_SECTYP_GDR' %}selected{% endif %}>GDR</option>

<option value='BB_SECTYP_GENERIC_CURRENCY_FUTURE'
	{% if value == 'BB_SECTYP_GENERIC_CURRENCY_FUTURE' %}selected{% endif %}>Generic currency future.</option>

<option value='BB_SECTYP_COMDTY_GENERIC_INDEX_FUTURE'
	{% if value == 'BB_SECTYP_COMDTY_GENERIC_INDEX_FUTURE' %}selected{% endif %}>Generic index future.</option>

<option value='BB_SECTYP_GENERIC_INDEX_FUTURE'
	{% if value == 'BB_SECTYP_GENERIC_INDEX_FUTURE' %}selected{% endif %}>Generic index future.</option>

<option value='BB_SECTYP_GERMAN_CERT'
	{% if value == 'BB_SECTYP_GERMAN_CERT' %}selected{% endif %}>German Cert</option>

<option value='BB_SECTYP_GERMAN_CP'
	{% if value == 'BB_SECTYP_GERMAN_CP' %}selected{% endif %}>GERMAN CP</option>

<option value='BB_SECTYP_GLOBAL'
	{% if value == 'BB_SECTYP_GLOBAL' %}selected{% endif %}>GLOBAL</option>

<option value='BB_SECTYP_GUARANTEE_FAC'
	{% if value == 'BB_SECTYP_GUARANTEE_FAC' %}selected{% endif %}>GUARANTEE FAC</option>

<option value='BB_SECTYP_HB'
	{% if value == 'BB_SECTYP_HB' %}selected{% endif %}>HB</option>

<option value='BB_SECTYP_HEDGE_FUND'
	{% if value == 'BB_SECTYP_HEDGE_FUND' %}selected{% endif %}>Hedge Fund</option>

<option value='BB_SECTYP_HONG_KONG_CD'
	{% if value == 'BB_SECTYP_HONG_KONG_CD' %}selected{% endif %}>HONG KONG CD</option>

<option value='BB_SECTYP_IR_FUT_WRT'
	{% if value == 'BB_SECTYP_IR_FUT_WRT' %}selected{% endif %}>I.R. Fut WRT</option>

<option value='BB_SECTYP_IR_SWP_WRT'
	{% if value == 'BB_SECTYP_IR_SWP_WRT' %}selected{% endif %}>I.R. Swp WRT</option>

<option value='BB_SECTYP_IDR'
	{% if value == 'BB_SECTYP_IDR' %}selected{% endif %}>IDR</option>

<option value='BB_SECTYP_IMM_SWAP'
	{% if value == 'BB_SECTYP_IMM_SWAP' %}selected{% endif %}>IMM SWAP</option>

<option value='BB_SECTYP_INCREMENT'
	{% if value == 'BB_SECTYP_INCREMENT' %}selected{% endif %}>INCREMENT</option>

<option value='BB_SECTYP_INDEX'
	{% if value == 'BB_SECTYP_INDEX' %}selected{% endif %}>Index</option>

<option value='BB_SECTYP_INDEX_OPTION'
	{% if value == 'BB_SECTYP_INDEX_OPTION' %}selected{% endif %}>Index Option</option>

<option value='BB_SECTYP_INDEX_OTC_OPTION'
	{% if value == 'BB_SECTYP_INDEX_OTC_OPTION' %}selected{% endif %}>Index OTC Option</option>

<option value='BB_SECTYP_INDEX_WRT'
	{% if value == 'BB_SECTYP_INDEX_WRT' %}selected{% endif %}>Index WRT</option>

<option value='BB_SECTYP_INDIAN_CD'
	{% if value == 'BB_SECTYP_INDIAN_CD' %}selected{% endif %}>INDIAN CD</option>

<option value='BB_SECTYP_INDIAN_CP'
	{% if value == 'BB_SECTYP_INDIAN_CP' %}selected{% endif %}>INDIAN CP</option>

<option value='BB_SECTYP_INDONESIAN_CP'
	{% if value == 'BB_SECTYP_INDONESIAN_CP' %}selected{% endif %}>INDONESIAN CP</option>

<option value='BB_SECTYP_INDX_FUT_WRT'
	{% if value == 'BB_SECTYP_INDX_FUT_WRT' %}selected{% endif %}>Indx Fut WRT</option>

<option value='BB_SECTYP_INFLATION_SWAP'
	{% if value == 'BB_SECTYP_INFLATION_SWAP' %}selected{% endif %}>INFLATION SWAP</option>

<option value='BB_SECTYP_INT_BEAR_FIXBIS'
	{% if value == 'BB_SECTYP_INT_BEAR_FIXBIS' %}selected{% endif %}>INT BEAR FIXBIS</option>

<option value='BB_SECTYP_INT_RT_WRT'
	{% if value == 'BB_SECTYP_INT_RT_WRT' %}selected{% endif %}>Int. Rt. WRT</option>

<option value='BB_SECTYP_INTER_APPRECIATION'
	{% if value == 'BB_SECTYP_INTER_APPRECIATION' %}selected{% endif %}>INTER. APPRECIATION</option>

<option value='BB_SECTYP_INTER_APPRECIATION,_OID'
	{% if value == 'BB_SECTYP_INTER_APPRECIATION,_OID' %}selected{% endif %}>INTER. APPRECIATION, OID</option>

<option value='BB_SECTYP_INTERBANK_OFFERED_RATE'
	{% if value == 'BB_SECTYP_INTERBANK_OFFERED_RATE' %}selected{% endif %}>INTERBANK OFFERED RATE</option>

<option value='BB_SECTYP_INTEREST_RATE_GUARANTEE'
	{% if value == 'BB_SECTYP_INTEREST_RATE_GUARANTEE' %}selected{% endif %}>INTEREST RATE GUARANTEE</option>

<option value='BB_SECTYP_ISLAMIC'
	{% if value == 'BB_SECTYP_ISLAMIC' %}selected{% endif %}>ISLAMIC</option>

<option value='BB_SECTYP_ISLAMIC_BA'
	{% if value == 'BB_SECTYP_ISLAMIC_BA' %}selected{% endif %}>ISLAMIC BA</option>

<option value='BB_SECTYP_ISLAMIC_CP'
	{% if value == 'BB_SECTYP_ISLAMIC_CP' %}selected{% endif %}>ISLAMIC CP</option>

<option value='BB_SECTYP_ISLAMIC_LOC'
	{% if value == 'BB_SECTYP_ISLAMIC_LOC' %}selected{% endif %}>ISLAMIC LOC</option>

<option value='BB_SECTYP_ISLAMIC_REV'
	{% if value == 'BB_SECTYP_ISLAMIC_REV' %}selected{% endif %}>ISLAMIC REV</option>

<option value='BB_SECTYP_ISLAMIC_STANDBY'
	{% if value == 'BB_SECTYP_ISLAMIC_STANDBY' %}selected{% endif %}>ISLAMIC STANDBY</option>

<option value='BB_SECTYP_ISLAMIC_STANDBY_REV'
	{% if value == 'BB_SECTYP_ISLAMIC_STANDBY_REV' %}selected{% endif %}>ISLAMIC STANDBY REV</option>

<option value='BB_SECTYP_ISLAMIC_TERM'
	{% if value == 'BB_SECTYP_ISLAMIC_TERM' %}selected{% endif %}>ISLAMIC TERM</option>

<option value='BB_SECTYP_JUMBO_CD'
	{% if value == 'BB_SECTYP_JUMBO_CD' %}selected{% endif %}>JUMBO CD</option>

<option value='BB_SECTYP_KOREAN_CD'
	{% if value == 'BB_SECTYP_KOREAN_CD' %}selected{% endif %}>KOREAN CD</option>

<option value='BB_SECTYP_KOREAN_CP'
	{% if value == 'BB_SECTYP_KOREAN_CP' %}selected{% endif %}>KOREAN CP</option>

<option value='BB_SECTYP_LEBANESE_CP'
	{% if value == 'BB_SECTYP_LEBANESE_CP' %}selected{% endif %}>LEBANESE CP</option>

<option value='BB_SECTYP_LIQUIDITY_NOTE'
	{% if value == 'BB_SECTYP_LIQUIDITY_NOTE' %}selected{% endif %}>LIQUIDITY NOTE</option>

<option value='BB_SECTYP_LOC'
	{% if value == 'BB_SECTYP_LOC' %}selected{% endif %}>LOC</option>

<option value='BB_SECTYP_LTD_PART'
	{% if value == 'BB_SECTYP_LTD_PART' %}selected{% endif %}>Ltd Part</option>

<option value='BB_SECTYP_LTR_OF_CREDIT'
	{% if value == 'BB_SECTYP_LTR_OF_CREDIT' %}selected{% endif %}>LTR OF CREDIT</option>

<option value='BB_SECTYP_MALAYSIAN_CP'
	{% if value == 'BB_SECTYP_MALAYSIAN_CP' %}selected{% endif %}>MALAYSIAN CP</option>

<option value='BB_SECTYP_MARGIN_TERM_DEP'
	{% if value == 'BB_SECTYP_MARGIN_TERM_DEP' %}selected{% endif %}>MARGIN TERM DEP</option>

<option value='BB_SECTYP_MASTER_NOTES'
	{% if value == 'BB_SECTYP_MASTER_NOTES' %}selected{% endif %}>MASTER NOTES</option>

<option value='BB_SECTYP_MBS_10YR'
	{% if value == 'BB_SECTYP_MBS_10YR' %}selected{% endif %}>MBS 10yr</option>

<option value='BB_SECTYP_MBS_15YR'
	{% if value == 'BB_SECTYP_MBS_15YR' %}selected{% endif %}>MBS 15yr</option>

<option value='BB_SECTYP_MBS_20YR'
	{% if value == 'BB_SECTYP_MBS_20YR' %}selected{% endif %}>MBS 20yr</option>

<option value='BB_SECTYP_MBS_30YR'
	{% if value == 'BB_SECTYP_MBS_30YR' %}selected{% endif %}>MBS 30yr</option>

<option value='BB_SECTYP_MBS_ARM'
	{% if value == 'BB_SECTYP_MBS_ARM' %}selected{% endif %}>MBS ARM</option>

<option value='BB_SECTYP_MBS_BALLOON'
	{% if value == 'BB_SECTYP_MBS_BALLOON' %}selected{% endif %}>MBS balloon</option>

<option value='BB_SECTYP_MBS_OTHER'
	{% if value == 'BB_SECTYP_MBS_OTHER' %}selected{% endif %}>MBS Other</option>

<option value='BB_SECTYP_MED_TERM_NOTE'
	{% if value == 'BB_SECTYP_MED_TERM_NOTE' %}selected{% endif %}>MED TERM NOTE</option>

<option value='BB_SECTYP_MEDIUM_TERM_CD'
	{% if value == 'BB_SECTYP_MEDIUM_TERM_CD' %}selected{% endif %}>MEDIUM TERM CD</option>

<option value='BB_SECTYP_MEDIUM_TERM_ECD'
	{% if value == 'BB_SECTYP_MEDIUM_TERM_ECD' %}selected{% endif %}>MEDIUM TERM ECD</option>

<option value='BB_SECTYP_MEDIUM_TERM_YCD'
	{% if value == 'BB_SECTYP_MEDIUM_TERM_YCD' %}selected{% endif %}>MEDIUM TERM YCD</option>

<option value='BB_SECTYP_MEXICAN_CP'
	{% if value == 'BB_SECTYP_MEXICAN_CP' %}selected{% endif %}>MEXICAN CP</option>

<option value='BB_SECTYP_MEXICAN_PAGARE'
	{% if value == 'BB_SECTYP_MEXICAN_PAGARE' %}selected{% endif %}>MEXICAN PAGARE</option>

<option value='BB_SECTYP_MEZZANINE'
	{% if value == 'BB_SECTYP_MEZZANINE' %}selected{% endif %}>MEZZANINE</option>

<option value='BB_SECTYP_MISC'
	{% if value == 'BB_SECTYP_MISC' %}selected{% endif %}>Misc.</option>

<option value='BB_SECTYP_MONEY_MARKET_CALL'
	{% if value == 'BB_SECTYP_MONEY_MARKET_CALL' %}selected{% endif %}>MONEY MARKET CALL</option>

<option value='BB_SECTYP_MTN_SUBORDINATED'
	{% if value == 'BB_SECTYP_MTN_SUBORDINATED' %}selected{% endif %}>MTN SUBORDINATED</option>

<option value='BB_SECTYP_MUNI_CP'
	{% if value == 'BB_SECTYP_MUNI_CP' %}selected{% endif %}>MUNI CP</option>

<option value='BB_SECTYP_MUNI_INT_BEAR_CP'
	{% if value == 'BB_SECTYP_MUNI_INT_BEAR_CP' %}selected{% endif %}>MUNI INT BEAR CP</option>

<option value='BB_SECTYP_MUNI_SWAP'
	{% if value == 'BB_SECTYP_MUNI_SWAP' %}selected{% endif %}>MUNI SWAP</option>

<option value='BB_SECTYP_MURABAHA'
	{% if value == 'BB_SECTYP_MURABAHA' %}selected{% endif %}>MURABAHA</option>

<option value='BB_SECTYP_MUTUAL_FUND'
	{% if value == 'BB_SECTYP_MUTUAL_FUND' %}selected{% endif %}>Mutual Fund</option>

<option value='BB_SECTYP_MV'
	{% if value == 'BB_SECTYP_MV' %}selected{% endif %}>MV</option>

<option value='BB_SECTYP_MX_CERT_BURSATIL'
	{% if value == 'BB_SECTYP_MX_CERT_BURSATIL' %}selected{% endif %}>MX CERT BURSATIL</option>

<option value='BB_SECTYP_NA'
	{% if value == 'BB_SECTYP_NA' %}selected{% endif %}>N.A.</option>

<option value='BB_SECTYP_NDF_FIXING'
	{% if value == 'BB_SECTYP_NDF_FIXING' %}selected{% endif %}>NDF FIXING</option>

<option value='BB_SECTYP_NDF_SWAP'
	{% if value == 'BB_SECTYP_NDF_SWAP' %}selected{% endif %}>NDF SWAP</option>

<option value='BB_SECTYP_NEG_INST_DEPOSIT'
	{% if value == 'BB_SECTYP_NEG_INST_DEPOSIT' %}selected{% endif %}>NEG INST DEPOSIT</option>

<option value='BB_SECTYP_NEGOTIABLE_CD'
	{% if value == 'BB_SECTYP_NEGOTIABLE_CD' %}selected{% endif %}>NEGOTIABLE CD</option>

<option value='BB_SECTYP_NEW_ZEALAND_CP'
	{% if value == 'BB_SECTYP_NEW_ZEALAND_CP' %}selected{% endif %}>NEW ZEALAND CP</option>

<option value='BB_SECTYP_NON-DELIVERABLE_FORWARD'
	{% if value == 'BB_SECTYP_NON-DELIVERABLE_FORWARD' %}selected{% endif %}>NON-DELIVERABLE FORWARD</option>

<option value='BB_SECTYP_NON-DELIVERABLE_IRS_SWAP'
	{% if value == 'BB_SECTYP_NON-DELIVERABLE_IRS_SWAP' %}selected{% endif %}>NON-DELIVERABLE IRS SWAP</option>

<option value='BB_SECTYP_NON-DELIVERABLE_OIS_SWAP'
	{% if value == 'BB_SECTYP_NON-DELIVERABLE_OIS_SWAP' %}selected{% endif %}>NON-DELIVERABLE OIS SWAP</option>

<option value='BB_SECTYP_NON-EQUITY_INDEX'
	{% if value == 'BB_SECTYP_NON-EQUITY_INDEX' %}selected{% endif %}>Non-Equity Index</option>

<option value='BB_SECTYP_NORWEGIAN_CD'
	{% if value == 'BB_SECTYP_NORWEGIAN_CD' %}selected{% endif %}>NORWEGIAN CD</option>

<option value='BB_SECTYP_NY_REG_SHRS'
	{% if value == 'BB_SECTYP_NY_REG_SHRS' %}selected{% endif %}>NY Reg Shrs</option>

<option value='BB_SECTYP_OID'
	{% if value == 'BB_SECTYP_OID' %}selected{% endif %}>OID</option>

<option value='BB_SECTYP_ONSHORE_FIXING'
	{% if value == 'BB_SECTYP_ONSHORE_FIXING' %}selected{% endif %}>ONSHORE FIXING</option>

<option value='BB_SECTYP_ONSHORE_FORWARD'
	{% if value == 'BB_SECTYP_ONSHORE_FORWARD' %}selected{% endif %}>ONSHORE FORWARD</option>

<option value='BB_SECTYP_ONSHORE_SWAP'
	{% if value == 'BB_SECTYP_ONSHORE_SWAP' %}selected{% endif %}>ONSHORE SWAP</option>

<option value='BB_SECTYP_OPEN-END_FUND'
	{% if value == 'BB_SECTYP_OPEN-END_FUND' %}selected{% endif %}>Open-End Fund</option>

<option value='BB_SECTYP_OPTION'
	{% if value == 'BB_SECTYP_OPTION' %}selected{% endif %}>OPTION</option>

<option value='BB_SECTYP_OPTION_VOLATILITY'
	{% if value == 'BB_SECTYP_OPTION_VOLATILITY' %}selected{% endif %}>OPTION VOLATILITY</option>

<option value='BB_SECTYP_OTC_OPTION'
	{% if value == 'BB_SECTYP_OTC_OPTION' %}selected{% endif %}>OTC Option</option>

<option value='BB_SECTYP_OTHER'
	{% if value == 'BB_SECTYP_OTHER' %}selected{% endif %}>OTHER</option>

<option value='BB_SECTYP_OVER/NIGHT'
	{% if value == 'BB_SECTYP_OVER/NIGHT' %}selected{% endif %}>OVER/NIGHT</option>

<option value='BB_SECTYP_OVERDRAFT'
	{% if value == 'BB_SECTYP_OVERDRAFT' %}selected{% endif %}>OVERDRAFT</option>

<option value='BB_SECTYP_OVERDRAFT_FACILITY'
	{% if value == 'BB_SECTYP_OVERDRAFT_FACILITY' %}selected{% endif %}>OVERDRAFT FACILITY</option>

<option value='BB_SECTYP_OVERNIGHT_INDEXED_SWAP'
	{% if value == 'BB_SECTYP_OVERNIGHT_INDEXED_SWAP' %}selected{% endif %}>OVERNIGHT INDEXED SWAP</option>

<option value='BB_SECTYP_PHILIPPINE_CP'
	{% if value == 'BB_SECTYP_PHILIPPINE_CP' %}selected{% endif %}>PHILIPPINE CP</option>

<option value='BB_SECTYP_PHYSICAL_COMMODITY_FORWARD'
	{% if value == 'BB_SECTYP_PHYSICAL_COMMODITY_FORWARD' %}selected{% endif %}>Physical commodity forward.</option>

<option value='BB_SECTYP_PHYSICAL_COMMODITY_FUTURE'
	{% if value == 'BB_SECTYP_PHYSICAL_COMMODITY_FUTURE' %}selected{% endif %}>Physical commodity future.</option>

<option value='BB_SECTYP_PHYSICAL_COMMODITY_GENERIC'
	{% if value == 'BB_SECTYP_PHYSICAL_COMMODITY_GENERIC' %}selected{% endif %}>Physical commodity generic.</option>

<option value='BB_SECTYP_PHYSICAL_COMMODITY_OPTION'
	{% if value == 'BB_SECTYP_PHYSICAL_COMMODITY_OPTION' %}selected{% endif %}>Physical commodity option.</option>

<option value='BB_SECTYP_PHYSICAL_COMMODITY_SPOT'
	{% if value == 'BB_SECTYP_PHYSICAL_COMMODITY_SPOT' %}selected{% endif %}>Physical commodity spot.</option>

<option value='BB_SECTYP_PHYSICAL_INDEX_FUTURE'
	{% if value == 'BB_SECTYP_PHYSICAL_INDEX_FUTURE' %}selected{% endif %}>Physical index future.</option>

<option value='BB_SECTYP_PHYSICAL_INDEX_OPTION'
	{% if value == 'BB_SECTYP_PHYSICAL_INDEX_OPTION' %}selected{% endif %}>Physical index option.</option>

<option value='BB_SECTYP_PIK'
	{% if value == 'BB_SECTYP_PIK' %}selected{% endif %}>PIK</option>

<option value='BB_SECTYP_PIK_REV'
	{% if value == 'BB_SECTYP_PIK_REV' %}selected{% endif %}>PIK REV</option>

<option value='BB_SECTYP_PIK_REVOLVER'
	{% if value == 'BB_SECTYP_PIK_REVOLVER' %}selected{% endif %}>PIK REVOLVER</option>

<option value='BB_SECTYP_PIK_STANDBY_TERM'
	{% if value == 'BB_SECTYP_PIK_STANDBY_TERM' %}selected{% endif %}>PIK STANDBY TERM</option>

<option value='BB_SECTYP_PIK_TERM'
	{% if value == 'BB_SECTYP_PIK_TERM' %}selected{% endif %}>PIK TERM</option>

<option value='BB_SECTYP_PIK_TERM_LOAN'
	{% if value == 'BB_SECTYP_PIK_TERM_LOAN' %}selected{% endif %}>PIK TERM LOAN</option>

<option value='BB_SECTYP_PLAZOS_FIJOS'
	{% if value == 'BB_SECTYP_PLAZOS_FIJOS' %}selected{% endif %}>PLAZOS FIJOS</option>

<option value='BB_SECTYP_PORTUGUESE_CP'
	{% if value == 'BB_SECTYP_PORTUGUESE_CP' %}selected{% endif %}>PORTUGUESE CP</option>

<option value='BB_SECTYP_PREFERENCE'
	{% if value == 'BB_SECTYP_PREFERENCE' %}selected{% endif %}>Preference</option>

<option value='BB_SECTYP_PREFERRED'
	{% if value == 'BB_SECTYP_PREFERRED' %}selected{% endif %}>Preferred</option>

<option value='BB_SECTYP_PRES'
	{% if value == 'BB_SECTYP_PRES' %}selected{% endif %}>PRES</option>

<option value='BB_SECTYP_PRFD_WRT'
	{% if value == 'BB_SECTYP_PRFD_WRT' %}selected{% endif %}>Prfd WRT</option>

<option value='BB_SECTYP_PRIV_PLACEMENT'
	{% if value == 'BB_SECTYP_PRIV_PLACEMENT' %}selected{% endif %}>PRIV PLACEMENT</option>

<option value='BB_SECTYP_PRIVATE'
	{% if value == 'BB_SECTYP_PRIVATE' %}selected{% endif %}>PRIVATE</option>

<option value='BB_SECTYP_PRIVATE_COMP'
	{% if value == 'BB_SECTYP_PRIVATE_COMP' %}selected{% endif %}>Private Comp</option>

<option value='BB_SECTYP_PRIVATE_EQTY'
	{% if value == 'BB_SECTYP_PRIVATE_EQTY' %}selected{% endif %}>Private Eqty</option>

<option value='BB_SECTYP_CURNCY_PROMISSORY_NOTE'
	{% if value == 'BB_SECTYP_CURNCY_PROMISSORY_NOTE' %}selected{% endif %}>PROMISSORY NOTE</option>

<option value='BB_SECTYP_PROMISSORY_NOTE'
	{% if value == 'BB_SECTYP_PROMISSORY_NOTE' %}selected{% endif %}>PROMISSORY NOTE</option>

<option value='BB_SECTYP_PROPERTY_SWAP'
	{% if value == 'BB_SECTYP_PROPERTY_SWAP' %}selected{% endif %}>PROPERTY SWAP</option>

<option value='BB_SECTYP_PROV_T-BILL'
	{% if value == 'BB_SECTYP_PROV_T-BILL' %}selected{% endif %}>PROV T-BILL</option>

<option value='BB_SECTYP_PRVT_CMO_FLT'
	{% if value == 'BB_SECTYP_PRVT_CMO_FLT' %}selected{% endif %}>Prvt CMO FLT</option>

<option value='BB_SECTYP_PRVT_CMO_INV'
	{% if value == 'BB_SECTYP_PRVT_CMO_INV' %}selected{% endif %}>Prvt CMO INV</option>

<option value='BB_SECTYP_PRVT_CMO_IO'
	{% if value == 'BB_SECTYP_PRVT_CMO_IO' %}selected{% endif %}>Prvt CMO IO</option>

<option value='BB_SECTYP_PRVT_CMO_OTHER'
	{% if value == 'BB_SECTYP_PRVT_CMO_OTHER' %}selected{% endif %}>Prvt CMO Other</option>

<option value='BB_SECTYP_PRVT_CMO_PO'
	{% if value == 'BB_SECTYP_PRVT_CMO_PO' %}selected{% endif %}>Prvt CMO PO</option>

<option value='BB_SECTYP_PRVT_CMO_Z'
	{% if value == 'BB_SECTYP_PRVT_CMO_Z' %}selected{% endif %}>Prvt CMO Z</option>

<option value='BB_SECTYP_PUBLIC'
	{% if value == 'BB_SECTYP_PUBLIC' %}selected{% endif %}>PUBLIC</option>

<option value='BB_SECTYP_QUARTERLY_SWAP'
	{% if value == 'BB_SECTYP_QUARTERLY_SWAP' %}selected{% endif %}>QUARTERLY SWAP</option>

<option value='BB_SECTYP_RDC'
	{% if value == 'BB_SECTYP_RDC' %}selected{% endif %}>RDC</option>

<option value='BB_SECTYP_RECEIPT'
	{% if value == 'BB_SECTYP_RECEIPT' %}selected{% endif %}>Receipt</option>

<option value='BB_SECTYP_REIT'
	{% if value == 'BB_SECTYP_REIT' %}selected{% endif %}>REIT</option>

<option value='BB_SECTYP_REPO'
	{% if value == 'BB_SECTYP_REPO' %}selected{% endif %}>REPO</option>

<option value='BB_SECTYP_RESTRUCTURD_DEBT'
	{% if value == 'BB_SECTYP_RESTRUCTURD_DEBT' %}selected{% endif %}>RESTRUCTURD DEBT</option>

<option value='BB_SECTYP_RETAIL_CD'
	{% if value == 'BB_SECTYP_RETAIL_CD' %}selected{% endif %}>RETAIL CD</option>

<option value='BB_SECTYP_RETURN_IDX'
	{% if value == 'BB_SECTYP_RETURN_IDX' %}selected{% endif %}>RETURN IDX</option>

<option value='BB_SECTYP_REV'
	{% if value == 'BB_SECTYP_REV' %}selected{% endif %}>REV</option>

<option value='BB_SECTYP_REV_GUARANTEE_FAC'
	{% if value == 'BB_SECTYP_REV_GUARANTEE_FAC' %}selected{% endif %}>REV GUARANTEE FAC</option>

<option value='BB_SECTYP_REV_INCREMENT'
	{% if value == 'BB_SECTYP_REV_INCREMENT' %}selected{% endif %}>REV INCREMENT</option>

<option value='BB_SECTYP_REV_MULTI-DRAW'
	{% if value == 'BB_SECTYP_REV_MULTI-DRAW' %}selected{% endif %}>REV MULTI-DRAW</option>

<option value='BB_SECTYP_REV_OVERDRAFT'
	{% if value == 'BB_SECTYP_REV_OVERDRAFT' %}selected{% endif %}>REV OVERDRAFT</option>

<option value='BB_SECTYP_REV_VAT-TRNCH'
	{% if value == 'BB_SECTYP_REV_VAT-TRNCH' %}selected{% endif %}>REV VAT-TRNCH</option>

<option value='BB_SECTYP_REVOLVER'
	{% if value == 'BB_SECTYP_REVOLVER' %}selected{% endif %}>REVOLVER</option>

<option value='BB_SECTYP_REVOLVER/TERM'
	{% if value == 'BB_SECTYP_REVOLVER/TERM' %}selected{% endif %}>REVOLVER/TERM</option>

<option value='BB_SECTYP_RIGHT'
	{% if value == 'BB_SECTYP_RIGHT' %}selected{% endif %}>Right</option>

<option value='BB_SECTYP_ROYALTY_TRST'
	{% if value == 'BB_SECTYP_ROYALTY_TRST' %}selected{% endif %}>Royalty Trst</option>

<option value='BB_SECTYP_STERM_LOAN_NOTE'
	{% if value == 'BB_SECTYP_STERM_LOAN_NOTE' %}selected{% endif %}>S.TERM LOAN NOTE</option>

<option value='BB_SECTYP_S/A_MD_TERM_YCD'
	{% if value == 'BB_SECTYP_S/A_MD_TERM_YCD' %}selected{% endif %}>S/A MD TERM YCD</option>

<option value='BB_SECTYP_SAMURAI'
	{% if value == 'BB_SECTYP_SAMURAI' %}selected{% endif %}>SAMURAI</option>

<option value='BB_SECTYP_SBA_POOL'
	{% if value == 'BB_SECTYP_SBA_POOL' %}selected{% endif %}>SBA Pool</option>

<option value='BB_SECTYP_SEC_LENDING'
	{% if value == 'BB_SECTYP_SEC_LENDING' %}selected{% endif %}>Sec Lending</option>

<option value='BB_SECTYP_SEMI-ANNUAL_SWAP'
	{% if value == 'BB_SECTYP_SEMI-ANNUAL_SWAP' %}selected{% endif %}>SEMI-ANNUAL SWAP</option>

<option value='BB_SECTYP_SHOGUN'
	{% if value == 'BB_SECTYP_SHOGUN' %}selected{% endif %}>SHOGUN</option>

<option value='BB_SECTYP_SHORT_TERM_BN'
	{% if value == 'BB_SECTYP_SHORT_TERM_BN' %}selected{% endif %}>SHORT TERM BN</option>

<option value='BB_SECTYP_SHORT_TERM_DN'
	{% if value == 'BB_SECTYP_SHORT_TERM_DN' %}selected{% endif %}>SHORT TERM DN</option>

<option value='BB_SECTYP_SINGAPORE_CP'
	{% if value == 'BB_SECTYP_SINGAPORE_CP' %}selected{% endif %}>SINGAPORE CP</option>

<option value='BB_SECTYP_COMDTY_SINGLE_STOCK_FUTURE'
	{% if value == 'BB_SECTYP_COMDTY_SINGLE_STOCK_FUTURE' %}selected{% endif %}>SINGLE STOCK FUTURE</option>

<option value='BB_SECTYP_SINGLE_STOCK_FUTURE'
	{% if value == 'BB_SECTYP_SINGLE_STOCK_FUTURE' %}selected{% endif %}>SINGLE STOCK FUTURE</option>

<option value='BB_SECTYP_SN'
	{% if value == 'BB_SECTYP_SN' %}selected{% endif %}>SN</option>

<option value='BB_SECTYP_SPARE_-_N/A'
	{% if value == 'BB_SECTYP_SPARE_-_N/A' %}selected{% endif %}>SPARE - N/A</option>

<option value='BB_SECTYP_SPECIAL_LMMK_PGM'
	{% if value == 'BB_SECTYP_SPECIAL_LMMK_PGM' %}selected{% endif %}>SPECIAL LMMK PGM</option>

<option value='BB_SECTYP_SPOT'
	{% if value == 'BB_SECTYP_SPOT' %}selected{% endif %}>SPOT</option>

<option value='BB_SECTYP_SPOT_INDEX'
	{% if value == 'BB_SECTYP_SPOT_INDEX' %}selected{% endif %}>Spot index.</option>

<option value='BB_SECTYP_STANDBY'
	{% if value == 'BB_SECTYP_STANDBY' %}selected{% endif %}>STANDBY</option>

<option value='BB_SECTYP_STANDBY_LOC'
	{% if value == 'BB_SECTYP_STANDBY_LOC' %}selected{% endif %}>STANDBY LOC</option>

<option value='BB_SECTYP_STANDBY_REV'
	{% if value == 'BB_SECTYP_STANDBY_REV' %}selected{% endif %}>STANDBY REV</option>

<option value='BB_SECTYP_STANDBY_TERM'
	{% if value == 'BB_SECTYP_STANDBY_TERM' %}selected{% endif %}>STANDBY TERM</option>

<option value='BB_SECTYP_STERLING_CD'
	{% if value == 'BB_SECTYP_STERLING_CD' %}selected{% endif %}>STERLING CD</option>

<option value='BB_SECTYP_STERLING_CP'
	{% if value == 'BB_SECTYP_STERLING_CP' %}selected{% endif %}>STERLING CP</option>

<option value='BB_SECTYP_STRATEGY_TRADE'
	{% if value == 'BB_SECTYP_STRATEGY_TRADE' %}selected{% endif %}>Strategy Trade.</option>

<option value='BB_SECTYP_SWAP'
	{% if value == 'BB_SECTYP_SWAP' %}selected{% endif %}>SWAP</option>

<option value='BB_SECTYP_SWAP_SPREAD'
	{% if value == 'BB_SECTYP_SWAP_SPREAD' %}selected{% endif %}>SWAP SPREAD</option>

<option value='BB_SECTYP_SWAPTION_VOLATILITY'
	{% if value == 'BB_SECTYP_SWAPTION_VOLATILITY' %}selected{% endif %}>SWAPTION VOLATILITY</option>

<option value='BB_SECTYP_SWEDISH_CP'
	{% if value == 'BB_SECTYP_SWEDISH_CP' %}selected{% endif %}>SWEDISH CP</option>

<option value='BB_SECTYP_SWING_LINE_LOAN'
	{% if value == 'BB_SECTYP_SWING_LINE_LOAN' %}selected{% endif %}>SWING LINE LOAN</option>

<option value='BB_SECTYP_SWINGLINE'
	{% if value == 'BB_SECTYP_SWINGLINE' %}selected{% endif %}>SWINGLINE</option>

<option value='BB_SECTYP_SWISS_CERT'
	{% if value == 'BB_SECTYP_SWISS_CERT' %}selected{% endif %}>Swiss Cert</option>

<option value='BB_SECTYP_SYNTH'
	{% if value == 'BB_SECTYP_SYNTH' %}selected{% endif %}>SYNTH</option>

<option value='BB_SECTYP_SYNTH_LOC'
	{% if value == 'BB_SECTYP_SYNTH_LOC' %}selected{% endif %}>SYNTH LOC</option>

<option value='BB_SECTYP_SYNTH_REV'
	{% if value == 'BB_SECTYP_SYNTH_REV' %}selected{% endif %}>SYNTH REV</option>

<option value='BB_SECTYP_SYNTH_TERM'
	{% if value == 'BB_SECTYP_SYNTH_TERM' %}selected{% endif %}>SYNTH TERM</option>

<option value='BB_SECTYP_SYNTHETIC_LOC'
	{% if value == 'BB_SECTYP_SYNTHETIC_LOC' %}selected{% endif %}>SYNTHETIC LOC</option>

<option value='BB_SECTYP_SYNTHETIC_REVOLVER'
	{% if value == 'BB_SECTYP_SYNTHETIC_REVOLVER' %}selected{% endif %}>SYNTHETIC REVOLVER</option>

<option value='BB_SECTYP_TAIWAN_CP'
	{% if value == 'BB_SECTYP_TAIWAN_CP' %}selected{% endif %}>TAIWAN CP</option>

<option value='BB_SECTYP_TAIWAN_CP_GUAR'
	{% if value == 'BB_SECTYP_TAIWAN_CP_GUAR' %}selected{% endif %}>TAIWAN CP GUAR</option>

<option value='BB_SECTYP_TAIWAN_NEGO_CD'
	{% if value == 'BB_SECTYP_TAIWAN_NEGO_CD' %}selected{% endif %}>TAIWAN NEGO CD</option>

<option value='BB_SECTYP_TAIWAN_TIME_DEPO'
	{% if value == 'BB_SECTYP_TAIWAN_TIME_DEPO' %}selected{% endif %}>TAIWAN TIME DEPO</option>

<option value='BB_SECTYP_TAX-SPARED'
	{% if value == 'BB_SECTYP_TAX-SPARED' %}selected{% endif %}>TAX-SPARED</option>

<option value='BB_SECTYP_TAX_CREDIT'
	{% if value == 'BB_SECTYP_TAX_CREDIT' %}selected{% endif %}>TAX CREDIT</option>

<option value='BB_SECTYP_TAX_CREDIT,_OID'
	{% if value == 'BB_SECTYP_TAX_CREDIT,_OID' %}selected{% endif %}>TAX CREDIT, OID</option>

<option value='BB_SECTYP_TERM'
	{% if value == 'BB_SECTYP_TERM' %}selected{% endif %}>TERM</option>

<option value='BB_SECTYP_TERM_DEPOSITS'
	{% if value == 'BB_SECTYP_TERM_DEPOSITS' %}selected{% endif %}>TERM DEPOSITS</option>

<option value='BB_SECTYP_TERM_GUARANTEE_FAC'
	{% if value == 'BB_SECTYP_TERM_GUARANTEE_FAC' %}selected{% endif %}>TERM GUARANTEE FAC</option>

<option value='BB_SECTYP_TERM_INCREMENT'
	{% if value == 'BB_SECTYP_TERM_INCREMENT' %}selected{% endif %}>TERM INCREMENT</option>

<option value='BB_SECTYP_TERM_LIFO'
	{% if value == 'BB_SECTYP_TERM_LIFO' %}selected{% endif %}>TERM LIFO</option>

<option value='BB_SECTYP_TERM_MULTI-DRAW'
	{% if value == 'BB_SECTYP_TERM_MULTI-DRAW' %}selected{% endif %}>TERM MULTI-DRAW</option>

<option value='BB_SECTYP_TERM_OVERDRAFT'
	{% if value == 'BB_SECTYP_TERM_OVERDRAFT' %}selected{% endif %}>TERM OVERDRAFT</option>

<option value='BB_SECTYP_TERM_REV'
	{% if value == 'BB_SECTYP_TERM_REV' %}selected{% endif %}>TERM REV</option>

<option value='BB_SECTYP_TERM_TAX-SPARED'
	{% if value == 'BB_SECTYP_TERM_TAX-SPARED' %}selected{% endif %}>TERM TAX-SPARED</option>

<option value='BB_SECTYP_TERM_VAT-TRNCH'
	{% if value == 'BB_SECTYP_TERM_VAT-TRNCH' %}selected{% endif %}>TERM VAT-TRNCH</option>

<option value='BB_SECTYP_THAILAND_CP'
	{% if value == 'BB_SECTYP_THAILAND_CP' %}selected{% endif %}>THAILAND CP</option>

<option value='BB_SECTYP_TRACKING_STK'
	{% if value == 'BB_SECTYP_TRACKING_STK' %}selected{% endif %}>Tracking Stk</option>

<option value='BB_SECTYP_TREASURY_BILL'
	{% if value == 'BB_SECTYP_TREASURY_BILL' %}selected{% endif %}>TREASURY BILL</option>

<option value='BB_SECTYP_US_CD'
	{% if value == 'BB_SECTYP_US_CD' %}selected{% endif %}>U.S. CD</option>

<option value='BB_SECTYP_US_CP'
	{% if value == 'BB_SECTYP_US_CP' %}selected{% endif %}>U.S. CP</option>

<option value='BB_SECTYP_US_INT_BEAR_CP'
	{% if value == 'BB_SECTYP_US_INT_BEAR_CP' %}selected{% endif %}>U.S. INT BEAR CP</option>

<option value='BB_SECTYP_UIT'
	{% if value == 'BB_SECTYP_UIT' %}selected{% endif %}>UIT</option>

<option value='BB_SECTYP_UK_GILT_STOCK'
	{% if value == 'BB_SECTYP_UK_GILT_STOCK' %}selected{% endif %}>UK GILT STOCK</option>

<option value='BB_SECTYP_UNIT'
	{% if value == 'BB_SECTYP_UNIT' %}selected{% endif %}>Unit</option>

<option value='BB_SECTYP_UNIT_INV_TST'
	{% if value == 'BB_SECTYP_UNIT_INV_TST' %}selected{% endif %}>Unit Inv Tst</option>

<option value='BB_SECTYP_US_DOMESTIC'
	{% if value == 'BB_SECTYP_US_DOMESTIC' %}selected{% endif %}>US DOMESTIC</option>

<option value='BB_SECTYP_US_GOVERNMENT'
	{% if value == 'BB_SECTYP_US_GOVERNMENT' %}selected{% endif %}>US GOVERNMENT</option>

<option value='BB_SECTYP_US_NON-DOLLAR'
	{% if value == 'BB_SECTYP_US_NON-DOLLAR' %}selected{% endif %}>US NON-DOLLAR</option>

<option value='BB_SECTYP_VAR_RATE_DEM_OBL'
	{% if value == 'BB_SECTYP_VAR_RATE_DEM_OBL' %}selected{% endif %}>VAR RATE DEM OBL</option>

<option value='BB_SECTYP_VARIABLE_ANNUITY'
	{% if value == 'BB_SECTYP_VARIABLE_ANNUITY' %}selected{% endif %}>Variable Annuity</option>

<option value='BB_SECTYP_VAT-TRNCH'
	{% if value == 'BB_SECTYP_VAT-TRNCH' %}selected{% endif %}>VAT-TRNCH</option>

<option value='BB_SECTYP_VENEZUELAN_CP'
	{% if value == 'BB_SECTYP_VENEZUELAN_CP' %}selected{% endif %}>VENEZUELAN CP</option>

<option value='BB_SECTYP_VOLATILITY_DERIVATIVE'
	{% if value == 'BB_SECTYP_VOLATILITY_DERIVATIVE' %}selected{% endif %}>VOLATILITY DERIVATIVE</option>

<option value='BB_SECTYP_EQUITY_WARRANT'
	{% if value == 'BB_SECTYP_EQUITY_WARRANT' %}selected{% endif %}>Warrant</option>

<option value='BB_SECTYP_WARRANT'
	{% if value == 'BB_SECTYP_WARRANT' %}selected{% endif %}>WARRANT</option>

<option value='BB_SECTYP_WHEN_ISSUED'
	{% if value == 'BB_SECTYP_WHEN_ISSUED' %}selected{% endif %}>WHEN ISSUED</option>

<option value='BB_SECTYP_WHEN_ISSUED,_OID'
	{% if value == 'BB_SECTYP_WHEN_ISSUED,_OID' %}selected{% endif %}>WHEN ISSUED, OID</option>

<option value='BB_SECTYP_YANKEE'
	{% if value == 'BB_SECTYP_YANKEE' %}selected{% endif %}>YANKEE</option>

<option value='BB_SECTYP_YANKEE_CD'
	{% if value == 'BB_SECTYP_YANKEE_CD' %}selected{% endif %}>YANKEE CD</option>

<option value='BB_SECTYP_YEN_CD'
	{% if value == 'BB_SECTYP_YEN_CD' %}selected{% endif %}>YEN CD</option>

<option value='BB_SECTYP_YEN_CP'
	{% if value == 'BB_SECTYP_YEN_CP' %}selected{% endif %}>YEN CP</option>

<option value='BB_SECTYP_ZERO_COUPON'
	{% if value == 'BB_SECTYP_ZERO_COUPON' %}selected{% endif %}>ZERO COUPON</option>

<option value='BB_SECTYP_ZERO_COUPON_OID'
	{% if value == 'BB_SECTYP_ZERO_COUPON_OID' %}selected{% endif %}>ZERO COUPON, OID</option>
