
<option value='CONT_ACCOUNT_CLASS'
	{% if value == 'CONT_ACCOUNT_CLASS' %}selected{% endif %}>universe.models.AccountContainer</option>

<option value='CONT_BACKTEST_CLASS'
	{% if value == 'CONT_BACKTEST_CLASS' %}selected{% endif %}>universe.models.BacktestContainer</option>

<option value='CONT_COMPANY_CLASS'
	{% if value == 'CONT_COMPANY_CLASS' %}selected{% endif %}>universe.models.CompanyContainer</option>

<option value='CONT_PERSON_CLASS'
	{% if value == 'CONT_PERSON_CLASS' %}selected{% endif %}>universe.models.PersonContainer</option>

<option value='CONT_PORTFOLIO_CLASS'
	{% if value == 'CONT_PORTFOLIO_CLASS' %}selected{% endif %}>universe.models.PortfolioContainer</option>

<option value='CONT_PUT_CLASS'
	{% if value == 'CONT_PUT_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_CALL_CLASS'
	{% if value == 'CONT_CALL_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_FORWARD_CLASS'
	{% if value == 'CONT_FORWARD_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_INDEX_CLASS'
	{% if value == 'CONT_INDEX_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_FUND_CLASS'
	{% if value == 'CONT_FUND_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_SECURITY_CLASS'
	{% if value == 'CONT_SECURITY_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_SPOT_CLASS'
	{% if value == 'CONT_SPOT_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_BOND_CLASS'
	{% if value == 'CONT_BOND_CLASS' %}selected{% endif %}>universe.models.SecurityContainer</option>

<option value='CONT_UNIVERSE_CLASS'
	{% if value == 'CONT_UNIVERSE_CLASS' %}selected{% endif %}>universe.models.Universe</option>
