

	
	<li role="presentation" class="dropdown-header">Actions</li>
	
		
		<li><a href="/container_get.html?container_id={{container.id}}&container_type={{container.type.identifier}}">Open</a></li>
		
	
		
		<li><a href="/container_delete.html?container_id={{container.id}}&container_type={{container.type.identifier}}">Delete</a></li>
		
	
	

	
	<li role="presentation" class="dropdown-header">Guardian</li>
	
		
		<li><a href="/container_external_import.html?container_id={{container.id}}&container_type={{container.type.identifier}}&external=guardian&target=security">Import security information</a></li>
		
	
		
		<li><a href="/container_external_import.html?container_id={{container.id}}&container_type={{container.type.identifier}}&external=guardian&target=prices">Import historical prices</a></li>
		
	
	

	

	
	<li role="presentation" class="dropdown-header">Webfolio</li>
	
		
		<li><a href="/container_external_import.html?container_id={{container.id}}&container_type={{container.type.identifier}}&external=webfolio&target=security">Import security information</a></li>
		
	
		
		<li><a href="/container_external_import.html?container_id={{container.id}}&container_type={{container.type.identifier}}&external=webfolio&target=prices">Import historical prices</a></li>
		
	
	
