
<option value='CONT_ACCOUNT'
	{% if value == 'CONT_ACCOUNT' %}selected{% endif %}>Account</option>

<option value='CONT_BOND'
	{% if value == 'CONT_BOND' %}selected{% endif %}>Bond</option>

<option value='CONT_CALL'
	{% if value == 'CONT_CALL' %}selected{% endif %}>Call option</option>

<option value='CONT_COMPANY'
	{% if value == 'CONT_COMPANY' %}selected{% endif %}>Company</option>

<option value='CONT_FORWARD'
	{% if value == 'CONT_FORWARD' %}selected{% endif %}>Currency Forward</option>

<option value='CONT_SPOT'
	{% if value == 'CONT_SPOT' %}selected{% endif %}>Currency Spot</option>

<option value='CONT_FUND'
	{% if value == 'CONT_FUND' %}selected{% endif %}>Fund</option>

<option value='CONT_INDEX'
	{% if value == 'CONT_INDEX' %}selected{% endif %}>Index</option>

<option value='CONT_UNIVERSE'
	{% if value == 'CONT_UNIVERSE' %}selected{% endif %}>Investment Universe</option>

<option value='CONT_PERSON'
	{% if value == 'CONT_PERSON' %}selected{% endif %}>Person</option>

<option value='CONT_PORTFOLIO'
	{% if value == 'CONT_PORTFOLIO' %}selected{% endif %}>Portfolio</option>

<option value='CONT_PUT'
	{% if value == 'CONT_PUT' %}selected{% endif %}>Put Option</option>

<option value='CONT_SECURITY'
	{% if value == 'CONT_SECURITY' %}selected{% endif %}>Security</option>
