
							
							
							
							<div class="form-group">
								<label for="short_description">short_description</label>
								
								<input name="short_description" type="text" class="form-control" id="short_description" placeholder="Enter a short_description" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="description">description</label>
								
								<input name="description" type="text" class="form-control" id="description" placeholder="Enter a description" value=""/>
								
							</div>
							
							
							g