
							
							
							
							<div class="form-group">
								<label for="name">inception_date</label>
								<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name" value=""/>
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="name">aliases</label>
								<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name" value=""/>
							</div>
							
							
							