
							
							
							
							<div class="form-group">
								<label for="currency">currency universe.models.Attributes - {&#39;type&#39;: &#39;currency&#39;} - None</label>
								<input name="currency" type="text" class="form-control" id="currency" placeholder="Enter a currency" value=""/>
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="associated_thirds">associated_thirds universe.models.RelatedThird - {} - role</label>
								<input name="associated_thirds" type="text" class="form-control" id="associated_thirds" placeholder="Enter a associated_thirds" value=""/>
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="type">type universe.models.Attributes - {&#39;type&#39;: &#39;container_type&#39;} - None</label>
								<input name="type" type="text" class="form-control" id="type" placeholder="Enter a type" value=""/>
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="inception_date">inception_date  -  - </label>
								<input name="inception_date" type="text" class="form-control date-form-field" id="inception_date" placeholder="Enter a inception_date" value=""/>
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="associated_companies">associated_companies universe.models.RelatedCompany - {} - role</label>
								<input name="associated_companies" type="text" class="form-control" id="associated_companies" placeholder="Enter a associated_companies" value=""/>
							</div>
							
							
							