
<option value='FINALE_SECURITY'
	{% if value == 'FINALE_SECURITY' %}selected{% endif %}>Applies to all security types</option>

<option value='FINALE_BOND'
	{% if value == 'FINALE_BOND' %}selected{% endif %}>Applies to bonds</option>

<option value='FINALE_CURRENCY'
	{% if value == 'FINALE_CURRENCY' %}selected{% endif %}>Applies to currencies</option>

<option value='FINALE_FUND'
	{% if value == 'FINALE_FUND' %}selected{% endif %}>Applies to funds</option>

<option value='FINALE_INDEX'
	{% if value == 'FINALE_INDEX' %}selected{% endif %}>Applies to indices</option>

<option value='FINALE_OPTION'
	{% if value == 'FINALE_OPTION' %}selected{% endif %}>Applies to options</option>
