
<option value='PRICE_TYPE_BUY'
	{% if value == 'PRICE_TYPE_BUY' %}selected{% endif %}>Buy</option>

<option value='PRICE_TYPE_CLOSE'
	{% if value == 'PRICE_TYPE_CLOSE' %}selected{% endif %}>Close</option>

<option value='PRICE_TYPE_INTRADAY'
	{% if value == 'PRICE_TYPE_INTRADAY' %}selected{% endif %}>Intraday</option>

<option value='PRICE_TYPE_OFFICIAL'
	{% if value == 'PRICE_TYPE_OFFICIAL' %}selected{% endif %}>Official</option>

<option value='PRICE_TYPE_SELL'
	{% if value == 'PRICE_TYPE_SELL' %}selected{% endif %}>Sell</option>
