
<option value='PHONE_LAND_CONTACT'
	{% if value == 'PHONE_LAND_CONTACT' %}selected{% endif %}>Contact Landline</option>

<option value='PHONE_MOB_CONTACT'
	{% if value == 'PHONE_MOB_CONTACT' %}selected{% endif %}>Contact Mobile</option>

<option value='PHONE_FAX_HONE'
	{% if value == 'PHONE_FAX_HONE' %}selected{% endif %}>Home Fax</option>

<option value='PHONE_LAND_PERSONAL'
	{% if value == 'PHONE_LAND_PERSONAL' %}selected{% endif %}>Personal Landline</option>

<option value='PHONE_MOB_PERSONAL'
	{% if value == 'PHONE_MOB_PERSONAL' %}selected{% endif %}>Personal Mobile</option>

<option value='PHONE_FAX_WORK'
	{% if value == 'PHONE_FAX_WORK' %}selected{% endif %}>Work Fax</option>

<option value='PHONE_LAND_WORK'
	{% if value == 'PHONE_LAND_WORK' %}selected{% endif %}>Work Landline</option>

<option value='PHONE_MOB_WORK'
	{% if value == 'PHONE_MOB_WORK' %}selected{% endif %}>Work Mobile</option>
