{% extends "finale_base.html" %}
{% block title %}Financial Lightweight Editor - Companies{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
{% endblock %}
{% block headeroptions %}
{% endblock %}
	</head>
	<body>
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">All companies</h1>
	  			<p class="lead">Manage and explore all companies from here<br/>
			</div>
		</div>
		<div class="row">
			<form id="look_form" role="form" action="#" method="POST">{% csrf_token %}
				<div class="form-group">
					<label for="name" class="col-lg-1">Look for:</label>
					<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name or part of a name" value=""/>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<table id="securitiesTable" class="table table.striped">
					<tr>
						<th>Name</th>
						<th>Short name</th>
						<th>Data provider</th>
						<th></th>
					</tr>
					{% for company in companies %}
					<tr>
						<td>{{company.name}}</td>
						<td>{{company.short_name}}</td>
						<td>{{company.provider}}</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"/></button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header">Actions</li>
									<li><a href="/container_delete.html?container_id={{company.id}}">Delete</a></li>
								</ul>
							</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<a href="#modal_create_company" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Create a new company">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>

		<div class="modal fade" id="modal_create_company" tabindex="-1" role="dialog" aria-labelledby="modal_create_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_create_label">Create a new company</h4>
					</div>
					<form id="create_form" role="form" action="/company_base_edit.html" method="POST">{% csrf_token %}
						<div class="modal-body">
							<div class="form-group">
								<label for="name">Name</label>
								<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name" value=""/>
							</div>
							<div class="form-group">
								<label for="short_name">Short name</label>
								<input name="short_name" type="text" class="form-control" id="short_name" placeholder="Enter an alias" value=""/>
							</div>
							<div class="checkbox">
								<label>
  									<input id="provider" name="provider" type="checkbox" value="True"/> Company is a data provider
								</label>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Confirm company creation and go to content edition">Continue</button>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}