{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FinaLE Universes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="/static/jquery-2.0.2.min.js" type="text/javascript"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function () {
		     	$(".btn").not('#comment').tooltip();
		     	$("#comment").popover();
			   });

		</script>
	</head>
	<body>

	<div class="container" style="padding: 0 15px;">
		{% if request.user.is_authenticated %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{{ request.user.first_name }} {{ request.user.last_name }}'s universes</h1>
	  			<p class="lead">Manage and explore your universes from here<br/>
			</div>
			<a href="/accounts/logout" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Log off">
				<span class="glyphicon glyphicon-off"></span>
			</a>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<table class="table table.striped">
					<tr>
						<th>Name</th>
						<th>Public</th>
						<th>Action</th>
					</tr>
					{% for universe in universes %}
					<tr>
						<td>{{universe.name}}</td>
						<td>{% if universe.public %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
						<td>{% if request.user.id == universe.owner.id %}
							<a href="#" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Delete universe">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</a>
							<a href="#" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit universe">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							{% endif %}
							<a href="#modal_{{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Explore universe">
								<span class="glyphicon glyphicon-list-alt"></span>
							</a>
							<a href="#" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Duplicate universe">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</a>
							<button id="comment" class="btn btn-default" data-toggle="popover" data-placement="bottom" title="{{universe.description}}">
								<span class="glyphicon glyphicon-comment"></span>
							</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<a href="#" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Create a new universe">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
		{% for universe in universes %}
			<div class="modal fade" id="modal_{{universe.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_label_{{universe.id}}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">{{universe.name}}</h4>
						</div>
						<div class="modal-body">
							<table class="table table.striped">
								<tr>
									<th>Asset</th>
								</tr>
								{% for member in universe.members.all %}
								<tr>
									<td>{{member.name}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% else %}
		<div class="row">
    		<a href="/accounts/login" class="btn btn-primary btn-lg" role="button">Login</a>
    	</div>
		{% endif %}
	</body>
</html>