{% load socialaccount %}
{% load universe_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FinaLE Universes - {{universe.name}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="/static/jquery-2.0.2.min.js" type="text/javascript"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="./static/amcharts/amcharts.js" type="text/javascript"></script>
		<script src="./static/amcharts/serial.js" type="text/javascript"></script>
		<script src="./static/amcharts/themes/none.js" type="text/javascript"></script>
		<script src="./static/date.js" type="text/javascript"></script>
		<script>
			$(document).ready(function () {
				$(".btn").tooltip();
				{% for member in universe.members.all %}
				$("#modal_view_history_{{member.id}}").on('shown.bs.modal', function () {
					chart_{{member.id}}.invalidateSize();
				});
				{% endfor %}
			});

			function removalHandler(e) {
				if (e.result) {
					$('#row_' + e.member_id).remove();
				} else {
					alert(e.status)
				}
			}

			function removeMember(universeId, memberId) {
				$.ajax({
			        url: '/universe_member_delete.html?universe_id=' + universeId + '&member_id=' + memberId,
			        type: 'GET',
			        processData: false,
			        contentType: false,
			        success: removalHandler,
			    });
			}

		</script>
	</head>
	<body>

	<div class="container" style="padding: 0 15px;">
		{% if request.user.is_authenticated %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{{universe.name}}</h1>
	  			<p class="lead">Edit the content of this universe<br/>
			</div>
			<a href="/universes.html" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Back to universes list">
				<span class="glyphicon glyphicon-home"></span>
			</a>
			<a href="/accounts/logout" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Log off">
				<span class="glyphicon glyphicon-off"></span>
			</a>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<table class="table table.striped">
					<tr>
						<th>Security name</th>
						<th>Security type</th>
						<th>Action</th>
					</tr>
					{% for member in universe.members.all %}
					<tr id="row_{{member.id}}">
						<td>{{member.name}}</td>
						<td>{{member.security_type.name}}</td>
						<td>
							{% if request.user.id == universe.owner.id %}
							<button onclick="removeMember({{universe.id}},{{member.id}});" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Remove {{member.security_type.name}}">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</button>
							{% endif %}
							<a href="#modal_view_history_{{member.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="View official historical track of {{member.security_type.name}}">
								<span class="glyphicon glyphicon-random"></span>
							</a>
							<a href="/financial_container_get.html?container_id={{member.id}}" class="btn btn-default" role="button" data-placement="bottom" title="View all information of {{member.security_type.name}}">
								<span class="glyphicon glyphicon-search"></span>
							</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<a href="#modal_add_security" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Add a security to universe">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
		<div class="modal fade" id="modal_add_security" tabindex="-1" role="dialog" aria-labelledby="modal_add_security_label" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_add_security_label">Add security to universe</h4>
					</div>
					<div class="modal-body">
						<form id="addSecurityForm" role="form" class="form-horizontal" action="/universe_edit_base.html" method="POST" onsubmit="">{% csrf_token %}
							<div class="form-group">
								<label for="securityData" class="col-lg-2 col-lg-offset-1">Looking for:</label>
								<input id="securityData" class="col-lg-6" name="securityData" type="text" placeholder="Can be a name, ticker or isin">
								<button type="button" class="btn btn-xs btn-default col-lg-1 col-lg-offset-1" onclick="submit()">Search</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		{% for member in universe.members.all %}
			<div class="modal fade" id="modal_view_history_{{member.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_view_history_label_{{member.id}}" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="modal_view_history_label_{{member.id}}">{{member.name}}</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-2"><strong>Short name:</strong></div>
								<div class="col-lg-7">{% if member.short_name %}{{member.short_name}}{% else %}None{% endif %}</div>
								<div class="col-lg-1"><strong>Currency:</strong></div>
								<div class="col-lg-2">{% if member.currency %}{{member.currency.name}}{% else %}None{% endif %}</div>
							</div>
							<div class="row">
								<div id="nav_{{member.id}}" class="col-lg-12" style="height: 400px;">
								</div>
							</div>
							<table class="table">
								{% with track=tracks|track_content:member.id %}
									{% for token in track %}
										<tr><td>{{token.day}}</td><td>{{token.value}}</td></tr>
									{% endfor %}
								{% endwith %}
							</table>
							<div class="row">
							</div>
							<div class="row">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
						<script type="text/javascript" charset="utf-8">
							chart_{{member.id}} = AmCharts.makeChart(
								"nav_{{member.id}}",
								{
									"type": "serial",
									"theme": "none",
									"pathToImages": "./static/amcharts/images/",
									"dataDateFormat": "YYYY-MM-DD",
									"valueAxes": [ { "axisAlpha": 0, "position": "left" } ],
									"graphs": [ { "id":"history","bullet": "round", "bulletSize":3, "lineThickness":2, "valueField": "value" } ],
									"categoryField": "date",
									"categoryAxis": { "parseDates": true, "dashLength": 1, "minorGridEnabled": true },
									"dataProvider": [
									{% with track=tracks|track_content:member.id %}
										{% for token in track %}
											{% templatetag openbrace %}"date": "{{token.day}}", "value":{{token.value}}{% templatetag closebrace %},
										{% endfor %}
								{% endwith %}
									]
								}
								);
						</script>
					</div>
				</div>
			</div>
		{% endfor %}
		{% else %}
		<div class="row">
    		<a href="/accounts/login" class="btn btn-primary btn-lg" role="button">Login</a>
    	</div>
		{% endif %}
	</body>
</html>