<select class="form-control">

	<option value='BB_SECTYP_2ND_LIEN'>2ND LIEN</option>

	<option value='BB_SECTYP_A/T_UNIT'>A/T Unit</option>

	<option value='BB_SECTYP_ABL_REVOLVER'>ABL REVOLVER</option>

	<option value='BB_SECTYP_ABS_AUTO'>ABS Auto</option>

	<option value='BB_SECTYP_ABS_CARD'>ABS Card</option>

	<option value='BB_SECTYP_ABS_HOME'>ABS Home</option>

	<option value='BB_SECTYP_ABS_OTHER'>ABS Other</option>

	<option value='BB_SECTYP_ACCEPT_BANCARIA'>ACCEPT BANCARIA</option>

	<option value='BB_SECTYP_ADJ_CONV_TO_FIXED'>ADJ CONV. TO FIXED</option>

	<option value='BB_SECTYP_ADJ_CONV_TO_FIXED,_OID'>ADJ CONV. TO FIXED, OID</option>

	<option value='BB_SECTYP_ADJUSTABLE'>ADJUSTABLE</option>

	<option value='BB_SECTYP_ADJUSTABLE,_OID'>ADJUSTABLE, OID</option>

	<option value='BB_SECTYP_ADR'>ADR</option>

	<option value='BB_SECTYP_AGNCY_ABS_HOME'>Agncy ABS Home</option>

	<option value='BB_SECTYP_AGNCY_ABS_OTHER'>Agncy ABS Other</option>

	<option value='BB_SECTYP_AGNCY_CMO_FLT'>Agncy CMO FLT</option>

	<option value='BB_SECTYP_AGNCY_CMO_INV'>Agncy CMO INV</option>

	<option value='BB_SECTYP_AGNCY_CMO_IO'>Agncy CMO IO</option>

	<option value='BB_SECTYP_AGNCY_CMO_OTHER'>Agncy CMO Other</option>

	<option value='BB_SECTYP_AGNCY_CMO_PO'>Agncy CMO PO</option>

	<option value='BB_SECTYP_AGNCY_CMO_Z'>Agncy CMO Z</option>

	<option value='BB_SECTYP_ASSET_BACK'>ASSET BACK</option>

	<option value='BB_SECTYP_ASSET_BACK_BRIDGE'>ASSET BACK BRIDGE</option>

	<option value='BB_SECTYP_ASSET_BACK_BRIDGE_REV'>ASSET BACK BRIDGE REV</option>

	<option value='BB_SECTYP_ASSET_BACK_BRIDGE_TERM'>ASSET BACK BRIDGE TERM</option>

	<option value='BB_SECTYP_ASSET_BACK_COV-LITE_DIP_PIK'>ASSET BACK COV-LITE DIP PIK</option>

	<option value='BB_SECTYP_ASSET_BACK_COV-LITE_REV'>ASSET BACK COV-LITE REV</option>

	<option value='BB_SECTYP_ASSET_BACK_DELAY-DRAW_TERM'>ASSET BACK DELAY-DRAW TERM</option>

	<option value='BB_SECTYP_ASSET_BACK_DIP_REV'>ASSET BACK DIP REV</option>

	<option value='BB_SECTYP_ASSET_BACK_DIP_TERM'>ASSET BACK DIP TERM</option>

	<option value='BB_SECTYP_ASSET_BACK_LOC'>ASSET BACK LOC</option>

	<option value='BB_SECTYP_ASSET_BACK_REV'>ASSET BACK REV</option>

	<option value='BB_SECTYP_ASSET_BACK_REV_FILO'>ASSET BACK REV FILO</option>

	<option value='BB_SECTYP_ASSET_BACK_REV_LIFO'>ASSET BACK REV LIFO</option>

	<option value='BB_SECTYP_ASSET_BACK_REV_OVERDRAFT'>ASSET BACK REV OVERDRAFT</option>

	<option value='BB_SECTYP_ASSET_BACK_TERM'>ASSET BACK TERM</option>

	<option value='BB_SECTYP_ASSET_BACK_TERM_FILO'>ASSET BACK TERM FILO</option>

	<option value='BB_SECTYP_AUSTRALIAN'>AUSTRALIAN</option>

	<option value='BB_SECTYP_AUSTRALIAN_CD'>AUSTRALIAN CD</option>

	<option value='BB_SECTYP_AUSTRALIAN_CP'>AUSTRALIAN CP</option>

	<option value='BB_SECTYP_AUSTRIAN_CRT'>Austrian Crt</option>

	<option value='BB_SECTYP_BANK_ACCEPT_BILL'>BANK ACCEPT BILL</option>

	<option value='BB_SECTYP_BANK_NOTE'>BANK NOTE</option>

	<option value='BB_SECTYP_BANKERS_ACCEPT'>BANKERS ACCEPT</option>

	<option value='BB_SECTYP_BANKERS_ACCEPTANCE'>BANKERS ACCEPTANCE</option>

	<option value='BB_SECTYP_BASIS_SWAP'>BASIS SWAP</option>

	<option value='BB_SECTYP_BASKET_WRT'>Basket WRT</option>

	<option value='BB_SECTYP_BDR'>BDR</option>

	<option value='BB_SECTYP_BEARER_DEP_NOTE'>BEARER DEP NOTE</option>

	<option value='BB_SECTYP_BELGIUM_CERT'>Belgium Cert</option>

	<option value='BB_SECTYP_BELGIUM_CP'>BELGIUM CP</option>

	<option value='BB_SECTYP_BILL_OF_EXCHANGE'>BILL OF EXCHANGE</option>

	<option value='BB_SECTYP_BOND'>Bond</option>

	<option value='BB_SECTYP_BRAZILIAN_CDI'>BRAZILIAN CDI</option>

	<option value='BB_SECTYP_BRIDGE'>BRIDGE</option>

	<option value='BB_SECTYP_BRIDGE_DELAY-DRAW_TERM'>BRIDGE DELAY-DRAW TERM</option>

	<option value='BB_SECTYP_BRIDGE_ISLAMIC'>BRIDGE ISLAMIC</option>

	<option value='BB_SECTYP_BRIDGE_PIK'>BRIDGE PIK</option>

	<option value='BB_SECTYP_BRIDGE_PIK_TERM'>BRIDGE PIK TERM</option>

	<option value='BB_SECTYP_BRIDGE_REV'>BRIDGE REV</option>

	<option value='BB_SECTYP_BRIDGE_TERM'>BRIDGE TERM</option>

	<option value='BB_SECTYP_BULLDOG'>BULLDOG</option>

	<option value='BB_SECTYP_BUTTERFLY_SWAP'>BUTTERFLY SWAP</option>

	<option value='BB_SECTYP_CAD_INT_BEAR_CP'>CAD INT BEAR CP</option>

	<option value='BB_SECTYP_CALENDAR_SPREAD_OPTION'>Calendar Spread Option</option>

	<option value='BB_SECTYP_CALL_LOANS'>CALL LOANS</option>

	<option value='BB_SECTYP_MTGE_CANADIAN'>Canadian</option>

	<option value='BB_SECTYP_CANADIAN'>CANADIAN</option>

	<option value='BB_SECTYP_CANADIAN_CD'>CANADIAN CD</option>

	<option value='BB_SECTYP_CANADIAN_CP'>CANADIAN CP</option>

	<option value='BB_SECTYP_CAPS_&amp;_FLOORS'>CAPS &amp; FLOORS</option>

	<option value='BB_SECTYP_CAR_FORWARD'>Car Forward</option>

	<option value='BB_SECTYP_CBLO'>CBLO</option>

	<option value='BB_SECTYP_CD'>CD</option>

	<option value='BB_SECTYP_CDR'>CDR</option>

	<option value='BB_SECTYP_CDS_INDEX'>CDS Index</option>

	<option value='BB_SECTYP_CF'>CF</option>

	<option value='BB_SECTYP_CLOSED-END_FUND'>Closed-End Fund</option>

	<option value='BB_SECTYP_CMBS'>CMBS</option>

	<option value='BB_SECTYP_CMDT_FUT_WRT'>Cmdt Fut WRT</option>

	<option value='BB_SECTYP_CMDT_IDX_WRT'>Cmdt Idx WRT</option>

	<option value='BB_SECTYP_COLLAT_CALL_NOTE'>COLLAT CALL NOTE</option>

	<option value='BB_SECTYP_COMMERCIAL_NOTE'>COMMERCIAL NOTE</option>

	<option value='BB_SECTYP_COMMERCIAL_PAPER'>COMMERCIAL PAPER</option>

	<option value='BB_SECTYP_COMMON_STOCK'>Common Stock</option>

	<option value='BB_SECTYP_CONTRACT_FRA'>CONTRACT FRA</option>

	<option value='BB_SECTYP_CONV_BOND'>Conv Bond</option>

	<option value='BB_SECTYP_CONV_PRFD'>Conv Prfd</option>

	<option value='BB_SECTYP_CORP_BND_WRT'>Corp Bnd WRT</option>

	<option value='BB_SECTYP_COV-LITE_LOC'>COV-LITE LOC</option>

	<option value='BB_SECTYP_COV-LITE_PIK_TERM'>COV-LITE PIK TERM</option>

	<option value='BB_SECTYP_COV-LITE_REV'>COV-LITE REV</option>

	<option value='BB_SECTYP_COV-LITE_TERM'>COV-LITE TERM</option>

	<option value='BB_SECTYP_CP-LIKE_EXT_NOTE'>CP-LIKE EXT NOTE</option>

	<option value='BB_SECTYP_CPI_LINKED'>CPI LINKED</option>

	<option value='BB_SECTYP_CPI_LINKED,_OID'>CPI LINKED, OID</option>

	<option value='BB_SECTYP_CREDIT_DEFAULT_SWAP'>CREDIT DEFAULT SWAP</option>

	<option value='BB_SECTYP_CROSS'>CROSS</option>

	<option value='BB_SECTYP_CURRENCY_FUTURE'>Currency future.</option>

	<option value='BB_SECTYP_CURRENCY_OPTION'>Currency option.</option>

	<option value='BB_SECTYP_CURRENCY_SPOT'>Currency spot</option>

	<option value='BB_SECTYP_CURRENCY_WRT'>Currency WRT</option>

	<option value='BB_SECTYP_DEBT_IN_POSSESS'>DEBT IN POSSESS</option>

	<option value='BB_SECTYP_DELAY-DRAW'>DELAY-DRAW</option>

	<option value='BB_SECTYP_DELAY-DRAW_LOC'>DELAY-DRAW LOC</option>

	<option value='BB_SECTYP_DELAY-DRAW_PIK_TERM'>DELAY-DRAW PIK TERM</option>

	<option value='BB_SECTYP_DELAY-DRAW_REV'>DELAY-DRAW REV</option>

	<option value='BB_SECTYP_DELAY-DRAW_TERM'>DELAY-DRAW TERM</option>

	<option value='BB_SECTYP_DELAY-DRAW_TERM_INCREMENT'>DELAY-DRAW TERM INCREMENT</option>

	<option value='BB_SECTYP_DELAY-DRAW_TERM_MULTI-DRAW'>DELAY-DRAW TERM MULTI-DRAW</option>

	<option value='BB_SECTYP_DELAY-DRAW_VAT-TRNCH'>DELAY-DRAW VAT-TRNCH</option>

	<option value='BB_SECTYP_DEPOSIT'>DEPOSIT</option>

	<option value='BB_SECTYP_DEPOSIT_NOTE'>DEPOSIT NOTE</option>

	<option value='BB_SECTYP_DIP'>DIP</option>

	<option value='BB_SECTYP_DIP_DELAY-DRAW_TERM'>DIP DELAY-DRAW TERM</option>

	<option value='BB_SECTYP_DIP_LOC'>DIP LOC</option>

	<option value='BB_SECTYP_DIP_PIK_TERM'>DIP PIK TERM</option>

	<option value='BB_SECTYP_DIP_REV'>DIP REV</option>

	<option value='BB_SECTYP_DIP_SYNTH_LOC'>DIP SYNTH LOC</option>

	<option value='BB_SECTYP_DIP_TERM'>DIP TERM</option>

	<option value='BB_SECTYP_DIP_TERM_FILO'>DIP TERM FILO</option>

	<option value='BB_SECTYP_DIP_TERM_INCREMENT'>DIP TERM INCREMENT</option>

	<option value='BB_SECTYP_DIP_TERM_MULTI-DRAW'>DIP TERM MULTI-DRAW</option>

	<option value='BB_SECTYP_DISCOUNT_FIXBIS'>DISCOUNT FIXBIS</option>

	<option value='BB_SECTYP_DISCOUNT_NOTES'>DISCOUNT NOTES</option>

	<option value='BB_SECTYP_DOMESTC_TIME_DEP'>DOMESTC TIME DEP</option>

	<option value='BB_SECTYP_DOMESTIC'>DOMESTIC</option>

	<option value='BB_SECTYP_DOMESTIC_MTN'>DOMESTIC MTN</option>

	<option value='BB_SECTYP_DUTCH_CERT'>Dutch Cert</option>

	<option value='BB_SECTYP_DUTCH_CP'>DUTCH CP</option>

	<option value='BB_SECTYP_EDR'>EDR</option>

	<option value='BB_SECTYP_EQUITY_INDEX'>Equity Index</option>

	<option value='BB_SECTYP_EQUITY_OPTION'>Equity Option</option>

	<option value='BB_SECTYP_EQUITY_OTC_OPTION'>Equity OTC Option</option>

	<option value='BB_SECTYP_EQUITY_WRT'>Equity WRT</option>

	<option value='BB_SECTYP_ETF'>ETF</option>

	<option value='BB_SECTYP_ETP'>ETP</option>

	<option value='BB_SECTYP_EURO-DOLLAR'>EURO-DOLLAR</option>

	<option value='BB_SECTYP_EURO-ZONE'>EURO-ZONE</option>

	<option value='BB_SECTYP_EURO_CD'>EURO CD</option>

	<option value='BB_SECTYP_EURO_CP'>EURO CP</option>

	<option value='BB_SECTYP_EURO_MTN'>EURO MTN</option>

	<option value='BB_SECTYP_EURO_NON-DOLLAR'>EURO NON-DOLLAR</option>

	<option value='BB_SECTYP_EURO_STRUCTRD_LN'>EURO STRUCTRD LN</option>

	<option value='BB_SECTYP_EURO_TIME_DEPST'>EURO TIME DEPST</option>

	<option value='BB_SECTYP_EXTEND_COMM_NOTE'>EXTEND COMM NOTE</option>

	<option value='BB_SECTYP_EXTEND_NOTE_MTN'>EXTEND. NOTE MTN</option>

	<option value='BB_SECTYP_FDIC'>FDIC</option>

	<option value='BB_SECTYP_FED_FUNDS'>FED FUNDS</option>

	<option value='BB_SECTYP_FED_NOON_BUYING_RATE'>FED NOON BUYING RATE</option>

	<option value='BB_SECTYP_FINANCIAL_COMMODITY_FUTURE'>Financial commodity future.</option>

	<option value='BB_SECTYP_FINANCIAL_COMMODITY_GENERIC'>Financial commodity generic.</option>

	<option value='BB_SECTYP_FINANCIAL_COMMODITY_OPTION'>Financial commodity option.</option>

	<option value='BB_SECTYP_FINANCIAL_COMMODITY_SPOT'>Financial commodity spot.</option>

	<option value='BB_SECTYP_FINANCIAL_INDEX_FUTURE'>Financial index future.</option>

	<option value='BB_SECTYP_COMDTY_FINANCIAL_INDEX_FUTURE'>Financial index future.</option>

	<option value='BB_SECTYP_FINANCIAL_INDEX_GENERIC'>Financial index generic.</option>

	<option value='BB_SECTYP_COMDTY_FINANCIAL_INDEX_OPTION'>Financial index option.</option>

	<option value='BB_SECTYP_FINANCIAL_INDEX_OPTION'>Financial index option.</option>

	<option value='BB_SECTYP_FINNISH_CD'>FINNISH CD</option>

	<option value='BB_SECTYP_FINNISH_CP'>FINNISH CP</option>

	<option value='BB_SECTYP_FIXED'>FIXED</option>

	<option value='BB_SECTYP_FIXED,_OID'>FIXED, OID</option>

	<option value='BB_SECTYP_FIXING_RATE'>FIXING RATE</option>

	<option value='BB_SECTYP_FLOATING'>FLOATING</option>

	<option value='BB_SECTYP_FLOATING_CP'>FLOATING CP</option>

	<option value='BB_SECTYP_FLOATING_OID'>FLOATING, OID</option>

	<option value='BB_SECTYP_FORWARD'>FORWARD</option>

	<option value='BB_SECTYP_FORWARD_CROSS'>FORWARD CROSS</option>

	<option value='BB_SECTYP_FORWARD_CURVE'>FORWARD CURVE</option>

	<option value='BB_SECTYP_FRA'>FRA</option>

	<option value='BB_SECTYP_FRENCH_CD'>FRENCH CD</option>

	<option value='BB_SECTYP_FRENCH_CERT'>French Cert</option>

	<option value='BB_SECTYP_FRENCH_CP'>FRENCH CP</option>

	<option value='BB_SECTYP_FUND_OF_FUNDS'>Fund of Funds</option>

	<option value='BB_SECTYP_FUTURE'>FUTURE</option>

	<option value='BB_SECTYP_FWD_SWAP'>FWD SWAP</option>

	<option value='BB_SECTYP_FX_DISCOUNT_NOTE'>FX DISCOUNT NOTE</option>

	<option value='BB_SECTYP_GDR'>GDR</option>

	<option value='BB_SECTYP_GENERIC_CURRENCY_FUTURE'>Generic currency future.</option>

	<option value='BB_SECTYP_COMDTY_GENERIC_INDEX_FUTURE'>Generic index future.</option>

	<option value='BB_SECTYP_GENERIC_INDEX_FUTURE'>Generic index future.</option>

	<option value='BB_SECTYP_GERMAN_CERT'>German Cert</option>

	<option value='BB_SECTYP_GERMAN_CP'>GERMAN CP</option>

	<option value='BB_SECTYP_GLOBAL'>GLOBAL</option>

	<option value='BB_SECTYP_GUARANTEE_FAC'>GUARANTEE FAC</option>

	<option value='BB_SECTYP_HB'>HB</option>

	<option value='BB_SECTYP_HEDGE_FUND'>Hedge Fund</option>

	<option value='BB_SECTYP_HONG_KONG_CD'>HONG KONG CD</option>

	<option value='BB_SECTYP_IR_FUT_WRT'>I.R. Fut WRT</option>

	<option value='BB_SECTYP_IR_SWP_WRT'>I.R. Swp WRT</option>

	<option value='BB_SECTYP_IDR'>IDR</option>

	<option value='BB_SECTYP_IMM_SWAP'>IMM SWAP</option>

	<option value='BB_SECTYP_INCREMENT'>INCREMENT</option>

	<option value='BB_SECTYP_INDEX'>Index</option>

	<option value='BB_SECTYP_INDEX_OPTION'>Index Option</option>

	<option value='BB_SECTYP_INDEX_OTC_OPTION'>Index OTC Option</option>

	<option value='BB_SECTYP_INDEX_WRT'>Index WRT</option>

	<option value='BB_SECTYP_INDIAN_CD'>INDIAN CD</option>

	<option value='BB_SECTYP_INDIAN_CP'>INDIAN CP</option>

	<option value='BB_SECTYP_INDONESIAN_CP'>INDONESIAN CP</option>

	<option value='BB_SECTYP_INDX_FUT_WRT'>Indx Fut WRT</option>

	<option value='BB_SECTYP_INFLATION_SWAP'>INFLATION SWAP</option>

	<option value='BB_SECTYP_INT_BEAR_FIXBIS'>INT BEAR FIXBIS</option>

	<option value='BB_SECTYP_INT_RT_WRT'>Int. Rt. WRT</option>

	<option value='BB_SECTYP_INTER_APPRECIATION'>INTER. APPRECIATION</option>

	<option value='BB_SECTYP_INTER_APPRECIATION,_OID'>INTER. APPRECIATION, OID</option>

	<option value='BB_SECTYP_INTERBANK_OFFERED_RATE'>INTERBANK OFFERED RATE</option>

	<option value='BB_SECTYP_INTEREST_RATE_GUARANTEE'>INTEREST RATE GUARANTEE</option>

	<option value='BB_SECTYP_ISLAMIC'>ISLAMIC</option>

	<option value='BB_SECTYP_ISLAMIC_BA'>ISLAMIC BA</option>

	<option value='BB_SECTYP_ISLAMIC_CP'>ISLAMIC CP</option>

	<option value='BB_SECTYP_ISLAMIC_LOC'>ISLAMIC LOC</option>

	<option value='BB_SECTYP_ISLAMIC_REV'>ISLAMIC REV</option>

	<option value='BB_SECTYP_ISLAMIC_STANDBY'>ISLAMIC STANDBY</option>

	<option value='BB_SECTYP_ISLAMIC_STANDBY_REV'>ISLAMIC STANDBY REV</option>

	<option value='BB_SECTYP_ISLAMIC_TERM'>ISLAMIC TERM</option>

	<option value='BB_SECTYP_JUMBO_CD'>JUMBO CD</option>

	<option value='BB_SECTYP_KOREAN_CD'>KOREAN CD</option>

	<option value='BB_SECTYP_KOREAN_CP'>KOREAN CP</option>

	<option value='BB_SECTYP_LEBANESE_CP'>LEBANESE CP</option>

	<option value='BB_SECTYP_LIQUIDITY_NOTE'>LIQUIDITY NOTE</option>

	<option value='BB_SECTYP_LOC'>LOC</option>

	<option value='BB_SECTYP_LTD_PART'>Ltd Part</option>

	<option value='BB_SECTYP_LTR_OF_CREDIT'>LTR OF CREDIT</option>

	<option value='BB_SECTYP_MALAYSIAN_CP'>MALAYSIAN CP</option>

	<option value='BB_SECTYP_MARGIN_TERM_DEP'>MARGIN TERM DEP</option>

	<option value='BB_SECTYP_MASTER_NOTES'>MASTER NOTES</option>

	<option value='BB_SECTYP_MBS_10YR'>MBS 10yr</option>

	<option value='BB_SECTYP_MBS_15YR'>MBS 15yr</option>

	<option value='BB_SECTYP_MBS_20YR'>MBS 20yr</option>

	<option value='BB_SECTYP_MBS_30YR'>MBS 30yr</option>

	<option value='BB_SECTYP_MBS_ARM'>MBS ARM</option>

	<option value='BB_SECTYP_MBS_BALLOON'>MBS balloon</option>

	<option value='BB_SECTYP_MBS_OTHER'>MBS Other</option>

	<option value='BB_SECTYP_MED_TERM_NOTE'>MED TERM NOTE</option>

	<option value='BB_SECTYP_MEDIUM_TERM_CD'>MEDIUM TERM CD</option>

	<option value='BB_SECTYP_MEDIUM_TERM_ECD'>MEDIUM TERM ECD</option>

	<option value='BB_SECTYP_MEDIUM_TERM_YCD'>MEDIUM TERM YCD</option>

	<option value='BB_SECTYP_MEXICAN_CP'>MEXICAN CP</option>

	<option value='BB_SECTYP_MEXICAN_PAGARE'>MEXICAN PAGARE</option>

	<option value='BB_SECTYP_MEZZANINE'>MEZZANINE</option>

	<option value='BB_SECTYP_MISC'>Misc.</option>

	<option value='BB_SECTYP_MONEY_MARKET_CALL'>MONEY MARKET CALL</option>

	<option value='BB_SECTYP_MTN_SUBORDINATED'>MTN SUBORDINATED</option>

	<option value='BB_SECTYP_MUNI_CP'>MUNI CP</option>

	<option value='BB_SECTYP_MUNI_INT_BEAR_CP'>MUNI INT BEAR CP</option>

	<option value='BB_SECTYP_MUNI_SWAP'>MUNI SWAP</option>

	<option value='BB_SECTYP_MURABAHA'>MURABAHA</option>

	<option value='BB_SECTYP_MUTUAL_FUND'>Mutual Fund</option>

	<option value='BB_SECTYP_MV'>MV</option>

	<option value='BB_SECTYP_MX_CERT_BURSATIL'>MX CERT BURSATIL</option>

	<option value='BB_SECTYP_NA'>N.A.</option>

	<option value='BB_SECTYP_NDF_FIXING'>NDF FIXING</option>

	<option value='BB_SECTYP_NDF_SWAP'>NDF SWAP</option>

	<option value='BB_SECTYP_NEG_INST_DEPOSIT'>NEG INST DEPOSIT</option>

	<option value='BB_SECTYP_NEGOTIABLE_CD'>NEGOTIABLE CD</option>

	<option value='BB_SECTYP_NEW_ZEALAND_CP'>NEW ZEALAND CP</option>

	<option value='BB_SECTYP_NON-DELIVERABLE_FORWARD'>NON-DELIVERABLE FORWARD</option>

	<option value='BB_SECTYP_NON-DELIVERABLE_IRS_SWAP'>NON-DELIVERABLE IRS SWAP</option>

	<option value='BB_SECTYP_NON-DELIVERABLE_OIS_SWAP'>NON-DELIVERABLE OIS SWAP</option>

	<option value='BB_SECTYP_NON-EQUITY_INDEX'>Non-Equity Index</option>

	<option value='BB_SECTYP_NORWEGIAN_CD'>NORWEGIAN CD</option>

	<option value='BB_SECTYP_NY_REG_SHRS'>NY Reg Shrs</option>

	<option value='BB_SECTYP_OID'>OID</option>

	<option value='BB_SECTYP_ONSHORE_FIXING'>ONSHORE FIXING</option>

	<option value='BB_SECTYP_ONSHORE_FORWARD'>ONSHORE FORWARD</option>

	<option value='BB_SECTYP_ONSHORE_SWAP'>ONSHORE SWAP</option>

	<option value='BB_SECTYP_OPEN-END_FUND'>Open-End Fund</option>

	<option value='BB_SECTYP_OPTION'>OPTION</option>

	<option value='BB_SECTYP_OPTION_VOLATILITY'>OPTION VOLATILITY</option>

	<option value='BB_SECTYP_OTC_OPTION'>OTC Option</option>

	<option value='BB_SECTYP_OTHER'>OTHER</option>

	<option value='BB_SECTYP_OVER/NIGHT'>OVER/NIGHT</option>

	<option value='BB_SECTYP_OVERDRAFT'>OVERDRAFT</option>

	<option value='BB_SECTYP_OVERDRAFT_FACILITY'>OVERDRAFT FACILITY</option>

	<option value='BB_SECTYP_OVERNIGHT_INDEXED_SWAP'>OVERNIGHT INDEXED SWAP</option>

	<option value='BB_SECTYP_PHILIPPINE_CP'>PHILIPPINE CP</option>

	<option value='BB_SECTYP_PHYSICAL_COMMODITY_FORWARD'>Physical commodity forward.</option>

	<option value='BB_SECTYP_PHYSICAL_COMMODITY_FUTURE'>Physical commodity future.</option>

	<option value='BB_SECTYP_PHYSICAL_COMMODITY_GENERIC'>Physical commodity generic.</option>

	<option value='BB_SECTYP_PHYSICAL_COMMODITY_OPTION'>Physical commodity option.</option>

	<option value='BB_SECTYP_PHYSICAL_COMMODITY_SPOT'>Physical commodity spot.</option>

	<option value='BB_SECTYP_PHYSICAL_INDEX_FUTURE'>Physical index future.</option>

	<option value='BB_SECTYP_PHYSICAL_INDEX_OPTION'>Physical index option.</option>

	<option value='BB_SECTYP_PIK'>PIK</option>

	<option value='BB_SECTYP_PIK_REV'>PIK REV</option>

	<option value='BB_SECTYP_PIK_REVOLVER'>PIK REVOLVER</option>

	<option value='BB_SECTYP_PIK_STANDBY_TERM'>PIK STANDBY TERM</option>

	<option value='BB_SECTYP_PIK_TERM'>PIK TERM</option>

	<option value='BB_SECTYP_PIK_TERM_LOAN'>PIK TERM LOAN</option>

	<option value='BB_SECTYP_PLAZOS_FIJOS'>PLAZOS FIJOS</option>

	<option value='BB_SECTYP_PORTUGUESE_CP'>PORTUGUESE CP</option>

	<option value='BB_SECTYP_PREFERENCE'>Preference</option>

	<option value='BB_SECTYP_PREFERRED'>Preferred</option>

	<option value='BB_SECTYP_PRES'>PRES</option>

	<option value='BB_SECTYP_PRFD_WRT'>Prfd WRT</option>

	<option value='BB_SECTYP_PRIV_PLACEMENT'>PRIV PLACEMENT</option>

	<option value='BB_SECTYP_PRIVATE'>PRIVATE</option>

	<option value='BB_SECTYP_PRIVATE_COMP'>Private Comp</option>

	<option value='BB_SECTYP_PRIVATE_EQTY'>Private Eqty</option>

	<option value='BB_SECTYP_CURNCY_PROMISSORY_NOTE'>PROMISSORY NOTE</option>

	<option value='BB_SECTYP_PROMISSORY_NOTE'>PROMISSORY NOTE</option>

	<option value='BB_SECTYP_PROPERTY_SWAP'>PROPERTY SWAP</option>

	<option value='BB_SECTYP_PROV_T-BILL'>PROV T-BILL</option>

	<option value='BB_SECTYP_PRVT_CMO_FLT'>Prvt CMO FLT</option>

	<option value='BB_SECTYP_PRVT_CMO_INV'>Prvt CMO INV</option>

	<option value='BB_SECTYP_PRVT_CMO_IO'>Prvt CMO IO</option>

	<option value='BB_SECTYP_PRVT_CMO_OTHER'>Prvt CMO Other</option>

	<option value='BB_SECTYP_PRVT_CMO_PO'>Prvt CMO PO</option>

	<option value='BB_SECTYP_PRVT_CMO_Z'>Prvt CMO Z</option>

	<option value='BB_SECTYP_PUBLIC'>PUBLIC</option>

	<option value='BB_SECTYP_QUARTERLY_SWAP'>QUARTERLY SWAP</option>

	<option value='BB_SECTYP_RDC'>RDC</option>

	<option value='BB_SECTYP_RECEIPT'>Receipt</option>

	<option value='BB_SECTYP_REIT'>REIT</option>

	<option value='BB_SECTYP_REPO'>REPO</option>

	<option value='BB_SECTYP_RESTRUCTURD_DEBT'>RESTRUCTURD DEBT</option>

	<option value='BB_SECTYP_RETAIL_CD'>RETAIL CD</option>

	<option value='BB_SECTYP_RETURN_IDX'>RETURN IDX</option>

	<option value='BB_SECTYP_REV'>REV</option>

	<option value='BB_SECTYP_REV_GUARANTEE_FAC'>REV GUARANTEE FAC</option>

	<option value='BB_SECTYP_REV_INCREMENT'>REV INCREMENT</option>

	<option value='BB_SECTYP_REV_MULTI-DRAW'>REV MULTI-DRAW</option>

	<option value='BB_SECTYP_REV_OVERDRAFT'>REV OVERDRAFT</option>

	<option value='BB_SECTYP_REV_VAT-TRNCH'>REV VAT-TRNCH</option>

	<option value='BB_SECTYP_REVOLVER'>REVOLVER</option>

	<option value='BB_SECTYP_REVOLVER/TERM'>REVOLVER/TERM</option>

	<option value='BB_SECTYP_RIGHT'>Right</option>

	<option value='BB_SECTYP_ROYALTY_TRST'>Royalty Trst</option>

	<option value='BB_SECTYP_STERM_LOAN_NOTE'>S.TERM LOAN NOTE</option>

	<option value='BB_SECTYP_S/A_MD_TERM_YCD'>S/A MD TERM YCD</option>

	<option value='BB_SECTYP_SAMURAI'>SAMURAI</option>

	<option value='BB_SECTYP_SBA_POOL'>SBA Pool</option>

	<option value='BB_SECTYP_SEC_LENDING'>Sec Lending</option>

	<option value='BB_SECTYP_SEMI-ANNUAL_SWAP'>SEMI-ANNUAL SWAP</option>

	<option value='BB_SECTYP_SHOGUN'>SHOGUN</option>

	<option value='BB_SECTYP_SHORT_TERM_BN'>SHORT TERM BN</option>

	<option value='BB_SECTYP_SHORT_TERM_DN'>SHORT TERM DN</option>

	<option value='BB_SECTYP_SINGAPORE_CP'>SINGAPORE CP</option>

	<option value='BB_SECTYP_SINGLE_STOCK_FUTURE'>SINGLE STOCK FUTURE</option>

	<option value='BB_SECTYP_COMDTY_SINGLE_STOCK_FUTURE'>SINGLE STOCK FUTURE</option>

	<option value='BB_SECTYP_SN'>SN</option>

	<option value='BB_SECTYP_SPARE_-_N/A'>SPARE - N/A</option>

	<option value='BB_SECTYP_SPECIAL_LMMK_PGM'>SPECIAL LMMK PGM</option>

	<option value='BB_SECTYP_SPOT'>SPOT</option>

	<option value='BB_SECTYP_SPOT_INDEX'>Spot index.</option>

	<option value='BB_SECTYP_STANDBY'>STANDBY</option>

	<option value='BB_SECTYP_STANDBY_LOC'>STANDBY LOC</option>

	<option value='BB_SECTYP_STANDBY_REV'>STANDBY REV</option>

	<option value='BB_SECTYP_STANDBY_TERM'>STANDBY TERM</option>

	<option value='BB_SECTYP_STERLING_CD'>STERLING CD</option>

	<option value='BB_SECTYP_STERLING_CP'>STERLING CP</option>

	<option value='BB_SECTYP_STRATEGY_TRADE'>Strategy Trade.</option>

	<option value='BB_SECTYP_SWAP'>SWAP</option>

	<option value='BB_SECTYP_SWAP_SPREAD'>SWAP SPREAD</option>

	<option value='BB_SECTYP_SWAPTION_VOLATILITY'>SWAPTION VOLATILITY</option>

	<option value='BB_SECTYP_SWEDISH_CP'>SWEDISH CP</option>

	<option value='BB_SECTYP_SWING_LINE_LOAN'>SWING LINE LOAN</option>

	<option value='BB_SECTYP_SWINGLINE'>SWINGLINE</option>

	<option value='BB_SECTYP_SWISS_CERT'>Swiss Cert</option>

	<option value='BB_SECTYP_SYNTH'>SYNTH</option>

	<option value='BB_SECTYP_SYNTH_LOC'>SYNTH LOC</option>

	<option value='BB_SECTYP_SYNTH_REV'>SYNTH REV</option>

	<option value='BB_SECTYP_SYNTH_TERM'>SYNTH TERM</option>

	<option value='BB_SECTYP_SYNTHETIC_LOC'>SYNTHETIC LOC</option>

	<option value='BB_SECTYP_SYNTHETIC_REVOLVER'>SYNTHETIC REVOLVER</option>

	<option value='BB_SECTYP_TAIWAN_CP'>TAIWAN CP</option>

	<option value='BB_SECTYP_TAIWAN_CP_GUAR'>TAIWAN CP GUAR</option>

	<option value='BB_SECTYP_TAIWAN_NEGO_CD'>TAIWAN NEGO CD</option>

	<option value='BB_SECTYP_TAIWAN_TIME_DEPO'>TAIWAN TIME DEPO</option>

	<option value='BB_SECTYP_TAX-SPARED'>TAX-SPARED</option>

	<option value='BB_SECTYP_TAX_CREDIT'>TAX CREDIT</option>

	<option value='BB_SECTYP_TAX_CREDIT,_OID'>TAX CREDIT, OID</option>

	<option value='BB_SECTYP_TERM'>TERM</option>

	<option value='BB_SECTYP_TERM_DEPOSITS'>TERM DEPOSITS</option>

	<option value='BB_SECTYP_TERM_GUARANTEE_FAC'>TERM GUARANTEE FAC</option>

	<option value='BB_SECTYP_TERM_INCREMENT'>TERM INCREMENT</option>

	<option value='BB_SECTYP_TERM_LIFO'>TERM LIFO</option>

	<option value='BB_SECTYP_TERM_MULTI-DRAW'>TERM MULTI-DRAW</option>

	<option value='BB_SECTYP_TERM_OVERDRAFT'>TERM OVERDRAFT</option>

	<option value='BB_SECTYP_TERM_REV'>TERM REV</option>

	<option value='BB_SECTYP_TERM_TAX-SPARED'>TERM TAX-SPARED</option>

	<option value='BB_SECTYP_TERM_VAT-TRNCH'>TERM VAT-TRNCH</option>

	<option value='BB_SECTYP_THAILAND_CP'>THAILAND CP</option>

	<option value='BB_SECTYP_TRACKING_STK'>Tracking Stk</option>

	<option value='BB_SECTYP_TREASURY_BILL'>TREASURY BILL</option>

	<option value='BB_SECTYP_US_CD'>U.S. CD</option>

	<option value='BB_SECTYP_US_CP'>U.S. CP</option>

	<option value='BB_SECTYP_US_INT_BEAR_CP'>U.S. INT BEAR CP</option>

	<option value='BB_SECTYP_UIT'>UIT</option>

	<option value='BB_SECTYP_UK_GILT_STOCK'>UK GILT STOCK</option>

	<option value='BB_SECTYP_UNIT'>Unit</option>

	<option value='BB_SECTYP_UNIT_INV_TST'>Unit Inv Tst</option>

	<option value='BB_SECTYP_US_DOMESTIC'>US DOMESTIC</option>

	<option value='BB_SECTYP_US_GOVERNMENT'>US GOVERNMENT</option>

	<option value='BB_SECTYP_US_NON-DOLLAR'>US NON-DOLLAR</option>

	<option value='BB_SECTYP_VAR_RATE_DEM_OBL'>VAR RATE DEM OBL</option>

	<option value='BB_SECTYP_VARIABLE_ANNUITY'>Variable Annuity</option>

	<option value='BB_SECTYP_VAT-TRNCH'>VAT-TRNCH</option>

	<option value='BB_SECTYP_VENEZUELAN_CP'>VENEZUELAN CP</option>

	<option value='BB_SECTYP_VOLATILITY_DERIVATIVE'>VOLATILITY DERIVATIVE</option>

	<option value='BB_SECTYP_EQUITY_WARRANT'>Warrant</option>

	<option value='BB_SECTYP_WARRANT'>WARRANT</option>

	<option value='BB_SECTYP_WHEN_ISSUED'>WHEN ISSUED</option>

	<option value='BB_SECTYP_WHEN_ISSUED,_OID'>WHEN ISSUED, OID</option>

	<option value='BB_SECTYP_YANKEE'>YANKEE</option>

	<option value='BB_SECTYP_YANKEE_CD'>YANKEE CD</option>

	<option value='BB_SECTYP_YEN_CD'>YEN CD</option>

	<option value='BB_SECTYP_YEN_CP'>YEN CP</option>

	<option value='BB_SECTYP_ZERO_COUPON'>ZERO COUPON</option>

	<option value='BB_SECTYP_ZERO_COUPON_OID'>ZERO COUPON, OID</option>

</select>