<select class="form-control">

	<option value='BB_EXCH_LU_IA'>Abidjan</option>

	<option value='BB_EXCH_LU_DH'>Abu Dhabi</option>

	<option value='BB_EXCH_LU_GN'>Accra</option>

	<option value='BB_EXCH_LU_KA'>AktieTorget</option>

	<option value='BB_EXCH_LU_AL'>Albania</option>

	<option value='BB_EXCH_LU_EA'>Alexandria</option>

	<option value='BB_EXCH_LU_AG'>AlgeriaStExc</option>

	<option value='BB_EXCH_LU_TA'>AlphaToronto</option>

	<option value='BB_EXCH_LU_TN'>AlphaVenture</option>

	<option value='BB_EXCH_LU_JR'>Amman</option>

	<option value='BB_EXCH_LU_AD'>Andorra</option>

	<option value='BB_EXCH_LU_AX'>AngolanStExc</option>

	<option value='BB_EXCH_LU_AI'>Anguilla</option>

	<option value='BB_EXCH_LU_QX'>Aquis Exchg</option>

	<option value='BB_EXCH_LU_AR'>ARGENTINA</option>

	<option value='BB_EXCH_LU_AT'>ASE</option>

	<option value='BB_EXCH_LU_A0'>AsstMtch MTF</option>

	<option value='BB_EXCH_LU_PN'>Asuncion</option>

	<option value='BB_EXCH_LU_AQ'>ASXPureMatch</option>

	<option value='BB_EXCH_LU_GA'>Athens</option>

	<option value='BB_EXCH_LU_AA'>Athens Alt</option>

	<option value='BB_EXCH_LU_XT'>Athens OTC</option>

	<option value='BB_EXCH_LU_AP'>Athens Repo</option>

	<option value='BB_EXCH_LU_BM'>Bahamas</option>

	<option value='BB_EXCH_LU_BI'>Bahrain Brse</option>

	<option value='BB_EXCH_LU_LK'>Baikal</option>

	<option value='BB_EXCH_LU_AZ'>Baku SE</option>

	<option value='BB_EXCH_LU_TB'>Bangkok</option>

	<option value='BB_EXCH_LU_BK'>Banja Luka</option>

	<option value='BB_EXCH_LU_SB'>Barcelona</option>

	<option value='BB_EXCH_LU_UF'>BATS</option>

	<option value='BB_EXCH_LU_EB'>BATS Europe</option>

	<option value='BB_EXCH_LU_VY'>BATS Y</option>

	<option value='BB_EXCH_LU_XV'>BATSChiX OTC</option>

	<option value='BB_EXCH_LU_LB'>Beirut</option>

	<option value='BB_EXCH_LU_RB'>Belarus</option>

	<option value='BB_EXCH_LU_SG'>Belgrade SE</option>

	<option value='BB_EXCH_LU_ZB'>Belize</option>

	<option value='BB_EXCH_LU_GB'>Berlin</option>

	<option value='BB_EXCH_LU_BH'>Bermuda SE</option>

	<option value='BB_EXCH_LU_SR'>Berne</option>

	<option value='BB_EXCH_LU_SO'>Bilbao</option>

	<option value='BB_EXCH_LU_BS'>BM&amp;FBOVESPA</option>

	<option value='BB_EXCH_LU_BN'>BM&amp;FBOVESPA (Night Session)</option>

	<option value='BB_EXCH_LU_XB'>Boat</option>

	<option value='BB_EXCH_LU_VB'>Bolivia</option>

	<option value='BB_EXCH_LU_CX'>Bolsa Colomb</option>

	<option value='BB_EXCH_LU_XI'>BorsaItalOTC</option>

	<option value='BB_EXCH_LU_BP'>Bosnia</option>

	<option value='BB_EXCH_LU_BV'>Bovespa Out</option>

	<option value='BB_EXCH_LU_VI'>Br Virgin Is</option>

	<option value='BB_EXCH_LU_SK'>Bratislava</option>

	<option value='BB_EXCH_LU_GC'>Bremen</option>

	<option value='BB_EXCH_LU_BA'>Bridgetown</option>

	<option value='BB_EXCH_LU_IM'>BrsaItaliana</option>

	<option value='BB_EXCH_LU_BX'>Brunei</option>

	<option value='BB_EXCH_LU_BC'>BRVM Region</option>

	<option value='BB_EXCH_LU_IB'>BSE India</option>

	<option value='BB_EXCH_LU_RE'>Bucharest</option>

	<option value='BB_EXCH_LU_HB'>Budapest</option>

	<option value='BB_EXCH_LU_XH'>Budapest OTC</option>

	<option value='BB_EXCH_LU_AF'>Buenos Floor</option>

	<option value='BB_EXCH_LU_AS'>Buenos Sinac</option>

	<option value='BB_EXCH_LU_XU'>Bulgaria OTC</option>

	<option value='BB_EXCH_LU_BU'>Bulgaria SE</option>

	<option value='BB_EXCH_LU_BY'>Burgundy</option>

	<option value='BB_EXCH_LU_MK'>Bursa Malays</option>

	<option value='BB_EXCH_LU_KH'>Cambodia</option>

	<option value='BB_EXCH_LU_CF'>Canada Ntnl</option>

	<option value='BB_EXCH_LU_VR'>Cape VerdeEx</option>

	<option value='BB_EXCH_LU_VS'>Caracas</option>

	<option value='BB_EXCH_LU_MC'>Casablanca</option>

	<option value='BB_EXCH_LU_UE'>CBOE2</option>

	<option value='BB_EXCH_LU_UO'>CBSX</option>

	<option value='BB_EXCH_LU_XA'>CEESEG OTC</option>

	<option value='BB_EXCH_LU_HE'>Chi-East</option>

	<option value='BB_EXCH_LU_IX'>Chi-X Europe</option>

	<option value='BB_EXCH_LU_JI'>CHI-X Japan</option>

	<option value='BB_EXCH_LU_XC'>Chi-X OTC</option>

	<option value='BB_EXCH_LU_UM'>Chicago</option>

	<option value='BB_EXCH_LU_AH'>ChiX Austral</option>

	<option value='BB_EXCH_LU_DV'>ChiX Cd Vntr</option>

	<option value='BB_EXCH_LU_TX'>ChiX Toronto</option>

	<option value='BB_EXCH_LU_SL'>Colombo</option>

	<option value='BB_EXCH_LU_LC'>Composite</option>

	<option value='BB_EXCH_LU_SQ'>Continuous</option>

	<option value='BB_EXCH_LU_CU'>Cook Islands</option>

	<option value='BB_EXCH_LU_DC'>Copenhagen</option>

	<option value='BB_EXCH_LU_CR'>Costa Rica</option>

	<option value='BB_EXCH_LU_KY'>CSX</option>

	<option value='BB_EXCH_LU_DS'>CX2 Cad Vntr</option>

	<option value='BB_EXCH_LU_DT'>CX2 Cd Trnto</option>

	<option value='BB_EXCH_LU_YC'>Cyprus ECM</option>

	<option value='BB_EXCH_LU_RC'>Czech  OTC</option>

	<option value='BB_EXCH_LU_SY'>Damascus SE</option>

	<option value='BB_EXCH_LU_DD'>Dansk OTC</option>

	<option value='BB_EXCH_LU_TZ'>Dar E Slm SE</option>

	<option value='BB_EXCH_LU_XF'>Dblin SE OTC</option>

	<option value='BB_EXCH_LU_CQ'>Dealing Net</option>

	<option value='BB_EXCH_LU_IH'>Delhi Stk Ex</option>

	<option value='BB_EXCH_LU_XD'>Deutsche OTC</option>

	<option value='BB_EXCH_LU_DB'>DFM</option>

	<option value='BB_EXCH_LU_BD'>Dhaka</option>

	<option value='BB_EXCH_LU_DE'>DoulaStkExch</option>

	<option value='BB_EXCH_LU_ID'>Dublin</option>

	<option value='BB_EXCH_LU_GD'>Dusseldorf</option>

	<option value='BB_EXCH_LU_VJ'>EDGA Exchange</option>

	<option value='BB_EXCH_LU_VK'>EDGX Exchange</option>

	<option value='BB_EXCH_LU_EC'>EGX</option>

	<option value='BB_EXCH_LU_EL'>El Salvador</option>

	<option value='BB_EXCH_LU_NE'>EN AmstDer</option>

	<option value='BB_EXCH_LU_NA'>EN Amsterdam</option>

	<option value='BB_EXCH_LU_BB'>EN Brussels</option>

	<option value='BB_EXCH_LU_PL'>EN Lisbon</option>

	<option value='BB_EXCH_LU_FP'>EN Paris</option>

	<option value='BB_EXCH_LU_BQ'>Equiduct</option>

	<option value='BB_EXCH_LU_EK'>Estn Crbn SE</option>

	<option value='BB_EXCH_LU_EU'>Euro Comp</option>

	<option value='BB_EXCH_LU_EO'>EURO OTC</option>

	<option value='BB_EXCH_LU_E1'>EURO OTC</option>

	<option value='BB_EXCH_LU_XE'>Euronext OTC</option>

	<option value='BB_EXCH_LU_TE'>EuroTLX</option>

	<option value='BB_EXCH_LU_UD'>FINRA ADF</option>

	<option value='BB_EXCH_LU_DF'>FN Denmark</option>

	<option value='BB_EXCH_LU_FF'>FN Finland</option>

	<option value='BB_EXCH_LU_RF'>FN Iceland</option>

	<option value='BB_EXCH_LU_SF'>FN Stockholm</option>

	<option value='BB_EXCH_LU_GF'>Frankfurt</option>

	<option value='BB_EXCH_LU_NF'>Frankfurt NM</option>

	<option value='BB_EXCH_LU_JF'>Fukuoka</option>

	<option value='BB_EXCH_LU_ZG'>Gabon</option>

	<option value='BB_EXCH_LU_BG'>Gaborone</option>

	<option value='BB_EXCH_LU_GX'>Gambia StkEx</option>

	<option value='BB_EXCH_LU_TL'>Gibraltar</option>

	<option value='BB_EXCH_LU_GL'>Guatemala</option>

	<option value='BB_EXCH_LU_EG'>Guayaquil</option>

	<option value='BB_EXCH_LU_GU'>Guernsey</option>

	<option value='BB_EXCH_LU_G4'>GXG Markets</option>

	<option value='BB_EXCH_LU_GH'>Hamburg</option>

	<option value='BB_EXCH_LU_GI'>Hannover</option>

	<option value='BB_EXCH_LU_VH'>Hanoi</option>

	<option value='BB_EXCH_LU_VU'>Hanoi UPCoM</option>

	<option value='BB_EXCH_LU_ZH'>Harare</option>

	<option value='BB_EXCH_LU_FH'>Helsinki</option>

	<option value='BB_EXCH_LU_JX'>Hercules</option>

	<option value='BB_EXCH_LU_HM'>HI-MTF</option>

	<option value='BB_EXCH_LU_VM'>Ho Chi Minh</option>

	<option value='BB_EXCH_LU_HO'>Honduras</option>

	<option value='BB_EXCH_LU_HK'>Hong Kong</option>

	<option value='BB_EXCH_LU_IJ'>Indonesia</option>

	<option value='BB_EXCH_LU_TW'>Instinet Canada Cross</option>

	<option value='BB_EXCH_LU_IQ'>Iraq SE</option>

	<option value='BB_EXCH_LU_PZ'>ISDX</option>

	<option value='BB_EXCH_LU_UL'>ISE</option>

	<option value='BB_EXCH_LU_IO'>Isle of Man</option>

	<option value='BB_EXCH_LU_TI'>Istanbul</option>

	<option value='BB_EXCH_LU_PO'>ITG Posit</option>

	<option value='BB_EXCH_LU_JY'>Jersey</option>

	<option value='BB_EXCH_LU_SJ'>Johannesburg</option>

	<option value='BB_EXCH_LU_GG'>JSCGeorgiaSE</option>

	<option value='BB_EXCH_LU_JJ'>JSDA OffExch</option>

	<option value='BB_EXCH_LU_JD'>Kabu.com</option>

	<option value='BB_EXCH_LU_AK'>Kabul Intl</option>

	<option value='BB_EXCH_LU_PK'>Karachi</option>

	<option value='BB_EXCH_LU_KZ'>KazkhstnStEX</option>

	<option value='BB_EXCH_LU_JA'>Kingston</option>

	<option value='BB_EXCH_LU_KE'>Konex</option>

	<option value='BB_EXCH_LU_KP'>Korea SE</option>

	<option value='BB_EXCH_LU_KF'>KoreaFrBMkt</option>

	<option value='BB_EXCH_LU_KQ'>KOSDAQ</option>

	<option value='BB_EXCH_LU_KO'>Kosovo</option>

	<option value='BB_EXCH_LU_KS'>KSE</option>

	<option value='BB_EXCH_LU_KK'>Kuwait</option>

	<option value='BB_EXCH_LU_KB'>Kyrgyzstan</option>

	<option value='BB_EXCH_LU_NL'>Lagos</option>

	<option value='BB_EXCH_LU_LS'>Laos SE</option>

	<option value='BB_EXCH_LU_LY'>LibyanStExc</option>

	<option value='BB_EXCH_LU_LE'>Liechtenstei</option>

	<option value='BB_EXCH_LU_PE'>Lima</option>

	<option value='BB_EXCH_LU_LQ'>Liqdty Qt Ex</option>

	<option value='BB_EXCH_LU_TK'>Liquidnet Canada ATS</option>

	<option value='BB_EXCH_LU_XJ'>Ljub SE OTC</option>

	<option value='BB_EXCH_LU_SV'>Ljubljana</option>

	<option value='BB_EXCH_LU_XL'>Lndon SE OTC</option>

	<option value='BB_EXCH_LU_LN'>London</option>

	<option value='BB_EXCH_LU_LI'>London Intl</option>

	<option value='BB_EXCH_LU_LO'>LSE EuropeQS</option>

	<option value='BB_EXCH_LU_ZL'>Lusaka</option>

	<option value='BB_EXCH_LU_LX'>Luxembourg</option>

	<option value='BB_EXCH_LU_DG'>Lynx ATS</option>

	<option value='BB_EXCH_LU_MA'>Macau</option>

	<option value='BB_EXCH_LU_MS'>Macedonia</option>

	<option value='BB_EXCH_LU_MD'>Madeira</option>

	<option value='BB_EXCH_LU_SN'>Madrid</option>

	<option value='BB_EXCH_LU_SM'>Madrid Stock Exchange</option>

	<option value='BB_EXCH_LU_MW'>Malawi SE</option>

	<option value='BB_EXCH_LU_MX'>Maldives S E</option>

	<option value='BB_EXCH_LU_MZ'>Maputo</option>

	<option value='BB_EXCH_LU_MI'>Marshall Isd</option>

	<option value='BB_EXCH_LU_IG'>MCX Stock Exchange</option>

	<option value='BB_EXCH_LU_CL'>Medellin</option>

	<option value='BB_EXCH_LU_AM'>Mendoza SE</option>

	<option value='BB_EXCH_LU_MM'>Mexico</option>

	<option value='BB_EXCH_LU_RX'>MICEX Main</option>

	<option value='BB_EXCH_LU_RN'>MICEX NMD</option>

	<option value='BB_EXCH_LU_RP'>MICEX Repo</option>

	<option value='BB_EXCH_LU_IF'>Mil Aftr Hrs</option>

	<option value='BB_EXCH_LU_IC'>Mil Comp Day</option>

	<option value='BB_EXCH_LU_MB'>Moldova</option>

	<option value='BB_EXCH_LU_MN'>Monaco</option>

	<option value='BB_EXCH_LU_MO'>Mongolia</option>

	<option value='BB_EXCH_LU_ME'>Montenegro</option>

	<option value='BB_EXCH_LU_UY'>Montevideo</option>

	<option value='BB_EXCH_LU_CM'>Montreal</option>

	<option value='BB_EXCH_LU_GM'>Munich</option>

	<option value='BB_EXCH_LU_OM'>Muscat</option>

	<option value='BB_EXCH_LU_JN'>Nagoya</option>

	<option value='BB_EXCH_LU_KN'>Nairobi SE</option>

	<option value='BB_EXCH_LU_UR'>NASDAQ CM</option>

	<option value='BB_EXCH_LU_DU'>Nasdaq Dubai</option>

	<option value='BB_EXCH_LU_UQ'>NASDAQ GM</option>

	<option value='BB_EXCH_LU_UW'>NASDAQ GS</option>

	<option value='BB_EXCH_LU_UT'>NASDAQ iM</option>

	<option value='BB_EXCH_LU_UC'>National</option>

	<option value='BB_EXCH_LU_IS'>Natl India</option>

	<option value='BB_EXCH_LU_ND'>NDQ Deutshld</option>

	<option value='BB_EXCH_LU_NK'>Nepal Stock</option>

	<option value='BB_EXCH_LU_NT'>Neth Antille</option>

	<option value='BB_EXCH_LU_UN'>New York</option>

	<option value='BB_EXCH_LU_EX'>NEWEX</option>

	<option value='BB_EXCH_LU_XG'>NGM OTC</option>

	<option value='BB_EXCH_LU_NC'>Nicaragua</option>

	<option value='BB_EXCH_LU_CY'>Nicosia</option>

	<option value='BB_EXCH_LU_EI'>NILEX</option>

	<option value='BB_EXCH_LU_NG'>Nordic GM</option>

	<option value='BB_EXCH_LU_NS'>Norway OTC</option>

	<option value='BB_EXCH_LU_AY'>NSDQ OMX Arm</option>

	<option value='BB_EXCH_LU_UB'>NSDQ OMX BX</option>

	<option value='BB_EXCH_LU_UX'>NSDQ OMX PSX</option>

	<option value='BB_EXCH_LU_AO'>NSX</option>

	<option value='BB_EXCH_LU_UP'>NYSE Arca</option>

	<option value='BB_EXCH_LU_NR'>NYSE ARCA Eu</option>

	<option value='BB_EXCH_LU_LD'>NYSE EU Lond</option>

	<option value='BB_EXCH_LU_UA'>NYSE MKT LLC</option>

	<option value='BB_EXCH_LU_NZ'>NZX</option>

	<option value='BB_EXCH_LU_CO'>Occidente</option>

	<option value='BB_EXCH_LU_TG'>Omega</option>

	<option value='BB_EXCH_LU_XO'>OMX OTC</option>

	<option value='BB_EXCH_LU_JM'>Optimark Jpn</option>

	<option value='BB_EXCH_LU_JO'>Osaka</option>

	<option value='BB_EXCH_LU_NO'>Oslo</option>

	<option value='BB_EXCH_LU_XN'>Oslo OTC</option>

	<option value='BB_EXCH_LU_XK'>OTC-X BEKB</option>

	<option value='BB_EXCH_LU_UV'>OTC  US</option>

	<option value='BB_EXCH_LU_UU'>OTC BB</option>

	<option value='BB_EXCH_LU_PQ'>OTC Markets</option>

	<option value='BB_EXCH_LU_PS'>Palestine</option>

	<option value='BB_EXCH_LU_PP'>Panama City</option>

	<option value='BB_EXCH_LU_NP'>Paris NM</option>

	<option value='BB_EXCH_LU_PX'>PEX</option>

	<option value='BB_EXCH_LU_UZ'>PFTS</option>

	<option value='BB_EXCH_LU_OU'>PFTSOrderdrv</option>

	<option value='BB_EXCH_LU_QU'>PFTSQuotedrv</option>

	<option value='BB_EXCH_LU_PM'>Philippines</option>

	<option value='BB_EXCH_LU_PG'>PLUS Europe</option>

	<option value='BB_EXCH_LU_XP'>Plus Mkt OTC</option>

	<option value='BB_EXCH_LU_PD'>Poland OTC</option>

	<option value='BB_EXCH_LU_PB'>Port Moresby</option>

	<option value='BB_EXCH_LU_TP'>Port Spain</option>

	<option value='BB_EXCH_LU_KL'>Prague-Block</option>

	<option value='BB_EXCH_LU_CK'>Prague SE</option>

	<option value='BB_EXCH_LU_CJ'>Pure Trading</option>

	<option value='BB_EXCH_LU_QD'>Qatar</option>

	<option value='BB_EXCH_LU_EQ'>Quito</option>

	<option value='BB_EXCH_LU_QM'>Quote MTF</option>

	<option value='BB_EXCH_LU_RQ'>RASDAQ</option>

	<option value='BB_EXCH_LU_IR'>Reykjavik</option>

	<option value='BB_EXCH_LU_LG'>Riga</option>

	<option value='BB_EXCH_LU_RR'>RTS</option>

	<option value='BB_EXCH_LU_UK'>RTS Ukraine</option>

	<option value='BB_EXCH_LU_RW'>Rwanda</option>

	<option value='BB_EXCH_LU_CC'>Sant. Comerc</option>

	<option value='BB_EXCH_LU_CE'>Sant. Elec</option>

	<option value='BB_EXCH_LU_JS'>Sapporo</option>

	<option value='BB_EXCH_LU_BT'>Sarajevo</option>

	<option value='BB_EXCH_LU_AB'>Saudi Arabia</option>

	<option value='BB_EXCH_LU_JE'>SBI Japannext</option>

	<option value='BB_EXCH_LU_JU'>SBIJNxt XMkt</option>

	<option value='BB_EXCH_LU_MP'>SEM</option>

	<option value='BB_EXCH_LU_ZS'>Senegal</option>

	<option value='BB_EXCH_LU_SZ'>Seychelles</option>

	<option value='BB_EXCH_LU_CG'>Shanghai</option>

	<option value='BB_EXCH_LU_SH'>SharesPost</option>

	<option value='BB_EXCH_LU_CS'>Shenzhen</option>

	<option value='BB_EXCH_LU_RZ'>SIBEX</option>

	<option value='BB_EXCH_LU_SU'>Sierra Leone</option>

	<option value='BB_EXCH_LU_TY'>SIGMA X Canada</option>

	<option value='BB_EXCH_LU_S1'>SIGMA X MTF</option>

	<option value='BB_EXCH_LU_SI'>SIM VSE</option>

	<option value='BB_EXCH_LU_SP'>Singapore</option>

	<option value='BB_EXCH_LU_SX'>SIX Str Prod</option>

	<option value='BB_EXCH_LU_SE'>SIX Swiss Ex</option>

	<option value='BB_EXCH_LU_VX'>SIX Swiss Ex</option>

	<option value='BB_EXCH_LU_XW'>SIX Swiss Off-Exchange</option>

	<option value='BB_EXCH_LU_BO'>Soma</option>

	<option value='BB_EXCH_LU_FS'>SPSE</option>

	<option value='BB_EXCH_LU_NX'>St Kts &amp; Nvs</option>

	<option value='BB_EXCH_LU_SS'>Stockholm</option>

	<option value='BB_EXCH_LU_GW'>Stutgt Wrnts</option>

	<option value='BB_EXCH_LU_GS'>Stuttgart</option>

	<option value='BB_EXCH_LU_XS'>Stuttgrt OTC</option>

	<option value='BB_EXCH_LU_SD'>Swaziland</option>

	<option value='BB_EXCH_LU_SC'>Swiss Contrb</option>

	<option value='BB_EXCH_LU_TT'>Taiwan</option>

	<option value='BB_EXCH_LU_TD'>Tajikistan</option>

	<option value='BB_EXCH_LU_ET'>Tallinn</option>

	<option value='BB_EXCH_LU_IE'>Tehran</option>

	<option value='BB_EXCH_LU_IT'>Tel Aviv</option>

	<option value='BB_EXCH_LU_TJ'>TMX Select</option>

	<option value='BB_EXCH_LU_JT'>Tokyo</option>

	<option value='BB_EXCH_LU_JG'>Tokyo AIM</option>

	<option value='BB_EXCH_LU_MT'>TOM MTF</option>

	<option value='BB_EXCH_LU_CT'>Toronto</option>

	<option value='BB_EXCH_LU_TH'>Tradegate</option>

	<option value='BB_EXCH_LU_LT'>Tradepoint</option>

	<option value='BB_EXCH_LU_TR'>TriAct Trnto</option>

	<option value='BB_EXCH_LU_TV'>TriAct Vntre</option>

	<option value='BB_EXCH_LU_TU'>Tunis</option>

	<option value='BB_EXCH_LU_T0'>TurkDEX</option>

	<option value='BB_EXCH_LU_TM'>Turkmenistan</option>

	<option value='BB_EXCH_LU_TC'>Turks&amp; Caico</option>

	<option value='BB_EXCH_LU_TQ'>Turquoise</option>

	<option value='BB_EXCH_LU_UG'>Uganda</option>

	<option value='BB_EXCH_LU_ZU'>Uzbekistan</option>

	<option value='BB_EXCH_LU_SA'>Valencia</option>

	<option value='BB_EXCH_LU_MV'>Valetta</option>

	<option value='BB_EXCH_LU_CV'>Venture</option>

	<option value='BB_EXCH_LU_AV'>Vienna</option>

	<option value='BB_EXCH_LU_LH'>Vilnius SE</option>

	<option value='BB_EXCH_LU_PW'>Warsaw</option>

	<option value='BB_EXCH_LU_NW'>Windhoek</option>

	<option value='BB_EXCH_LU_CW'>Winnipeg</option>

	<option value='BB_EXCH_LU_GY'>Xetra</option>

	<option value='BB_EXCH_LU_GT'>Xetra ETF</option>

	<option value='BB_EXCH_LU_GQ'>Xetra Stars</option>

	<option value='BB_EXCH_LU_GK'>XetraIntlMkt</option>

	<option value='BB_EXCH_LU_GE'>Xtra EU Strs</option>

	<option value='BB_EXCH_LU_YS'>Yemen</option>

</select>