<select class="form-control">

	<option value='BB_COUNTRY_LU_AF'>AFGHANISTAN</option>

	<option value='BB_COUNTRY_LU_AX'>Aland Islands</option>

	<option value='BB_COUNTRY_LU_AL'>ALBANIA</option>

	<option value='BB_COUNTRY_LU_DZ'>ALGERIA</option>

	<option value='BB_COUNTRY_LU_AD'>ANDORRA</option>

	<option value='BB_COUNTRY_LU_AO'>ANGOLA</option>

	<option value='BB_COUNTRY_LU_A5'>ANGUILLA</option>

	<option value='BB_COUNTRY_LU_AI'>ANGUILLA</option>

	<option value='BB_COUNTRY_LU_AQ'>ANTARCTICA</option>

	<option value='BB_COUNTRY_LU_AG'>ANTIGUA &amp; BARBU</option>

	<option value='BB_COUNTRY_LU_AR'>ARGENTINA</option>

	<option value='BB_COUNTRY_LU_AM'>ARMENIA</option>

	<option value='BB_COUNTRY_LU_AW'>ARUBA</option>

	<option value='BB_COUNTRY_LU_AB'>ARUBA</option>

	<option value='BB_COUNTRY_LU_AU'>AUSTRALIA</option>

	<option value='BB_COUNTRY_LU_AT'>AUSTRIA</option>

	<option value='BB_COUNTRY_LU_AZ'>AZERBAIJAN</option>

	<option value='BB_COUNTRY_LU_BS'>BAHAMAS</option>

	<option value='BB_COUNTRY_LU_BH'>BAHRAIN</option>

	<option value='BB_COUNTRY_LU_BB'>BARBADOS</option>

	<option value='BB_COUNTRY_LU_BK'>BELARUS</option>

	<option value='BB_COUNTRY_LU_BE'>BELGIUM</option>

	<option value='BB_COUNTRY_LU_BJ'>BENIN</option>

	<option value='BB_COUNTRY_LU_BD'>BERMUDA</option>

	<option value='BB_COUNTRY_LU_BT'>BHUTAN</option>

	<option value='BB_COUNTRY_LU_BQ'>Bonaire, Saint</option>

	<option value='BB_COUNTRY_LU_BA'>BOSNIA-HERZE.</option>

	<option value='BB_COUNTRY_LU_BY'>BOSNIA-HERZE.</option>

	<option value='BB_COUNTRY_LU_BO'>BOTSWANA</option>

	<option value='BB_COUNTRY_LU_BW'>BOTSWANA</option>

	<option value='BB_COUNTRY_LU_BV'>BOUVET ISLAND</option>

	<option value='BB_COUNTRY_LU_BR'>BRAZIL</option>

	<option value='BB_COUNTRY_LU_BZ'>BRAZIL</option>

	<option value='BB_COUNTRY_LU_EN'>BRITAIN</option>

	<option value='BB_COUNTRY_LU_GB'>BRITAIN</option>

	<option value='BB_COUNTRY_LU_VS'>BRITISH VIRGIN</option>

	<option value='BB_COUNTRY_LU_BM'>BRUNEI</option>

	<option value='BB_COUNTRY_LU_BN'>BRUNEI</option>

	<option value='BB_COUNTRY_LU_BP'>BULGARIA</option>

	<option value='BB_COUNTRY_LU_BF'>BURKINA FASO</option>

	<option value='BB_COUNTRY_LU_BG'>BURUNDI</option>

	<option value='BB_COUNTRY_LU_BI'>BURUNDI</option>

	<option value='BB_COUNTRY_LU_KH'>CAMBODIA</option>

	<option value='BB_COUNTRY_LU_CM'>CAMEROON</option>

	<option value='BB_COUNTRY_LU_CA'>CANADA</option>

	<option value='BB_COUNTRY_LU_CV'>CAPE VERDE</option>

	<option value='BB_COUNTRY_LU_CF'>CENTRAL AFRICA</option>

	<option value='BB_COUNTRY_LU_TD'>CHAD</option>

	<option value='BB_COUNTRY_LU_CHNL'>CHANNEL ISLANDS</option>

	<option value='BB_COUNTRY_LU_CL'>CHILE</option>

	<option value='BB_COUNTRY_LU_CX'>CHRISTMAS IS.</option>

	<option value='BB_COUNTRY_LU_CO'>COLOMBIA</option>

	<option value='BB_COUNTRY_LU_KM'>COMOROS</option>

	<option value='BB_COUNTRY_LU_CN'>COMOROS</option>

	<option value='BB_COUNTRY_LU_CG'>CONGO</option>

	<option value='BB_COUNTRY_LU_CK'>COOK ISLANDS</option>

	<option value='BB_COUNTRY_LU_CR'>COSTA RICA</option>

	<option value='BB_COUNTRY_LU_HR'>CROATIA</option>

	<option value='BB_COUNTRY_LU_CU'>CUBA</option>

	<option value='BB_COUNTRY_LU_CW'>CURACAO</option>

	<option value='BB_COUNTRY_LU_CT'>CURACAO</option>

	<option value='BB_COUNTRY_LU_CY'>CYPRUS</option>

	<option value='BB_COUNTRY_LU_CC'>CYPRUS</option>

	<option value='BB_COUNTRY_LU_CZ'>CZECH</option>

	<option value='BB_COUNTRY_LU_CD'>DEM.REP. CONGO</option>

	<option value='BB_COUNTRY_LU_DK'>DENMARK</option>

	<option value='BB_COUNTRY_LU_DJ'>DJIBOUTI</option>

	<option value='BB_COUNTRY_LU_DM'>DOMINICA</option>

	<option value='BB_COUNTRY_LU_DO'>DOMINICAN REPB.</option>

	<option value='BB_COUNTRY_LU_DR'>DOMINICAN REPB.</option>

	<option value='BB_COUNTRY_LU_XD'>EAST CARIBBEAN</option>

	<option value='BB_COUNTRY_LU_TL'>EAST TIMOR</option>

	<option value='BB_COUNTRY_LU_ED'>ECUADOR</option>

	<option value='BB_COUNTRY_LU_EG'>EGYPT</option>

	<option value='BB_COUNTRY_LU_EL'>EL SALVADOR</option>

	<option value='BB_COUNTRY_LU_GQ'>EQUATORIAL</option>

	<option value='BB_COUNTRY_LU_EQ'>EQUATORIAL</option>

	<option value='BB_COUNTRY_LU_ER'>ERITREA</option>

	<option value='BB_COUNTRY_LU_EE'>ESTONIA</option>

	<option value='BB_COUNTRY_LU_ET'>ETHIOPIA</option>

	<option value='BB_COUNTRY_LU_EC'>EUROZONE</option>

	<option value='BB_COUNTRY_LU_TE'>EUROZONE</option>

	<option value='BB_COUNTRY_LU_FO'>FAEROE ISLAND</option>

	<option value='BB_COUNTRY_LU_FK'>FALKLAND IS.</option>

	<option value='BB_COUNTRY_LU_FJ'>FIJI</option>

	<option value='BB_COUNTRY_LU_FI'>FINLAND</option>

	<option value='BB_COUNTRY_LU_FR'>FRANCE</option>

	<option value='BB_COUNTRY_LU_GF'>FRENCH GUIANA</option>

	<option value='BB_COUNTRY_LU_PF'>FRENCH PACIFIC</option>

	<option value='BB_COUNTRY_LU_TF'>FRENCH SOUTHERN</option>

	<option value='BB_COUNTRY_LU_GO'>GABON</option>

	<option value='BB_COUNTRY_LU_GA'>GAMBIA</option>

	<option value='BB_COUNTRY_LU_DE'>GERMANY</option>

	<option value='BB_COUNTRY_LU_GE'>GERMANY</option>

	<option value='BB_COUNTRY_LU_GH'>GHANA</option>

	<option value='BB_COUNTRY_LU_GI'>GIBRALTAR</option>

	<option value='BB_COUNTRY_LU_GR'>GREECE</option>

	<option value='BB_COUNTRY_LU_GL'>GREENLAND</option>

	<option value='BB_COUNTRY_LU_GD'>GRENADA</option>

	<option value='BB_COUNTRY_LU_GP'>GUADELOUPE</option>

	<option value='BB_COUNTRY_LU_GM'>GUAM</option>

	<option value='BB_COUNTRY_LU_GT'>GUATEMALA</option>

	<option value='BB_COUNTRY_LU_GU'>GUATEMALA</option>

	<option value='BB_COUNTRY_LU_GG'>GUERNSEY</option>

	<option value='BB_COUNTRY_LU_GN'>GUINEA</option>

	<option value='BB_COUNTRY_LU_GW'>GUINEA-BISSAU</option>

	<option value='BB_COUNTRY_LU_GY'>GUYANA</option>

	<option value='BB_COUNTRY_LU_HT'>HAITI</option>

	<option value='BB_COUNTRY_LU_HM'>HEARD/MACDONLD</option>

	<option value='BB_COUNTRY_LU_HN'>HONDURAS</option>

	<option value='BB_COUNTRY_LU_HK'>HONG KONG</option>

	<option value='BB_COUNTRY_LU_HU'>HUNGARY</option>

	<option value='BB_COUNTRY_LU_IC'>ICELAND</option>

	<option value='BB_COUNTRY_LU_IN'>INDIA</option>

	<option value='BB_COUNTRY_LU_ID'>INDONESIA</option>

	<option value='BB_COUNTRY_LU_IA'>IRAN</option>

	<option value='BB_COUNTRY_LU_IQ'>IRAQ</option>

	<option value='BB_COUNTRY_LU_IR'>IRELAND</option>

	<option value='BB_COUNTRY_LU_IE'>IRELAND</option>

	<option value='BB_COUNTRY_LU_IM'>ISLE OF MAN</option>

	<option value='BB_COUNTRY_LU_IO'>ISLE OF MAN</option>

	<option value='BB_COUNTRY_LU_IL'>ISRAEL</option>

	<option value='BB_COUNTRY_LU_IS'>ISRAEL</option>

	<option value='BB_COUNTRY_LU_IT'>ITALY</option>

	<option value='BB_COUNTRY_LU_CI'>IVORY COAST</option>

	<option value='BB_COUNTRY_LU_IV'>IVORY COAST</option>

	<option value='BB_COUNTRY_LU_JM'>JAMAICA</option>

	<option value='BB_COUNTRY_LU_JN'>JAPAN</option>

	<option value='BB_COUNTRY_LU_JP'>JAPAN</option>

	<option value='BB_COUNTRY_LU_JE'>JERSEY</option>

	<option value='BB_COUNTRY_LU_JO'>JORDAN</option>

	<option value='BB_COUNTRY_LU_KZ'>KAZAKHSTAN</option>

	<option value='BB_COUNTRY_LU_KE'>KENYA</option>

	<option value='BB_COUNTRY_LU_KB'>KIRIBATI</option>

	<option value='BB_COUNTRY_LU_KU'>KUWAIT</option>

	<option value='BB_COUNTRY_LU_KW'>KUWAIT</option>

	<option value='BB_COUNTRY_LU_KY'>KYRGYZSTAN</option>

	<option value='BB_COUNTRY_LU_KG'>KYRGYZSTAN</option>

	<option value='BB_COUNTRY_LU_LO'>LAOS</option>

	<option value='BB_COUNTRY_LU_LA'>LAOS</option>

	<option value='BB_COUNTRY_LU_LL'>LATVIA</option>

	<option value='BB_COUNTRY_LU_LV'>LATVIA</option>

	<option value='BB_COUNTRY_LU_LB'>LEBANON</option>

	<option value='BB_COUNTRY_LU_LE'>LEBANON</option>

	<option value='BB_COUNTRY_LU_LS'>LESOTHO</option>

	<option value='BB_COUNTRY_LU_LH'>LESOTHO</option>

	<option value='BB_COUNTRY_LU_LR'>LIBERIA</option>

	<option value='BB_COUNTRY_LU_LY'>LIBYA</option>

	<option value='BB_COUNTRY_LU_LI'>LIECHTENSTEIN</option>

	<option value='BB_COUNTRY_LU_LN'>LITHUANIA</option>

	<option value='BB_COUNTRY_LU_LT'>LITHUANIA</option>

	<option value='BB_COUNTRY_LU_LU'>LUXEMBOURG</option>

	<option value='BB_COUNTRY_LU_LX'>LUXEMBOURG</option>

	<option value='BB_COUNTRY_LU_U2'>MACAU</option>

	<option value='BB_COUNTRY_LU_Z5'>MACEDONIA</option>

	<option value='BB_COUNTRY_LU_MG'>MADAGASCAR</option>

	<option value='BB_COUNTRY_LU_MW'>MALAWI</option>

	<option value='BB_COUNTRY_LU_MV'>MALDIVES</option>

	<option value='BB_COUNTRY_LU_ML'>MALI REPUBLIC</option>

	<option value='BB_COUNTRY_LU_MT'>MALTA</option>

	<option value='BB_COUNTRY_LU_MB'>MALTA</option>

	<option value='BB_COUNTRY_LU_MH'>MARSHALL ISLAND</option>

	<option value='BB_COUNTRY_LU_MR'>MAURITANIA</option>

	<option value='BB_COUNTRY_LU_MU'>MAURITIUS</option>

	<option value='BB_COUNTRY_LU_YT'>MAYOTTE</option>

	<option value='BB_COUNTRY_LU_MX'>MEXICO</option>

	<option value='BB_COUNTRY_LU_FM'>MICRONESIA</option>

	<option value='BB_COUNTRY_LU_MIX'>Mixed</option>

	<option value='BB_COUNTRY_LU_MK'>MOLDOVA</option>

	<option value='BB_COUNTRY_LU_MD'>MOLDOVA</option>

	<option value='BB_COUNTRY_LU_MC'>MONACO</option>

	<option value='BB_COUNTRY_LU_MQ'>MONACO</option>

	<option value='BB_COUNTRY_LU_MN'>MONGOLIA</option>

	<option value='BB_COUNTRY_LU_MJ'>MONGOLIA</option>

	<option value='BB_COUNTRY_LU_YV'>MONTENEGRO</option>

	<option value='BB_COUNTRY_LU_ME'>MONTENEGRO</option>

	<option value='BB_COUNTRY_LU_MS'>MONTSERRAT</option>

	<option value='BB_COUNTRY_LU_MA'>MOROCCO</option>

	<option value='BB_COUNTRY_LU_MO'>MOROCCO</option>

	<option value='BB_COUNTRY_LU_MZ'>MOZAMBIQUE</option>

	<option value='BB_COUNTRY_LU_MULT'>MULT</option>

	<option value='BB_COUNTRY_LU_MY'>MYANMAR</option>

	<option value='BB_COUNTRY_LU_MM'>MYANMAR</option>

	<option value='BB_COUNTRY_LU_NA'>NAMIBIA</option>

	<option value='BB_COUNTRY_LU_NU'>NAURU ISLAND</option>

	<option value='BB_COUNTRY_LU_NP'>NEPAL</option>

	<option value='BB_COUNTRY_LU_NV'>NETH. ANTILLES</option>

	<option value='BB_COUNTRY_LU_AN'>NETH. ANTILLES</option>

	<option value='BB_COUNTRY_LU_NL'>NETHERLANDS</option>

	<option value='BB_COUNTRY_LU_NZ'>NEW ZEALAND</option>

	<option value='BB_COUNTRY_LU_NC'>NICARAGUA</option>

	<option value='BB_COUNTRY_LU_NI'>NICARAGUA</option>

	<option value='BB_COUNTRY_LU_NE'>NIGER REPUBLIC</option>

	<option value='BB_COUNTRY_LU_NR'>NIGER REPUBLIC</option>

	<option value='BB_COUNTRY_LU_NG'>NIGERIA</option>

	<option value='BB_COUNTRY_LU_NF'>NORFOLK ISLAND</option>

	<option value='BB_COUNTRY_LU_NK'>NORTH KOREA</option>

	<option value='BB_COUNTRY_LU_KP'>NORTH KOREA</option>

	<option value='BB_COUNTRY_LU_MP'>NORTHERN MARIAN</option>

	<option value='BB_COUNTRY_LU_NO'>NORWAY</option>

	<option value='BB_COUNTRY_LU_OM'>OMAN</option>

	<option value='BB_COUNTRY_LU_PK'>PAKISTAN</option>

	<option value='BB_COUNTRY_LU_PW'>PALAU</option>

	<option value='BB_COUNTRY_LU_PS'>PALESTINE</option>

	<option value='BB_COUNTRY_LU_PA'>PANAMA</option>

	<option value='BB_COUNTRY_LU_PZ'>PANAMA CANAL ZO</option>

	<option value='BB_COUNTRY_LU_PP'>PAPUA N.GUINEA</option>

	<option value='BB_COUNTRY_LU_PY'>PARAGUAY</option>

	<option value='BB_COUNTRY_LU_PG'>PARAGUAY</option>

	<option value='BB_COUNTRY_LU_PE'>PERU</option>

	<option value='BB_COUNTRY_LU_PH'>PHILIPPINES</option>

	<option value='BB_COUNTRY_LU_PN'>PITCAIRN IS.</option>

	<option value='BB_COUNTRY_LU_PL'>POLAND</option>

	<option value='BB_COUNTRY_LU_PD'>POLAND</option>

	<option value='BB_COUNTRY_LU_PO'>PORTUGAL</option>

	<option value='BB_COUNTRY_LU_PT'>PORTUGAL</option>

	<option value='BB_COUNTRY_LU_PR'>PUERTO RICO</option>

	<option value='BB_COUNTRY_LU_QA'>QATAR</option>

	<option value='BB_COUNTRY_LU_RE'>REUNION</option>

	<option value='BB_COUNTRY_LU_RO'>ROMANIA</option>

	<option value='BB_COUNTRY_LU_RU'>RUSSIA</option>

	<option value='BB_COUNTRY_LU_RW'>RWANDA</option>

	<option value='BB_COUNTRY_LU_GS'>S.GEORGIA/S.SAN</option>

	<option value='BB_COUNTRY_LU_AS'>SAMOA</option>

	<option value='BB_COUNTRY_LU_WS'>SAMOA (WEST)</option>

	<option value='BB_COUNTRY_LU_SM'>SAN MARINO</option>

	<option value='BB_COUNTRY_LU_ST'>SAO TOME</option>

	<option value='BB_COUNTRY_LU_ZB'>SEBORGA</option>

	<option value='BB_COUNTRY_LU_SN'>SENEGAL</option>

	<option value='BB_COUNTRY_LU_RR'>Serbia</option>

	<option value='BB_COUNTRY_LU_RS'>Serbia</option>

	<option value='BB_COUNTRY_LU_SC'>SEYCHELLES</option>

	<option value='BB_COUNTRY_LU_S1'>SIERRA LEONE</option>

	<option value='BB_COUNTRY_LU_SG'>SINGAPORE</option>

	<option value='BB_COUNTRY_LU_SX'>SINT MAARTEN</option>

	<option value='BB_COUNTRY_LU_SI'>SLOVENIA</option>

	<option value='BB_COUNTRY_LU_SV'>SLOVENIA</option>

	<option value='BB_COUNTRY_LU_SNAT'>SNAT</option>

	<option value='BB_COUNTRY_LU_SB'>SOLOMON ISLAND</option>

	<option value='BB_COUNTRY_LU_SO'>SOMALIA</option>

	<option value='BB_COUNTRY_LU_SQ'>SOMALIA</option>

	<option value='BB_COUNTRY_LU_ZA'>SOUTH AFRICA</option>

	<option value='BB_COUNTRY_LU_SA'>SOUTH AFRICA</option>

	<option value='BB_COUNTRY_LU_KR'>SOUTH KOREA</option>

	<option value='BB_COUNTRY_LU_SK'>SOUTH KOREA</option>

	<option value='BB_COUNTRY_LU_SS'>SOUTH SUDAN</option>

	<option value='BB_COUNTRY_LU_ES'>SPAIN</option>

	<option value='BB_COUNTRY_LU_SP'>SPAIN</option>

	<option value='BB_COUNTRY_LU_LK'>SRI LANKA</option>

	<option value='BB_COUNTRY_LU_SL'>SRI LANKA</option>

	<option value='BB_COUNTRY_LU_BL'>St Barthelemy</option>

	<option value='BB_COUNTRY_LU_MF'>St Martin</option>

	<option value='BB_COUNTRY_LU_SH'>ST. HELENA</option>

	<option value='BB_COUNTRY_LU_KI'>ST. KITTS &amp; NEV</option>

	<option value='BB_COUNTRY_LU_KN'>ST. KITTS &amp; NEV</option>

	<option value='BB_COUNTRY_LU_LC'>ST. LUCIA</option>

	<option value='BB_COUNTRY_LU_LD'>ST. LUCIA</option>

	<option value='BB_COUNTRY_LU_VT'>ST. VINCENT</option>

	<option value='BB_COUNTRY_LU_SD'>SUDAN</option>

	<option value='BB_COUNTRY_LU_SR'>SURINAME</option>

	<option value='BB_COUNTRY_LU_SU'>SURINAME</option>

	<option value='BB_COUNTRY_LU_SJ'>SVALBARD &amp; JAN</option>

	<option value='BB_COUNTRY_LU_S2'>SWAZILAND</option>

	<option value='BB_COUNTRY_LU_SW'>SWEDEN</option>

	<option value='BB_COUNTRY_LU_SE'>SWEDEN</option>

	<option value='BB_COUNTRY_LU_CH'>SWITZERLAND</option>

	<option value='BB_COUNTRY_LU_SZ'>SWITZERLAND</option>

	<option value='BB_COUNTRY_LU_SY'>SYRIA</option>

	<option value='BB_COUNTRY_LU_TA'>TAIWAN</option>

	<option value='BB_COUNTRY_LU_TW'>TAIWAN</option>

	<option value='BB_COUNTRY_LU_TJ'>TAJIKISTAN</option>

	<option value='BB_COUNTRY_LU_TZ'>TANZANIA</option>

	<option value='BB_COUNTRY_LU_TH'>THAILAND</option>

	<option value='BB_COUNTRY_LU_TG'>TOGO</option>

	<option value='BB_COUNTRY_LU_TK'>TOKELAU</option>

	<option value='BB_COUNTRY_LU_TO'>TONGA</option>

	<option value='BB_COUNTRY_LU_TN'>TUNISIA</option>

	<option value='BB_COUNTRY_LU_TU'>TURKEY</option>

	<option value='BB_COUNTRY_LU_TR'>TURKEY</option>

	<option value='BB_COUNTRY_LU_TT'>TURKMENISTAN</option>

	<option value='BB_COUNTRY_LU_TM'>TURKMENISTAN</option>

	<option value='BB_COUNTRY_LU_TC'>TURKS &amp; CAICOS</option>

	<option value='BB_COUNTRY_LU_TV'>TUVALU</option>

	<option value='BB_COUNTRY_LU_UM'>U.S. MINOR OUTL</option>

	<option value='BB_COUNTRY_LU_AE'>UAE</option>

	<option value='BB_COUNTRY_LU_UG'>UGANDA</option>

	<option value='BB_COUNTRY_LU_UA'>UKRAINE</option>

	<option value='BB_COUNTRY_LU_UK'>UKRAINE</option>

	<option value='BB_COUNTRY_LU_US'>UNITED STATES</option>

	<option value='BB_COUNTRY_LU_UY'>URUGUAY</option>

	<option value='BB_COUNTRY_LU_UR'>URUGUAY</option>

	<option value='BB_COUNTRY_LU_UZ'>UZBEKISTAN</option>

	<option value='BB_COUNTRY_LU_VU'>VANUATU</option>

	<option value='BB_COUNTRY_LU_VA'>VATICAN</option>

	<option value='BB_COUNTRY_LU_VC'>VATICAN</option>

	<option value='BB_COUNTRY_LU_VE'>VENEZUELA</option>

	<option value='BB_COUNTRY_LU_VZ'>VENEZUELA</option>

	<option value='BB_COUNTRY_LU_VN'>VIETNAM</option>

	<option value='BB_COUNTRY_LU_VI'>VIRGIN ISLANDS</option>

	<option value='BB_COUNTRY_LU_VG'>VIRGIN ISLANDS</option>

	<option value='BB_COUNTRY_LU_WF'>WALLIS &amp; FUTUNA</option>

	<option value='BB_COUNTRY_LU_EH'>WESTERN SAHARA</option>

	<option value='BB_COUNTRY_LU_YE'>YEMEN</option>

	<option value='BB_COUNTRY_LU_ZM'>Zambia</option>

	<option value='BB_COUNTRY_LU_ZW'>ZIMBABWE</option>

	<option value='BB_COUNTRY_LU_ZI'>ZIMBABWE</option>

</select>