<select class="form-control">

	<option value='BB_EXCH_UH'>Abu Dhabi</option>

	<option value='BB_EXCH_JR'>Amman</option>

	<option value='BB_EXCH_NA'>Amsterdam (Euronext)</option>

	<option value='BB_EXCH_AR'>Argentina Composite</option>

	<option value='BB_EXCH_AU'>Australia Composite</option>

	<option value='BB_EXCH_BM'>Bahamas</option>

	<option value='BB_EXCH_BI'>Bahrain</option>

	<option value='BB_EXCH_TB'>Bangkok</option>

	<option value='BB_EXCH_SG'>Belgrade SE</option>

	<option value='BB_EXCH_BH'>Bermuda SE</option>

	<option value='BB_EXCH_VB'>Bolivia</option>

	<option value='BB_EXCH_BB'>Brussels (Euronext)</option>

	<option value='BB_EXCH_RO'>Bucharest</option>

	<option value='BB_EXCH_BU'>Bulgaria SE</option>

	<option value='BB_EXCH_CN'>Canada Composite</option>

	<option value='BB_EXCH_KY'>Cayman Islands</option>

	<option value='BB_EXCH_CI'>Chile Composite</option>

	<option value='BB_EXCH_CH'>China Composite</option>

	<option value='BB_EXCH_SL'>Colombo</option>

	<option value='BB_EXCH_CB'>Columbia</option>

	<option value='BB_EXCH_CR'>Costa Rica</option>

	<option value='BB_EXCH_CZ'>Croatia</option>

	<option value='BB_EXCH_CY'>Cyprus</option>

	<option value='BB_EXCH_DC'>Denmark Copenhagen</option>

	<option value='BB_EXCH_BD'>Dhaka</option>

	<option value='BB_EXCH_DU'>Dubai</option>

	<option value='BB_EXCH_ED'>Ecuador</option>

	<option value='BB_EXCH_EY'>Egypt</option>

	<option value='BB_EXCH_ET'>Estonia</option>

	<option value='BB_EXCH_BG'>Gaboron</option>

	<option value='BB_EXCH_GR'>Germany Composite</option>

	<option value='BB_EXCH_GN'>Ghana</option>

	<option value='BB_EXCH_GA'>Greece Athens</option>

	<option value='BB_EXCH_GU'>Guana</option>

	<option value='BB_EXCH_VN'>Hanoi</option>

	<option value='BB_EXCH_ZH'>Harare</option>

	<option value='BB_EXCH_FH'>Helsinki</option>

	<option value='BB_EXCH_HK'>Hong Kong</option>

	<option value='BB_EXCH_HB'>Hungary</option>

	<option value='BB_EXCH_IR'>Iceland</option>

	<option value='BB_EXCH_IN'>India Composite</option>

	<option value='BB_EXCH_ID'>Ireland Dublin</option>

	<option value='BB_EXCH_IT'>Israel</option>

	<option value='BB_EXCH_IM'>Italy Milan</option>

	<option value='BB_EXCH_IJ'>Jakarta</option>

	<option value='BB_EXCH_JA'>Jamaica</option>

	<option value='BB_EXCH_JP'>Japan Composite</option>

	<option value='BB_EXCH_PA'>Karachi</option>

	<option value='BB_EXCH_KZ'>Kazakhstan</option>

	<option value='BB_EXCH_KN'>Kenya</option>

	<option value='BB_EXCH_KS'>Korea Composite</option>

	<option value='BB_EXCH_MK'>Kuala Lumpur</option>

	<option value='BB_EXCH_KK'>Kuwait</option>

	<option value='BB_EXCH_NL'>Lagos</option>

	<option value='BB_EXCH_LR'>Latvia</option>

	<option value='BB_EXCH_LB'>Lebanon</option>

	<option value='BB_EXCH_LE'>Liechtenstein</option>

	<option value='BB_EXCH_PE'>Lima</option>

	<option value='BB_EXCH_PL'>Lisbon EN</option>

	<option value='BB_EXCH_LH'>Lithuania</option>

	<option value='BB_EXCH_LI'>London Intl</option>

	<option value='BB_EXCH_ZL'>Lusaka</option>

	<option value='BB_EXCH_LX'>Luxembourg</option>

	<option value='BB_EXCH_SM'>Madrid</option>

	<option value='BB_EXCH_MW'>Malawi SE</option>

	<option value='BB_EXCH_MV'>Malta</option>

	<option value='BB_EXCH_MP'>Mauritius</option>

	<option value='BB_EXCH_MM'>Mexico</option>

	<option value='BB_EXCH_RM'>MICEX</option>

	<option value='BB_EXCH_MC'>Morocco</option>

	<option value='BB_EXCH_NW'>Namibia</option>

	<option value='BB_EXCH_NZ'>New Zealand</option>

	<option value='BB_EXCH_OM'>Oman</option>

	<option value='BB_EXCH_NO'>Oslo</option>

	<option value='BB_EXCH_PS'>Palestine</option>

	<option value='BB_EXCH_PP'>Panama</option>

	<option value='BB_EXCH_FP'>Paris (Euronext)</option>

	<option value='BB_EXCH_PM'>Philippines</option>

	<option value='BB_EXCH_PZ'>PLUS Mkt Grp</option>

	<option value='BB_EXCH_CP'>Prague Composite</option>

	<option value='BB_EXCH_QD'>Qatar</option>

	<option value='BB_EXCH_RU'>Russia Composite</option>

	<option value='BB_EXCH_BZ'>Sao Paulo</option>

	<option value='BB_EXCH_AB'>Saudi Arabia</option>

	<option value='BB_EXCH_SP'>Singapore</option>

	<option value='BB_EXCH_VX'>SIX Swiss Exchange</option>

	<option value='BB_EXCH_SK'>Slovakia</option>

	<option value='BB_EXCH_SV'>Slovenia</option>

	<option value='BB_EXCH_SJ'>South Africa</option>

	<option value='BB_EXCH_EK'>St. Kitts</option>

	<option value='BB_EXCH_SS'>Stockholm</option>

	<option value='BB_EXCH_SD'>Swaziland</option>

	<option value='BB_EXCH_SW'>Switzerland</option>

	<option value='BB_EXCH_TT'>Taipei</option>

	<option value='BB_EXCH_TZ'>Tanzania</option>

	<option value='BB_EXCH_TP'>Trinidad</option>

	<option value='BB_EXCH_TU'>Tunisia</option>

	<option value='BB_EXCH_TI'>Turkey</option>

	<option value='BB_EXCH_UG'>Uganda</option>

	<option value='BB_EXCH_LN'>UK Composite</option>

	<option value='BB_EXCH_UZ'>Ukraine</option>

	<option value='BB_EXCH_US'>US Composite</option>

	<option value='BB_EXCH_VC'>Venezuela</option>

	<option value='BB_EXCH_AV'>Vienna</option>

	<option value='BB_EXCH_PW'>Warsaw</option>

</select>