
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="role">Role</label>
			<input name="role" type="text" class="form-control no-enter" id="role" placeholder="Enter a role" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="fees_type">Fees type</label>
			<input name="fees_type" type="text" class="form-control no-enter" id="fees_type" placeholder="Enter a fees type" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="target">Target</label>
			<input name="target" type="text" class="form-control no-enter" id="target" placeholder="Enter a target" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="global_ratio">Global ratio</label>
			<input name="global_ratio" type="text" class="form-control no-enter" id="global_ratio" placeholder="Enter a global ratio" value=""/>
		</div>
		<script>
			
				$("#global_ratio").mask("9?9%");
			    $("#global_ratio").on("blur", function() {
			        var value = $(this).val().length == 1 ? $(this).val() + '%' : $(this).val();
			        $(this).val( value );
			    })
			
		</script>
	
		<div class="form-group">
			<label for="effective_ratio">Effective ratio</label>
			<input name="effective_ratio" type="text" class="form-control no-enter" id="effective_ratio" placeholder="Enter a effective ratio" value=""/>
		</div>
		<script>
			
				$("#effective_ratio").mask("9?9%");
			    $("#effective_ratio").on("blur", function() {
			        var value = $(this).val().length == 1 ? $(this).val() + '%' : $(this).val();
			        $(this).val( value );
			    })
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the BUD-MAP Entry and save it">Continue</button>
	</div>
</form>