<select class="form-control">

	<option value='CONT_ACCOUNT_CLASS'>universe.models.AccountContainer</option>

	<option value='CONT_BACKTEST_CLASS'>universe.models.BacktestContainer</option>

	<option value='CONT_COMPANY_CLASS'>universe.models.CompanyContainer</option>

	<option value='CONT_PERSON_CLASS'>universe.models.PersonContainer</option>

	<option value='CONT_PORTFOLIO_CLASS'>universe.models.PortfolioContainer</option>

	<option value='CONT_PUT_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_CALL_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_FORWARD_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_INDEX_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_FUND_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_SECURITY_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_SPOT_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_BOND_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_UNIVERSE_CLASS'>universe.models.Universe</option>

</select>