<select class="form-control">

	<option value='CONT_ACCOUNT'>Account</option>

	<option value='CONT_BACKTEST'>Backtest portfolio</option>

	<option value='CONT_BOND'>Bond</option>

	<option value='CONT_CALL'>Call option</option>

	<option value='CONT_COMPANY'>Company</option>

	<option value='CONT_FORWARD'>Currency Forward</option>

	<option value='CONT_SPOT'>Currency Spot</option>

	<option value='CONT_FUND'>Fund</option>

	<option value='CONT_INDEX'>Index</option>

	<option value='CONT_UNIVERSE'>Investment Universe</option>

	<option value='CONT_PERSON'>Person</option>

	<option value='CONT_PORTFOLIO'>Portfolio</option>

	<option value='CONT_PUT'>Put Option</option>

	<option value='CONT_SECURITY'>Security</option>

</select>