
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="initial_contact_date">Initial contact date</label>
			<input name="initial_contact_date" type="text" class="form-control no-enter" id="initial_contact_date" placeholder="Enter a initial contact date" value=""/>
		</div>
		<script>
			
				$("#initial_contact_date").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
		<div class="form-group">
			<label for="last_contact_date">Last contact date</label>
			<input name="last_contact_date" type="text" class="form-control no-enter" id="last_contact_date" placeholder="Enter a last contact date" value=""/>
		</div>
		<script>
			
				$("#last_contact_date").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
		<div class="form-group">
			<label for="assets_under_management">Assets under management</label>
			<input name="assets_under_management" type="text" class="form-control no-enter" id="assets_under_management" placeholder="Enter a assets under management" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="estimated_revenue">Estimated revenue</label>
			<input name="estimated_revenue" type="text" class="form-control no-enter" id="estimated_revenue" placeholder="Enter a estimated revenue" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the Marketing Data and save it">Continue</button>
	</div>
</form>