
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="legal_representation">Legal representation</label>
			<input name="legal_representation" type="text" class="form-control no-enter" id="legal_representation" placeholder="Enter a legal representation" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="distribution">Distribution</label>
			<input name="distribution" type="text" class="form-control no-enter" id="distribution" placeholder="Enter a distribution" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="regulated">Regulated</label>
			<input name="regulated" type="text" class="form-control no-enter" id="regulated" placeholder="Enter a regulated" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="offshore">Offshore</label>
			<input name="offshore" type="text" class="form-control no-enter" id="offshore" placeholder="Enter a offshore" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="sif">SIF</label>
			<input name="sif" type="text" class="form-control no-enter" id="sif" placeholder="Enter a sif" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="qif">QIF</label>
			<input name="qif" type="text" class="form-control no-enter" id="qif" placeholder="Enter a qif" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="managed_account">Managed account</label>
			<input name="managed_account" type="text" class="form-control no-enter" id="managed_account" placeholder="Enter a managed account" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the Marketing Requirements and save it">Continue</button>
	</div>
</form>