<select class="form-control">

	<option value='OPE_GROUP_MAP_SEC_BUY'>OPE_TYPE_BUY</option>

	<option value='OPE_GROUP_MAP_ALL_BUY'>OPE_TYPE_BUY</option>

	<option value='OPE_GROUP_MAP_ALL_BFOP'>OPE_TYPE_BUY_FOP</option>

	<option value='OPE_GROUP_MAP_SEC_BFOP'>OPE_TYPE_BUY_FOP</option>

	<option value='OPE_GROUP_MAP_CASH_CCON'>OPE_TYPE_CASH_CONTRIBUTION</option>

	<option value='OPE_GROUP_MAP_ALL_CCON'>OPE_TYPE_CASH_CONTRIBUTION</option>

	<option value='OPE_GROUP_MAP_ALL_CWITH'>OPE_TYPE_CASH_WITHDRAWAL</option>

	<option value='OPE_GROUP_MAP_CASH_CWITH'>OPE_TYPE_CASH_WITHDRAWAL</option>

	<option value='OPE_GROUP_MAP_ALL_COMM'>OPE_TYPE_COMMISSION</option>

	<option value='OPE_GROUP_MAP_CASH_COMM'>OPE_TYPE_COMMISSION</option>

	<option value='OPE_GROUP_MAP_CASH_CON'>OPE_TYPE_CONTRIBUTION</option>

	<option value='OPE_GROUP_MAP_ALL_CON'>OPE_TYPE_CONTRIBUTION</option>

	<option value='OPE_GROUP_MAP_CASH_COUPON'>OPE_TYPE_COUPON</option>

	<option value='OPE_GROUP_MAP_ALL_COUPON'>OPE_TYPE_COUPON</option>

	<option value='OPE_GROUP_MAP_ALL_DIV'>OPE_TYPE_DIVIDEND</option>

	<option value='OPE_GROUP_MAP_CASH_DIV'>OPE_TYPE_DIVIDEND</option>

	<option value='OPE_GROUP_MAP_ALL_FEES'>OPE_TYPE_FEES</option>

	<option value='OPE_GROUP_MAP_CASH_FEES'>OPE_TYPE_FEES</option>

	<option value='OPE_GROUP_MAP_ALL_TRANSFER'>OPE_TYPE_INTERNAL_TRANSFER</option>

	<option value='OPE_GROUP_MAP_CASH_TRANSFER'>OPE_TYPE_INTERNAL_TRANSFER</option>

	<option value='OPE_GROUP_MAP_SEC_SELL'>OPE_TYPE_SELL</option>

	<option value='OPE_GROUP_MAP_ALL_SELL'>OPE_TYPE_SELL</option>

	<option value='OPE_GROUP_MAP_ALL_SFOP'>OPE_TYPE_SELL_FOP</option>

	<option value='OPE_GROUP_MAP_SEC_SFOP'>OPE_TYPE_SELL_FOP</option>

	<option value='OPE_GROUP_MAP_ALL_SBUY'>OPE_TYPE_SPOT_BUY</option>

	<option value='OPE_GROUP_MAP_FX_BSPOT'>OPE_TYPE_SPOT_BUY</option>

	<option value='OPE_GROUP_MAP_ALL_SSELL'>OPE_TYPE_SPOT_SELL</option>

	<option value='OPE_GROUP_MAP_FX_SSPOT'>OPE_TYPE_SPOT_SELL</option>

	<option value='OPE_GROUP_MAP_ALL_SWITCH'>OPE_TYPE_SWITCH</option>

	<option value='OPE_GROUP_MAP_ALL_TAX'>OPE_TYPE_TAX</option>

	<option value='OPE_GROUP_MAP_CASH_TAX'>OPE_TYPE_TAX</option>

	<option value='OPE_GROUP_MAP_CASH_WITH'>OPE_TYPE_WITHDRAWAL</option>

	<option value='OPE_GROUP_MAP_ALL_WITH'>OPE_TYPE_WITHDRAWAL</option>

</select>