<select class="form-control">

	<option value='OPE_TYPE_BUY'>Buy</option>

	<option value='OPE_TYPE_SPOT_BUY'>Buy spot</option>

	<option value='OPE_TYPE_CASH'>Cash</option>

	<option value='OPE_TYPE_CASH_CONTRIBUTION'>Cashier contribution</option>

	<option value='OPE_TYPE_CASH_WITHDRAWAL'>Cashier withdrawal</option>

	<option value='OPE_TYPE_CONTRIBUTION'>Contribution</option>

	<option value='OPE_TYPE_FEES'>Fees</option>

	<option value='OPE_TYPE_BUY_FOP'>Free of purchase buy</option>

	<option value='OPE_TYPE_SELL_FOP'>Free of purchase sell</option>

	<option value='OPE_TYPE_RED'>Redeem</option>

	<option value='OPE_TYPE_SELL'>Sell</option>

	<option value='OPE_TYPE_SPOT_SELL'>Sell spot</option>

	<option value='OPE_TYPE_SUB'>Subscribe</option>

	<option value='OPE_TYPE_SWITCH'>Switch</option>

	<option value='OPE_TYPE_WITHDRAWAL'>Withdrawal</option>

</select>