<select class="form-control">

	<option value='SECTYP_BOND'>Bond</option>

	<option value='SECTYP_CFD'>CFD</option>

	<option value='SECTYP_CURRENCY'>Currency</option>

	<option value='SECTYP_FUND'>Fund</option>

	<option value='SECTYP_FUTURE'>Future</option>

	<option value='SECTYP_INDEX'>Index</option>

	<option value='SECTYP_OPTION'>Option</option>

	<option value='SECTYP_SECURITY'>Standard security</option>

	<option value='SECTYP_STOCK'>Stock</option>

	<option value='SECTYP_WARRANT'>Warrant</option>

</select>