<select class="form-control">

	<option value='SEQUOIA_BUD_ACKERLY'>Ackerly</option>

	<option value='SEQUOIA_BUD_APACHE'>Apache</option>

	<option value='SEQUOIA_BUD_CLARITY_ABS_EUR'>CLARITY Absolute Return EUR</option>

	<option value='SEQUOIA_BUD_CLARITY_ABS_USD'>CLARITY Absolute Return USD</option>

	<option value='SEQUOIA_BUD_EBV'>Elisabeth Vinickis</option>

	<option value='SEQUOIA_BUD_EXONA'>Exona</option>

	<option value='SEQUOIA_BUD_FAG'>Fagaras S.A.</option>

	<option value='SEQUOIA_BUD_JAMILA'>Jamila</option>

	<option value='SEQUOIA_BUD_JAA'>Jehangir Abbas Awan</option>

	<option value='SEQUOIA_BUD_KARAN'>Karan</option>

	<option value='SEQUOIA_BUD_LHI'>Laurent Hirsch</option>

	<option value='SEQUOIA_BUD_LS'>Laurent Sciboz</option>

	<option value='SEQUOIA_BUD_MC'>Michel Carcassonne</option>

	<option value='SEQUOIA_BUD_NP'>Nadia Perna</option>

	<option value='SEQUOIA_BUD_NEMO'>Nemo Asset Management</option>

	<option value='SEQUOIA_BUD_NF'>New Frontier</option>

	<option value='SEQUOIA_BUD_NOT_AVAILABLE'>Not Available</option>

	<option value='SEQUOIA_BUD_OS'>Oleg Shashkin</option>

	<option value='SEQUOIA_BUD_OR'>Olivier Roncari</option>

	<option value='SEQUOIA_BUD_QTS'>Quantis</option>

	<option value='SEQUOIA_BUD_SAFE'>Safe</option>

	<option value='SEQUOIA_BUD_SAM_LTD'>SEQUOIA Asset Management Ltd.</option>

	<option value='SEQUOIA_BUD_SAM'>SEQUOIA Asset Management S.A.</option>

	<option value='SEQUOIA_BUD_SPMT'>SEQUOIA Portfolio Management Team</option>

	<option value='SEQUOIA_BUD_SWM'>SEQUOIA Wealth Management S.A.</option>

	<option value='SEQUOIA_BUD_TARPON'>Tarpon</option>

	<option value='SEQUOIA_BUD_VPPF'>Vincent Python/Patrizia Filipowski</option>

</select>