<select class="form-control">

	<option value='SEQUOIA_STRAT_DUAL_CURRENCY'>Dual Currency</option>

	<option value='SEQUOIA_RISK_EARTH'>Earth</option>

	<option value='SEQUOIA_RISK_EARTHWATER'>Earth-Water</option>

	<option value='SEQUOIA_RISK_FIRE'>Fire</option>

	<option value='SEQUOIA_STRAT_LIQUIDATION'>Liquidation</option>

	<option value='SEQUOIA_STRAT_NONE'>None</option>

	<option value='SEQUOIA_RISK_NOT_AVAILABLE'>Not Available</option>

	<option value='SEQUOIA_RISK_SERVICE'>Service Agreement</option>

	<option value='SEQUOIA_RISK_WATER'>Water</option>

	<option value='SEQUOIA_RISK_WATERWIND'>Water-Wind</option>

	<option value='SEQUOIA_RISK_WIND'>Wind</option>

	<option value='SEQUOIA_RISK_WINDFIRE'>Wind-Fire</option>

</select>