
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="sequoia_product">SEQUOIA Product</label>
			<input name="sequoia_product" type="text" class="form-control no-enter" id="sequoia_product" placeholder="Enter a sequoia product" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="wealthings_export">WEALTHINGS Export</label>
			<input name="wealthings_export" type="text" class="form-control no-enter" id="wealthings_export" placeholder="Enter a wealthings export" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="sequoia_inception_date">SEQUOIA Inception date</label>
			<input name="sequoia_inception_date" type="text" class="form-control no-enter" id="sequoia_inception_date" placeholder="Enter a sequoia inception date" value=""/>
		</div>
		<script>
			
				$("#sequoia_inception_date").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the SEQUOIA Flags and save it">Continue</button>
	</div>
</form>