
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="price_divisor">Price divisor</label>
			<input name="price_divisor" type="text" class="form-control no-enter" id="price_divisor" placeholder="Enter a price divisor" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the Valuation specifities and save it">Continue</button>
	</div>
</form>