{% extends "finale_base.html" %}
{% block title %}Financial Lightweight Editor - Setup{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
{% endblock %}
{% block headeroptions %}
{% endblock %}
	</head>
	<body>
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">Lists and results layout definition</h1>
	  			<p class="lead">Define the columns layout for all results or lists of the selected item.<br/>
			</div>
		</div>
		<div class="row">
			<select class='form-control no-enter' id='currency' name='currency' onchange="checkAllSteps()">
				{% with value='' %}
					{% include selection_template %}
				{% endwith %}
			</select>
		</div>
{% endblock %}