{% extends "finale_base.html" %}
{% load universe_tags %}
{% block title %}Financial Lightweight Editor - Query results{% endblock %}
{% block readyoptions %}
			currentInterval = setInterval(checkExecution, 10000);
{% endblock %}
{% block headeroptions %}
		<script>
			var currentInterval;
			var htmlResults;

			// EVENT HANDLERS

			function universeNotCreated(e) {
				alert(e.status);
			}

			function universeCreated(e) {
				if (e.result) {
					$(".modal").modal('hide');
				} else {
					universeNotCreated(e);
				}
			}

			function progressHandler(e) {
				if (e.result) {
					$(".progress").attr("class","progress hidden");
					$(".progress-bar").text("Done");
					clearInterval(currentInterval);
					getExecution();
				}
			};

			function appendResults(e) {
				$(".container").append(e);
				$("#waiting_title").text("Bloomberg query results");
				$(".lead").text("Here are the results of your query. Please note that if a ticker or ISIN was not found on Bloomberg, no entry will be displayed for that code in the results.")
			}

			function checkExecution() {
				var checkForm = new FormData();
				checkForm.append('response_key', '{{response_key}}');
				$.ajax({
					url: '/check_execution.html',
					type: 'POST',
					data: checkForm,
					processData: false,
					contentType: false,
					success: progressHandler,
				});
			}

			function getExecution() {
				var getForm = new FormData();
				getForm.append('response_key', '{{response_key}}');
				$.ajax({
					url: '/get_execution.html',
					type: 'POST',
					data: getForm,
					processData: false,
					contentType: false,
					success: appendResults,
				});
			}

			function universeCreate(name, description, securities) {
				var createForm = new FormData();
				createForm.append('universe_name', name);
				createForm.append('universe_short_name', 'From wizard...');
				createForm.append('universe_description', description);
				createForm.append('universe_securities', securities);
				$.ajax({
					url: '/universe_create.html',
					type: 'POST',
					data: createForm,
					processData: false,
					contentType: false,
					success: universeCreated,
					error: universeNotCreated
				});
			}

			function universeUpdate(clean, universeId, securities) {
				var updateForm = new FormData();
				updateForm.append('universe_id', universeId);
				updateForm.append('universe_clean', clean);
				updateForm.append('universe_securities', securities);
				$.ajax({
					url: '/universe_change_members.html',
					type: 'POST',
					data: updateForm,
					processData: false,
					contentType: false,
					success: universeCreated,
					error: universeNotCreated
				});
			}
		</script>
{% endblock %}
{% block content %}
			<div class="row">
				<div class="col-lg-11">
					<h1 id="waiting_title">Waiting for Bloomberg response</h1>
					<p class="lead">Please do not close nor refresh the current page, the process can last up to 10 minutes.<br/>
				</div>
			</div>
			<div class="row">
				<div class="progress progress-striped active">
					<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Please wait...</div>
				</div>
			</div>
{% endblock %}