{% extends "finale_base.html" %}
{% load universe_tags %}
{% block title %}Financial Lightweight Editor - Bloomberg query wizard{% endblock %}
{% block headeroptions %}
		<script>
			$(document).ready(function () {
		     	$(".btn").not('#comment').tooltip();
		     	$("#comment").popover();
			   });

		</script>
{% endblock %}
{% block content %}
			<div class="row">
				<div class="col-lg-11">
					<h1 class="">Expand your financial assets with Bloomberg</h1>
					<p class="lead">Add financial assets using tickers and ISIN codes.<br/>
				</div>
			</div>
			<form id="bloombergWizardForm" role="form" class="form-horizontal" action="/financials_bloomberg_wizard_execute.html" method="POST">{% csrf_token %}
				<div class="form-group">
					<label for="bloombergSource" class="col-lg-2 control-label">Bloomberg source</label>
					<div class="checkbox col-lg-offset-2">
						<input id="bloombergSource" name="bloombergSource" type="checkbox" value="True">&nbsp;Use Bloomberg terminal</input>
					</div>
				</div>
				<div class="form-group">
					<label for="bloombergList" class="col-lg-2 control-label">Bloomberg list</label>
					<div class="col-lg-3">
						<textarea id="bloombergList" name="bloombergList" class="form-control" rows="20"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2">
						<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Confirm the list you entered and the Bloomberg method to use">Get information</a>
					</div>
				</div>
			</form>
{% endblock %}